
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" lang="it">

<h:head>
	<meta http-equiv="cache-control"
		content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0" />
	<meta http-equiv="expires" content="Thu, 01 Dec 1994 16:00:00 GMT" />
	<meta http-equiv="Pragma" content="no-cache" />



	<h:outputScript name="js/addestramento/funzioni.js" />
	<h:outputScript name="js/addestramento/absfooter.js" />

	<!-- <h:outputScript name="bootstrap/js/bootstrap-datepicker.min.js"/>
<h:outputScript name="bootstrap/js/bootstrap-datepicker.it.min.js"/> -->
	<h:outputScript name="bootstrap/js/bootstrap.min.js" />

	<h:outputStylesheet name="bootstrap/css/bootstrap.min.css" />
	<h:outputStylesheet name="css/app/app.css" />
	<h:outputStylesheet name="css/app/uikit-demo.css" />
	<h:outputStylesheet name="css/app/common.css" />
	<h:outputStylesheet name="css/app/grid.css" />
	<h:outputStylesheet name="css/app/menu.css" />
	<h:outputStylesheet name="css/app/component.css" />
	<h:outputStylesheet name="css/app/typography.css" />
	<h:outputStylesheet name="css/app/full-page.css" />
	<h:outputStylesheet name="css/app/form.css" />
	<h:outputStylesheet name="css/app/all.min.css" />
	<h:outputStylesheet name="css/addestramento/dogane.css" />
	<h:outputStylesheet name="css/addestramento/NEW.css" />


	<ui:insert name="head">
		<ui:include
			src="#{userService.ambienteSuCuiGiro == 'produzione' ? '/pages/partials/commons/head-pud.xhtml' : '/pages/partials/commons/head-pud-addestramento.xhtml' }" />
	</ui:insert>
</h:head>

<h:body>
	<h:form>
		<p:commandLink
			actionListener="#{languageService.changeLanguage('it')}"
			update="@all">
			<!-- f:setPropertyActionListener value="it" target="#{languageService.language}" /-->
			<p:graphicImage value="/resources/images/images_it.jpg"
				title="Italiano" />
		</p:commandLink>

		<p:commandLink
			actionListener="#{languageService.changeLanguage('en')}"
			update="@all">
			<!-- f:setPropertyActionListener value="en" target="#{languageService.language}" /-->
			<p:graphicImage value="/resources/images/images_en.jpg"
				title="Inglese" />
		</p:commandLink>

	</h:form>
	<f:facet name="last">

	</f:facet>
	<ui:debug hotkey="x"
		rendered="#{facesContext.application.projectStage == 'Development'}" />
	<!-- TODO rimuovere prima di andare in produzione-->

	<a class="skiplink" href="#{msg['layout.link']}">#{msg['layout.linkLabel']}</a>

	<!-- contenitore principale -->
	<div class="ui-g">
		<!-- contiene la testata del portale -->
		<div class="ui-g-12">
			<div id="page">
				<div id="header">
					<ui:insert name="header">
						<ui:include
							src="#{userService.ambienteSuCuiGiro == 'produzione' ? '/pages/partials/commons/portaleunico-header.xhtml' : '/pages/partials/commons/portaleunico-addestramento-header.xhtml'}" />
					</ui:insert>
				</div>
			</div>
		</div>
		<div class="ui-g-12">
			<!-- contiene la zona del futuro menu a sx
			<div class="ui-g-12 ui-md-2" style="background-color: #E2E1E6;min-height: 200px;">				
				<h:outputText value="&#160;" />Menu ....
			</div>
			-->
			<!-- contiene il corpo centrale della pagina -->
			<!-- <div class="ui-g-12 ui-md-10"> -->
			<div class="ui-g-12 ui-md-12">
				<!-- ui:include src="#{breadcrumbService.breadcrumbToInclude}"/-->
				<div id="content">
					<ui:insert name="content">
						<ui:include src="/pages/partials/commons/basic-content.xhtml" />
					</ui:insert>
				</div>
			</div>
		</div>
		<!-- contiene il footer delle pagine -->
		<div class="ui-g-12">
			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="/pages/partials/commons/basic-footer.xhtml" />
				</ui:insert>
			</div>
		</div>

	</div>
</h:body>
</html>