
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" lang="it">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"></meta>
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>


	<title>Home</title>

	<h:outputScript name="js/addestramento/funzioni.js" />
	<h:outputScript name="js/addestramento/absfooter.js" />

	<!-- <h:outputScript name="bootstrap/js/bootstrap-datepicker.min.js"/>
<h:outputScript name="bootstrap/js/bootstrap-datepicker.it.min.js"/> -->
	<h:outputScript name="bootstrap/js/bootstrap.min.js" />

	<!--  PARTE UIKIT CSS-->
	<h:outputStylesheet name="css/uikit/bootstrap.min.css" />
	<h:outputStylesheet name="css/uikit/all.min.css" />
	<h:outputStylesheet name="css/uikit/titillium.css" />
	<h:outputStylesheet name="css/uikit/grid.css" />
	<h:outputStylesheet name="css/uikit/typography.css" />
	<h:outputStylesheet name="css/uikit/header-footer.css" />
	<h:outputStylesheet name="css/uikit/menu.css" />
	<h:outputStylesheet name="css/uikit/component.css" />
	<h:outputStylesheet name="css/uikit/form.css" />
	<h:outputStylesheet name="css/uikit/full-page.css" />

	<h:outputStylesheet name="css/uikit/agenzia-entrate.css" />

	<h:outputStylesheet name="css/app/app.css" />
	<h:outputStylesheet name="css/addestramento/NEW.css" />
	<!-- JS per importare jQuery -->

	<!--<h:outputScript name="js/jquery.min.js" />
	JS per importare Bootstrap
	<h:outputScript name="bootstrap/js/bootstrap.bundle.min.js" /> -->

</h:head>

<h:body>
	<!-- INIZIO INTESTAZIONE -->
	<header aria-label="Informazioni e strumenti utente">
		<div id="agenzia-header" class="d-none d-md-block">
			<div class="container-fluid py-md-1">
				<p class="my-2">
					<a href="#">Ministero dell'Economia e delle Finanze</a>
				</p>
			</div>
		</div>
		<div id="page-header">
			<div class="container-fluid py-3">
				<div class="row align-items-center">
					<div class="col-auto">
						<!-- Logo specifico del Tema (Sogei, AE, ADM, GdF, STS, GT, PFF) -->
						<img
							src="#{request.contextPath}/resources/images/AgenziaEntrate_logo_152.png"
							alt="" class="logo" />
					</div>
					<div class="col">
						<h1>
							Monitoraggio PagoPA<small class="mt-md-1">Interrogazioni
								ed Analisi dei Pagamenti</small>
						</h1>
					</div>
					<div class="col-auto">
						<div class="d-lg-flex flex-lg-column header-links btn-rounded">
							<a href="#" class="btn btn-primary btn-alt p-0 p-md-1"
								title="Scarica Guida"> <i
								class="fas fa-sign-out-alt fa-rotate-270"></i><span
								class="sr-only">Scarica Guida</span>
							</a> <a href="#" class="btn btn-primary btn-alt p-0 p-md-1"
								title="Info e Assistenza"> <i class="fas fa-info"></i><span
								class="sr-only">Info e Assistenza</span>
							</a>
						</div>
					</div>
					<div class="col-12 col-lg-auto">
						<div id="user-info" class="mt-3 mt-lg-0 shadow">
							<div class="row">
								<div class="col">
									<span class="d-none d-md-inline">Utente: </span><strong>PRTDBR92S47I838D</strong>
								</div>
								<div class="col-auto d-block d-md-none">
									<button type="button" id="open-user-info" class="collapsed"
										data-target="#user-collapse" data-toggle="collapse">
										<span class="sr-only">Apri menu utente</span>
									</button>
								</div>
							</div>
							<div id="user-collapse" class="collapse d-md-block">
								<div class="row align-items-end">
									<div class="col col-lg-auto">
										<p>
											Ufficio: <strong>TA3 - L'Aquila</strong>
										</p>
										<!-- <span class="user-links">
							  			<a class="d-block d-sm-inline-block mr-2" href="#"><i class="fab fa-font-awesome-flag mr-2"></i>Link utente</a>
									  	<a class="d-block d-sm-inline-block mr-2" href="#"><i class="fab fa-font-awesome-flag mr-2"></i>Link utente</a>
						  			</span> -->
									</div>
									<div class="col-auto">
										<button class="btn btn-primary" onclick="">
											<i class="fas fa-sign-out-alt mr-2"></i>Esci
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main> 
	<!-- INIZIO CONTENUTO -->
	<div class="container-fluid" style="min-height: 38em;">
		<p class="breadcrumb-title">#{msg['homepage.trovi']}</p>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href=""><p:link
						href="#{msg['homepage.url']}" value="#{msg['homepage.pageTitle']}"
						styleClass="first breadcrumb-truncate" /> -
					#{msg['homepage.ambiente']}</a></li>

		</ol>


		<div class="row">
			<div class="col"></div>
			<div class="col-10 col-lg-12 col-xl-12" align="center">
				<ui:insert name="content">
					<ui:include
						src="/pages/partial
					s/commons/basic-content.xhtml" />
				</ui:insert>
			</div>
			<div class="col"></div>
		</div>
	</div>
	</main>
	<BR></BR>
	<BR></BR>
	<!-- INIZIO FOOTER -->
	<footer id="page-footer">
		<div class="container-fluid py-2">
			<div class="row">
				<div class="col-auto">
					<!-- Logo monocromatico specifico del Tema (Sogei, AE, ADM, GdF, STS, GT, PFF) -->
					<img
						src="#{request.contextPath}/resources/images/AgenziaEntrate_mono_152.png"
						alt="" class="logo logo-sm" />
				</div>
				<div class="col">
					<h1>
						<span class="sr-only">Informazioni su </span>Monitoraggio PagoPA

					</h1>
					<hr class="sm" />
					A cura di Sogei <img
						src="#{request.contextPath}/resources/images/Sogei_logo_152.png"
						alt="" class="logo logo-sm" />
				</div>
			</div>
		</div>
	</footer>
	<!-- FINE FOOTER -->

</h:body>
</html>