<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<body>
	<ui:composition>

		<!-- 			<div id="ti_trovi">
					#{msg['homepage.trovi']}
					<p:link href="#{msg['homepage.url']}" value="#{msg['homepage.pageTitle']}" styleClass="first breadcrumb-truncate" />
					- #{msg['homepage.ambiente']}


				</div> -->
		<h1 class="verdana">#{msg['homepage.pageTitle']}</h1>

		<div class="ui-g">
			<div class="ui-g-10"></div>

			<div class="ui-g-2">

				<p:commandLink styleClass="homeLink" value="Legenda"
					actionListener="#{menuService.setActiveIndex(4)}"
					update="#{p:component('contentBody') } #{p:component('menuBox')}" />
				<p:commandLink styleClass="homeLink" value="Informativa"
					actionListener="#{menuService.setActiveIndex(5)}"
					update="#{p:component('contentBody') } #{p:component('menuBox') } " />


			</div>

		</div>

		<h:form prependId="false" id="form">
			<p:outputPanel id="app"
				rendered="#{ userService.utenti !=null and  fn:length(userService.utenti) > 0 }">
				<p:outputPanel id="menuBox" style="clear:left">

					<p:tabMenu id="menu_" activeIndex="#{menuService.activeIndex}">
						<p:menuitem value="Test"
							styleClass="mega-menu#{menuService.coloreTest} btn btn-default btn-entrypoint"
							actionListener="#{menuService.setActiveIndex(10)}"
							update="menu_ contentBody" />
						<p:menuitem value="Analitiche"
							styleClass="mega-menu#{menuService.coloreAnalitics} btn btn-default btn-entrypoint"
							actionListener="#{menuService.setActiveIndex(0)}"
							update="menu_ contentBody" />
						<p:menuitem value="Elenco Flussi"
							styleClass="mega-menu#{menuService.coloreElencoFlussi} btn btn-default btn-entrypoint"
							actionListener="#{menuService.setActiveIndex(1)}"
							update="menu_ contentBody" />
						<p:menuitem value="Giornale degli Eventi"
							styleClass="mega-menu#{menuService.coloreGestioneEventi} btn btn-default btn-entrypoint"
							actionListener="#{menuService.setActiveIndex(2)}"
							update="menu_ contentBody" />
						<p:menuitem value="Download"
							styleClass="mega-menu#{menuService.coloreDownload} btn btn-default btn-entrypoint"
							actionListener="#{menuService.setActiveIndex(11)}"
							update="menu_ contentBody" />

						<!-- 									<p:menuitem value="Catalogo PSP" styleClass="mega-menu#{menuService.coloreCatalogoPSP} btn btn-default btn-entrypoint" actionListener="#{menuService.setActiveIndex(3)}" update="menu_ contentBody" />
 -->
					</p:tabMenu>


				</p:outputPanel>

				<p:outputPanel id="contentBody">
					<ui:include src="#{menuService.currentPage}" />
				</p:outputPanel>
			</p:outputPanel>
			<p:outputPanel id="noapp"
				rendered="#{ userService.utenti == null or  fn:length(userService.utenti) == 0 }">
				<div align="center" style="text-align: center">Utente non
					autorizzato</div>

			</p:outputPanel>
		</h:form>

	</ui:composition>
</body>
</html>