<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<p:dataTable id="table" var="richiesta" rowsPerPageTemplate="10,15,20"
	value="#{docService.listaRichieste}" widgetVar="table"
	emptyMessage="Nessuna richiesta presente" rows="10" paginator="true"
	rowKey="#{richiesta.idRichiesta}"
	selection="#{docService.richiesteSelezionate}">
	
	<p:ajax event="rowSelect" update="button" />
	<p:ajax event="rowUnselect" update="button" />
	<p:ajax event="rowSelectCheckbox" update="button"/>
	<p:ajax event="rowUnselectCheckbox" update="button"/>
	
	<p:column selectionMode="multiple" style="width:16px;text-align:center" />

	<p:column headerText="Id Richiesta">
		<h:outputText value="#{richiesta.idRichiesta}"
			style="text-align:center" />
	</p:column>

	<p:column headerText="Id Versante">
		<h:outputText value="#{richiesta.idVersante}"
			style="text-align:center" />
	</p:column>

	<p:column headerText="Id Pagatore">
		<h:outputText value="#{richiesta.idPagatore}"
			style="text-align:center" />
	</p:column>

	<p:column headerText="Id Dominio">
		<h:outputText value="#{richiesta.idDominio}" style="text-align:center" />
	</p:column>

	<p:column headerText="DataRichiesta">
		<h:outputText value="#{richiesta.dataRichiesta}"
			style="text-align:center">
			<f:convertDateTime pattern="dd/MM/yyyy" />
		</h:outputText>
	</p:column>

	<p:column headerText="Cod. Contesto">
		<h:outputText value="#{richiesta.codContesto}"
			style="text-align:center" />
	</p:column>

	<p:column headerText="Iuv">
		<h:outputText value="#{richiesta.iuv}" style="text-align:center" />
	</p:column>

	<f:facet name="footer">
		<p:commandButton process="table" update="table" id="button"
			icon="pi pi-arrow-down" value="Download"
			onclick="PrimeFaces.monitorDownload(start, stop);" ajax="false"
			disabled="#{empty docService.richiesteSelezionate}">
			<p:fileDownload value="#{docService.file__}" />
		</p:commandButton>
	</f:facet>

</p:dataTable>



<p:outputPanel id="download">

	<h:outputText value="Codice Contesto:" style="font-weight:bold;" />
	<h:outputText value="&#160;" />
	<h:inputText value="#{docService.codContesto}" />
	<br></br>

	<h:outputText value="IUV:" style="font-weight:bold;" />
	<h:outputText value="&#160;" />
	<h:inputText value="#{docService.iuv}" />
	<br></br>

	<h:outputText value="Id Dominio:" style="font-weight:bold;>" />
	<h:outputText value="&#160;" />
	<h:inputText value="#{docService.idDominio}" />
	<br></br>

	<script type="text/javascript">
		//<![CDATA[
		function start() {
			PF('statusDialog').show();
		}

		function stop() {
			PF('statusDialog').hide();
		}
		//]]>
	</script>

	<p:dialog modal="true" widgetVar="statusDialog" header="Status"
		draggable="false" closable="false" resizable="false">
		<p:graphicImage name="/images/loading.gif" />
	</p:dialog>

	<p:commandButton value="Download" icon="pi pi-arrow-down" ajax="false"
		onclick="PrimeFaces.monitorDownload(start, stop);">
		<p:fileDownload value="#{docService.file}" />
	</p:commandButton>
</p:outputPanel>

</html>