<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<!-- h:form prependId="false"-->

<p:messages for="statoGenerale" id="statoGenerale" closable="true"
	showDetail="true" severity="fatal, warn, info" />
<p:remoteCommand name="onload" update="statoGenerale" autoRun="true" />
<p:outputPanel id="giornalePanel">

	<!-- <p:fieldset legend="Cerca il pagamento" toggleable="true" toggleSpeed="500" collapsed="true" id="cercaPanel">
			        <p:ajax event="toggle"  />
			        
		        
			        
			        <p:tabView id="tabCercaPanel">
					       
					        <p:tab title="Cerca il pagamento">
					           	
					           	
					           	 <ui:include src="/pages/pannelloRicercaPagoPa.xhtml" />
			        
								     <div align="center"> 
						 	 	 		<br/>
						 	 	 		<br/>
						 	 	 	 	
						 	 	 	 	 
						 	 	 	 	  <p:commandButton id="cercaPagoPa" value="Cerca"  validateClient="true"  process="ricercaPanelPagoPa @this " update="filtroPanelPagoPa ricercaPanelPagoPa #{p:component('statoGenerale')} " oncomplete=" filtraPagoPa();">
						 	 	 	 	 	<f:param name="validate" value="true"/>
						 	 	 	 	 	
						 	 	 	 	 </p:commandButton>
						 	 	 	 
						 	 	 	</div>	 
						 	 	 	
						 	 	 	
							 	 	
							 	 	<p:outputPanel id="filtroPanelPagoPa">
							      	 	<p:remoteCommand  id="filtraPagoPa"    name="filtraPagoPa" oncomplete=" if(#{pagoPaService.dominio != null and pagoPaService.codiceContesto != null and pagoPaService.iuv != null}) {setFiltri('#{facesContext.externalContext.response.namespace}:giornaleEventiTable:dominio','#{pagoPaService.dominio}'); setFiltri('#{facesContext.externalContext.response.namespace}:giornaleEventiTable:codContesto','#{pagoPaService.codiceContesto}'); setFiltri('#{facesContext.externalContext.response.namespace}:giornaleEventiTable:iuv','#{pagoPaService.iuv}');   PF('giornaleEventiTable').filter();}"/>
									</p:outputPanel>
			        
			        			 
					           	
					        </p:tab>
					        
					           <p:blockUI block="tabCercaPanel" trigger="cerca cercaPagoPa">
								         <p:graphicImage value="/resources/images/loading.gif" />
								    </p:blockUI>
					        
					    </p:tabView>
					   
					  
								        
			    </p:fieldset> -->

	<br />
	<p:blockUI block="giornaleEventiTable" trigger="giornaleEventiTable">
		<p:graphicImage value="/resources/images/loading.gif" />
	</p:blockUI>
</p:outputPanel>


<p:dataTable var="evento"
	value="#{giornaleDegliEventiService.listaGiornaleDegliEventi}"
	reflow="true" rows="25" id="giornaleEventiTable" paginator="true"
	widgetVar="giornaleEventiTable" tableStyle="table-layout: auto;"
	emptyMessage="Nessun elemento presente"
	currentPageReportTemplate="#{msg['datatbl_currPageTmpl']}"
	paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
	rowsPerPageTemplate="15,25,50" rowIndexVar="rowIndex" lazy="true">

	<f:facet name="{Exporters}">

		<p:commandButton value="Cerca"
			actionListener="#{giornaleDegliEventiService.cerca}"
			update="giornaleEventiTable #{p:component('statoGenerale')}" />
		<p:commandButton value="Elimina Filtro"
			onclick=" PF('filtroCalendarioRichiesta').setDate(null);  "
			update="giornaleEventiTable #{p:component('statoGenerale')}"
			action="#{giornaleDegliEventiService.eliminaFiltri}" />

		<!-- {colonne} -->

	</f:facet>



	<!--        <f:facet name="{colonne}">
		            	<p:commandButton id="toggler" type="button" value="Colonne" style="float:left" icon="ui-icon-calculator" />
			           <p:columnToggler datasource="giornaleEventiTable" trigger="toggler" />
		          </f:facet>
		          
	              
	             <p:ajax event="rowToggle"  update="#{p:component('statoGenerale')}"/>
	                         	 
			  <p:column style="width:16px">
		            <p:rowToggler />
		        </p:column> -->


	<p:column headerText="Dominio" sortBy="#{evento.idDominio}"
		filterBy="#{evento.idDominio}" filterMatchMode="contains"
		visible="false">
		<h:outputText value="#{evento.idDominio}" />
	</p:column>

	<p:column id="codContesto" headerText="Codice Contesto"
		sortBy="#{evento.codContesto}" filterBy="#{evento.codContesto}"
		visible="false">
		<h:outputText value="#{evento.codContesto}" />
	</p:column>

	<p:column id="iuv" headerText="IUV" sortBy="#{evento.iuv}"
		filterBy="#{evento.iuv}" visible="false">
		<h:outputText value="#{evento.iuv}" />
	</p:column>




	<p:column headerText="Data evento" sortBy="#{evento.dataOraEvento}"
		filterBy="#{evento.dataOraEvento}">
		<f:facet name="filter">

			<p:calendar mask="true" widgetVar="filtroCalendarioRichiesta"
				pattern="dd/MM/yyyy" maxdate="#{pagoPaService.dataCorrente}"
				timeZone="#{TimeZone.getTimeZone(facesContext.externalContext.requestLocale)}">
				<p:ajax event="dateSelect"
					oncomplete="PF('giornaleEventiTable').filter()" />
			</p:calendar>

		</f:facet>
		<h:outputText value="#{evento.dataOraEvento}">
			<f:converter converterId="XMLGregorianCalendarConverter" />
			<f:attribute name="pattern" value="dd/MM/yyyy HH:mm:ss" />
		</h:outputText>
	</p:column>


	<p:column headerText="Tipo versamento">
		<h:outputText value="#{evento.tipoVersamento}" />
	</p:column>

	<p:column headerText="Componente" visible="false">
		<h:outputText value="#{evento.componente}" />
	</p:column>

	<p:column headerText="Categoria" sortBy="#{evento.categoriaEvento}"
		filterBy="#{evento.categoriaEvento}" filterMatchMode="contains"
		visible="false">
		<h:outputText value="#{evento.categoriaEvento}" />
	</p:column>

	<p:column headerText="Tipo evento">

		<f:facet name="header">
			<h:outputText value="Tipo evento" />
			<br></br>
			<p:inputText id="tipoEventoSearch"
				value="#{giornaleDegliEventiService.tipoEvento}"
				onkeypress="if (event.keyCode == 13) {return false; }"
				process="@this">
				<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
			</p:inputText>
		</f:facet>

		<h:outputText value="#{evento.tipoEvento} " />


	</p:column>

	<p:column headerText="Sotto tipo evento">
		<h:outputText value="#{evento.sottotipoEvento} " />
	</p:column>

	<p:column headerText="Fruitore" sortBy="#{evento.idFruitore}"
		filterBy="#{evento.idFruitore}" filterMatchMode="contains"
		visible="false">
		<h:outputText value="#{evento.idFruitore} " />
	</p:column>

	<p:column headerText="Erogatore" sortBy="#{evento.idErogatore}"
		filterBy="#{evento.idErogatore}" filterMatchMode="contains"
		visible="false">
		<h:outputText value="#{evento.idErogatore} " />
	</p:column>

	<p:column headerText="Stazione Intermediario" visible="false">
		<h:outputText value="#{evento.idStazioneIntPa} " />
	</p:column>

	<p:column headerText="Canale pagamento"
		sortBy="#{evento.canalePagamento}"
		filterBy="#{evento.canalePagamento}" filterMatchMode="contains"
		visible="false">
		<h:outputText value="#{evento.canalePagamento} " />
	</p:column>


	<p:column headerText="Esito">
		<!--    <f:facet name="filter">
		                <p:selectOneMenu onchange="PF('giornaleEventiTable').filter()" >
		                    <f:selectItem itemLabel="Seleziona Stato" itemValue="#{null}" noSelectionOption="true" />
		                     <f:selectItem itemLabel="RT ACCETTATA PA" itemValue="RT ACCETTATA PA"  />
		                    <f:selectItem itemLabel="RPT RIFIUTATA NODO" itemValue="RPT RIFIUTATA NODO"  />
		                     <f:selectItem itemLabel="RPT RIFIUTATA PSP" itemValue="RPT RIFIUTATA PSP"  />
		                     <f:selectItem itemLabel="RPT ERRORE INVIO A PSP" itemValue="RPT ERRORE INVIO A PSP"  />
		                    
		                </p:selectOneMenu>
		            </f:facet>-->


		<f:facet name="header">
			<h:outputText value="Esito" />
			<br></br>

			<p:inputText id="esitoSearch"
				value="#{giornaleDegliEventiService.esito}"
				onkeypress="if (event.keyCode == 13) {return false; }"
				process="@this">
				<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />

			</p:inputText>
		</f:facet>
		<h:outputText value="#{fn:replace(evento.esito, '_', ' ')} " />
	</p:column>


	<p:column id="dettaglio" headerText="Dettaglio">
		<p:commandLink update="#{p:component('detail')}"
			oncomplete="PF('dialog').show()" title="Dettaglio Evento">
			<f:setPropertyActionListener value="#{evento}"
				target="#{giornaleDegliEventiService.dettaglioEvento}" />

			<h:outputText styleClass="pi pi-search" />
		</p:commandLink>
	</p:column>

</p:dataTable>




<p:dialog header="Dettaglio Evento" widgetVar="dialog" modal="true"
	showEffect="fade" hideEffect="fade" width="800" resizable="false">
	<p:outputPanel id="detail">
		<div class="ui-g">

			<div class="ui-g-12">
				<div class="ui-g">
					<div class="ui-g-3 th-dialog">
						<h:outputText value="Dominio:" />
					</div>
					<div class="ui-g-9 td-dialog">
						<h:outputText
							value="#{giornaleDegliEventiService.dettaglioEvento.idDominio}" />
					</div>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g">
					<div class="ui-g-3 th-dialog">
						<h:outputText value="Codice contesto:" />
					</div>
					<div class="ui-g-9 td-dialog">
						<h:outputText
							value="#{giornaleDegliEventiService.dettaglioEvento.codContesto}" />
					</div>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g">
					<div class="ui-g-3 th-dialog">
						<h:outputText value="IUV:" />
					</div>
					<div class="ui-g-9 td-dialog">
						<h:outputText
							value="#{giornaleDegliEventiService.dettaglioEvento.iuv}" />
					</div>
				</div>
			</div>

			<div class="ui-g-12">
				<div class="ui-g">
					<div class="ui-g-3 th-dialog">
						<h:outputText value="Fruitore:" />
					</div>
					<div class="ui-g-9 td-dialog">
						<h:outputText
							value="#{giornaleDegliEventiService.dettaglioEvento.idFruitore}" />
					</div>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g">
					<div class="ui-g-3 th-dialog">
						<h:outputText value="Erogatore:" />
					</div>
					<div class="ui-g-9 td-dialog">
						<h:outputText
							value="#{giornaleDegliEventiService.dettaglioEvento.idErogatore}" />
					</div>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g">
					<div class="ui-g-3 th-dialog">
						<h:outputText value="Stazione Intermediario:" />
					</div>
					<div class="ui-g-9 td-dialog">
						<h:outputText
							value="#{giornaleDegliEventiService.dettaglioEvento.idStazioneIntPa}" />
					</div>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="ui-g">
					<div class="ui-g-3 th-dialog">
						<h:outputText value="Canale pagamento:" />
					</div>
					<div class="ui-g-9 td-dialog">
						<h:outputText
							value="#{giornaleDegliEventiService.dettaglioEvento.canalePagamento}" />
					</div>
				</div>
			</div>
		</div>
	</p:outputPanel>

	<br></br>
	<p:commandButton value="Chiudi" type="button"
		styleClass="ui-confirmdialog-no button-center" icon="pi pi-times"
		onclick="PF('dialog').hide();" />
</p:dialog>


<!-- /h:form-->

</html>

