<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
		<div>
			<div style=" float:left;">
				<p:graphicImage value="/resources/images/PagoPa_Color_200px.png" />
			</div>
			<div style="  margin-left: 250px;">
				<p><strong>pagoPA </strong>è un ecosistema di regole, standard e strumenti definiti dall'Agenzia per l'Italia Digitale e accettati dalla Pubblica Amministrazione, dalle Banche, Poste ed altri istituti di pagamento <a target="_blank" href="http://www.agid.gov.it/agenda-digitale/pubblica-amministrazione/pagamenti-elettronici/psp-aderenti-elenco">( Prestatori di servizi di pagamento - PSP) aderenti all'iniziativa</a>.</p>
				<p>pagoPA garantisce a privati e aziende:</p>
				<ul>
				<li><strong>sicurezza e affidabilità</strong> nei pagamenti;</li>
				<li><strong>semplicità e flessibilità</strong> nella scelta delle modalità di pagamento;</li>
				<li><strong>trasparenza</strong> nei costi di commissione.</li>
				</ul>
				<p>pagoPA garantisce alle pubbliche amministrazioni:</p>
				<ul>
				<li><strong>certezza e automazione</strong> nella riscossione degli incassi;</li>
				<li><strong>riduzione dei costi e standardizzazione</strong> dei processi interni;</li>
				<li><strong>semplificazione e digitalizzazione</strong> dei servizi.</li>
				</ul>
				<p>pagoPA è stato realizzato da AgID in attuazione dell'art. 5 del Codice dell’Amministrazione Digitale e dal D.L. 179/2012.</p>
				<p>AgID ha predisposto le <a target="_blank" href="http://www.agid.gov.it/agenda-digitale/pubblica-amministrazione/pagamenti-elettronici/linee-guida">Linee guida</a> che definiscono regole e modalità di effettuazione dei pagamenti elettronici e ha realizzato inoltre l'infrastruttura tecnologica <strong>Nodo dei Pagamenti-SPC, </strong>che assicura l’interoperabilità fra gli attori coinvolti nel sistema.</p>
						
				<br/>
				
			</div>
		</div>
</html>

