<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

  <p:panelGrid  columns="2">
  
            <p:outputLabel value="DOMINIO" />
			  <h:outputText value="Codice Fiscale dell’Ente Creditore" />
		
			  <p:outputLabel value="IUV" />
			  <h:outputText value="Identificativo Univoco Versamento" />
	
			  <p:outputLabel value="CODICE CONTESTO" />
			  <h:outputText value="Serve a contestualizzare e rendere univoco
				lo specifico pagamento insieme ai dati Codice Fiscale (DOMINIO)
				dell’Ente Creditore e codice IUV" />
		
			  <p:outputLabel value="NodoDeiPagamentiSPC" />
			  <h:outputText value="Piattaforma tecnologica per
				l’interconnessione e l’interoperabilità tra le Pubbliche
				Amministrazioni e i Prestatori di Servizi di Pagamento" />
		
			  <p:outputLabel value="PA" />
			  <h:outputText value="Pubblica Amministrazione" />
	
			  <p:outputLabel value="PSP" />
			  <h:outputText value="Prestatore di Servizi di Pagamento. Banche,
				Istituti di pagamento o moneta elettronica, abilitati da Banca
				d’Italia ad effettuare servizi di pagamento" />
		
			  <p:outputLabel value="RPT" />
			  <h:outputText value="Richiesta di Pagamento Telematico. Oggetto
				informatico inviato dall’ente creditore al PSP attraverso il Nodo
				dei Pagamenti-SPC al fine di richiedere l’esecuzione di un pagamento" />
	
			  <p:outputLabel value="RT" />
			  <h:outputText value="Ricevuta Telematica. Oggetto informatico
				inviato dal PSP all’ente creditore attraverso il Nodo dei
				Pagamenti-SPC in risposta ad una Richiesta di Pagamento Telematico
				effettuata da un’ente creditore" />
	
			  <p:outputLabel value="KOA0000" />
			  <h:outputText value="ERRORE GENERICO" />
	
			  <p:outputLabel value="KOA0001" />
			  <h:outputText value="SOGGETTI VERSANTI DIVERSI IN CARRELLO. In
				fase di invio carrello rpt il soggetto versante deve essere unico
				per tutte le rpt" />

			  <p:outputLabel value="KOA0002" />
			  <h:outputText value="BENEFICIARI CON DIVERSO INTERMEDIARIO. In
				fase di invio carrello in ogni rpt i beneficiari possono essere
				diversi per rpt ma tutti i beneficiari devono avere lo stesso
				intermediario" />

			  <p:outputLabel value="KOA0003" />
			  <h:outputText value="BENEFICIARI DIVERSI X RPT. In fase di invio
				carrello il beneficiario deve essere lo stesso per tutta la rpt" />
		
			  <p:outputLabel value="KOA0004" />
			  <h:outputText value="ENTE CREDITORE NON TROVATO." />

			  <p:outputLabel value="KOA0005" />
			  <h:outputText value="BENEFICIARIO NON TROVATO. Il codice fiscale
				del beneficiario non e' censito nell'anagrafica (in descrizione il
				codice fiscale non trovato)" />
	
			  <p:outputLabel value="KOA0006" />
			  <h:outputText value="ERRORI SOSTANZIALI. controlli sostanziali
				non superati" />
		
			  <p:outputLabel value="KOS0001" />
			  <h:outputText value="ERRORE_INTERNO. Errore DB o eccezione non
				prevista (exception valorizzata)" />

			  <p:outputLabel value="KOS0002" />
			  <h:outputText value="ERRORE_NDP. L'invocazione del Nodo dei
				Pagamenti ha ritornato un errore applicativo" />

			  <p:outputLabel value="KOS0003" />
			  <h:outputText value="ERRORE NDP WEB. L'invocazione del Nodo dei
				Pagamenti ha avuto un errore di connessione (exception valorizzata)" />

			  <p:outputLabel value="KOS0004" />
			  <h:outputText value="ERRORE NDP WEB. L'invocazione dei servizi
				dell'Ente (notifica o verifica) ha ritornato un errore" />

			  <p:outputLabel value="KOS0005" />
			  <h:outputText value="ERRORE INTERNO DATA. Errore valorizzazione
				dati o eccezione non prevista" />

			  <p:outputLabel value="KOS0006" />
			  <h:outputText value="ERRORE TIPOFIRMA SCONOSCIUTO." />

			  <p:outputLabel value="KOS0007" />
			  <h:outputText value="ERRORE ESITOPAGAMENTO SCONOSCIUTO" />
		
			  <p:outputLabel value="KOS0008" />
			  <h:outputText value="ERRORE RPT RIFIUTATA NODO, RPT rifiutata
				dal Nodo per sintassi o semantica errata" />
		
			  <p:outputLabel value="KOS0009" />
			  <h:outputText value="ERRORE RPT ERRORE INVIO A PSP, RPT errore
				di invio a PSP" />

			  <p:outputLabel value="KOS0010" />
			  <h:outputText value="ERRORE RPT RIFIUTATA PSP, RPT rifiutata
				dall'Intermediario PSP per sintassi o semantica errata" />

			  <p:outputLabel value="KOS0011" />
			  <h:outputText value="ERRORE VALIDAZIONE NDP, Il pagamento non
				rispetta i vincoli del Nodo dei Pagamenti (descrizione con dettaglio
				sulla violazione)" />
		
			  <p:outputLabel value="faultCode" />
			  <h:outputText value="faultString" />
	
			  <p:outputLabel value="PPT_CANALE_DISABILITATO" />
			  <h:outputText value="Canale conosciuto ma disabilitato da
				configurazione." />
	
			  <p:outputLabel value="PPT_CANALE_ERR_PARAM_PAG_IMM" />
			  <h:outputText value="Parametri restituiti dal Canale per
				identificare il pagamento non corretti" />
		
			  <p:outputLabel value="PPT_CANALE_ERRORE" />
			  <h:outputText value="Errore restituito dal Canale." />

			  <p:outputLabel value="PPT_CANALE_ERRORE_RESPONSE" />
			  <h:outputText value="La response ricevuta dal Canale è vuota o
				non corretta sintatticamente o semanticamente" />
		
			  <p:outputLabel value="PPT_CANALE_INDISPONIBILE" />
			  <h:outputText value="Nessun canale utilizzabile e abilitato." />

			  <p:outputLabel value="PPT_CANALE_IRRAGGIUNGIBILE" />
			  <h:outputText value="Errore di connessione verso il Canale." />

			  <p:outputLabel value="PPT_CANALE_NONRISOLVIBILE" />
			  <h:outputText value="Il canale non è specificato, e nessun
				canale risulta utilizzabile secondo configurazione." />

			  <p:outputLabel value="PPT_CANALE_SCONOSCIUTO" />
			  <h:outputText value="Canale sconosciuto." />

			  <p:outputLabel value="PPT_CANALE_SERVIZIO_NONATTIVO" />
			  <h:outputText value="Il Servizio Applicativo del Canale non è
				attivo." />

			  <p:outputLabel value="PPT_CANALE_TIMEOUT" />
			  <h:outputText value="Timeout risposta dal Canale." />

			  <p:outputLabel value="PPT_CODIFICA_PSP_SCONOSCIUTA" />
			  <h:outputText value="Valore di codificaInfrastruttura PSP non
				censito." />

			  <p:outputLabel value="PPT_DOMINIO_DISABILITATO" />
			  <h:outputText value="Dominio disabilitato." />
		
			  <p:outputLabel value="PPT_DOMINIO_SCONOSCIUTO" />
			  <h:outputText value="IdentificativoDominio sconosciuto." />

			  <p:outputLabel value="PPT_ERRORE_EMESSO_DA_PAA" />
			  <h:outputText value="Errore restituito dall’Ente Creditore." />

			  <p:outputLabel value="PPT_ERRORE_FORMATO_BUSTA_FIRMATA" />
			  <h:outputText value="Formato busta di firma errato o non
				corrispondente al tipoFirma." />

			  <p:outputLabel value="PPT_FIRMA_INDISPONIBILE" />
			  <h:outputText value="Impossibile firmare." />

			  <p:outputLabel value="PPT_ID_CARRELLO_DUPLICATO" />
			  <h:outputText value="Identificativo Carrello RPT duplicato." />

			  <p:outputLabel value="PPT_ID_FLUSSO_SCONOSCIUTO" />
			  <h:outputText value="Identificativo flusso sconosciuto." />

			  <p:outputLabel value="PPT_OPER_NON_STORNABILE" />
			  <h:outputText value="Operazione non stornabile." />

			  <p:outputLabel value="PPT_PSP_DISABILITATO" />
			  <h:outputText value="PSP conosciuto ma disabilitato da
				configurazione" />
		
			  <p:outputLabel value="PPT_PSP_SCONOSCIUTO" />
			  <h:outputText value="PSP sconosciuto" />

			  <p:outputLabel value="PPT_RPT_DUPLICATA" />
			  <h:outputText value="RPT duplicata." />

			  <p:outputLabel value="PPT_RPT_SCONOSCIUTA" />
			  <h:outputText value="RPT sconosciuta." />

			  <p:outputLabel value="PPT_RT_NONDISPONIBILE" />
			  <h:outputText value="RT non ancora pronta." />

			  <p:outputLabel value="PPT_RT_SCONOSCIUTA" />
			  <h:outputText value="RT sconosciuta." />
		
			  <p:outputLabel value="PPT_SEMANTICA" />
			  <h:outputText value="Errore semantico." />

			  <p:outputLabel value="PPT_SINTASSI_EXTRAXSD" />
			  <h:outputText value="Errore di sintassi extra XSD." />

			  <p:outputLabel value="PPT_SINTASSI_XSD" />
			  <h:outputText value="Errore di sintassi XSD." />
		
			  <p:outputLabel value="PPT_STAZIONE_INT_PA_DISABILITATA" />
			  <h:outputText value="Stazione disabilitata." />

			  <p:outputLabel value="PPT_STAZIONE_INT_PA_IRRAGGIUNGIBILE" />
			  <h:outputText value="Errore di connessione verso la Stazione" />

			  <p:outputLabel value="PPT_STAZIONE_INT_PA_SCONOSCIUTA" />
			  <h:outputText value="IdentificativoStazioneRichiedente
				sconosciuto." />
	
			  <p:outputLabel value="PPT_STAZIONE_INT_PA_SERVIZIO_NONATTIVO" />
			  <h:outputText value="Il Servizio Applicativo della Stazione non
				e’attivo" />
		
			  <p:outputLabel value="PPT_SUPERAMENTOSOGLIA" />
			  <h:outputText value="Una qualche soglia fissata per PPT è
				temporaneamente superata e la richiesta è quindi rifiutata." />
		
			  <p:outputLabel value="PPT_SYSTEM_ERROR" />
			  <h:outputText value="Errore generico." />

		
			  <p:outputLabel value="PPT_TIPOFIRMA_SCONOSCIUTO" />
			  <h:outputText value="Il campo tipoFirma non corrisponde ad alcun
				valore previsto." />
		
			  <p:outputLabel value="PPT_WISP_SESSIONE_SCONOSCIUTA" />
			  <h:outputText value="La tripletta idDominio+keyPA+keyWISP non
				corrisponde ad alcuna sessione memorizzata nella componente WISP." />
		
			  <p:outputLabel value="PPT_WISP_TIMEOUT_RECUPERO_SCELTA" />
			  <h:outputText value="La tripletta idDominio+keyPA+keyWISP è
				relativa ad una scelta effettuata scaduta." />  
            </p:panelGrid>      

</html>

