<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<style>
.ui-dashboard-column {
	float: unset;
}
</style>

<br />

<!-- h:form prependId="false"-->

<p:outputPanel id="ricerca">
	<div align="center">
		<p:panelGrid columns="4">
			<p:pieChart id="semaforo4" type="pie"
				model="#{monitorStatService.livePieModelTest}"
				style="width:200px;height:150px" />
			<p:pieChart id="semaforo3" type="pie"
				model="#{monitorStatService.livePieModelMonitor}"
				style="width:200px;height:150px" />
			<p:pieChart id="semaforo1" type="pie"
				model="#{monitorStatService.livePieModelMonitorStat}"
				style="width:200px;height:150px" />
			<p:pieChart id="semaforo2" type="pie"
				model="#{monitorStatService.livePieModelAccountability}"
				style="width:200px;height:150px" />
			<p:pieChart id="semaforo5" type="pie"
				model="#{monitorStatService.livePieModelDoc}"
				style="width:200px;height:150px" />

		</p:panelGrid>
	</div>
	<br />

</p:outputPanel>


<!-- /h:form-->

</html>

