<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"

	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	
	>
	

	<!-- f:event listener="#{pagoPaService.resetWizardPagamento}" type="preRenderView" /-->
	
	<p:outputPanel id="ricercaPanelPagoPa">
	
	 <p:messages   id="campiPagPa" closable="true"  showDetail="false" severity="error"/>
	
	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" >    
 		
             		 
             	 <h:outputLabel value="Dominio:"  for="dominio"/>
          		 <p:inputText id="dominio" value="#{pagoPaService.dominio}"  maxlength="35" title="Inserire il dominio" size="35" validatorMessage="Inserire il dominio">
          			 
          		 	<f:validateBean disabled="#{!request.getParameter('validate')}" />
          		 </p:inputText>          
          		 <p:message for="dominio" display="tooltip"/>	 
             		
             			                    		 
          		 <h:outputLabel value="Codice contesto:"  for="codContesto"/>
          		 <p:inputText id="codContesto" value="#{pagoPaService.codiceContesto}"  maxlength="35" title="Inserire il codice contesto" size="35" validatorMessage="Inserire il codice contesto">
          			 
          		 	<f:validateBean disabled="#{!request.getParameter('validate')}" />
          		 </p:inputText>
          		 <p:message for="codContesto" display="tooltip"/>
          		 
          		 
          		  <h:outputLabel value="Iuv:"  for="iuv"/>
          		 <p:inputText id="iuv" value="#{pagoPaService.iuv}"  maxlength="35" title="Inserire il codice iuv" size="35" validatorMessage="Inserire il codice iuv">
          			 
          		 	<f:validateBean disabled="#{!request.getParameter('validate')}" />
          		 </p:inputText>
          		 <p:message for="iuv" display="tooltip"/>
          		 
             		 
                		 
             		 			                    		 			                    		 
 	 </p:panelGrid>
 	 
 	 </p:outputPanel>

</html>

