<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<!-- h:form prependId="false"-->

<p:messages for="statoGenerale" id="statoGenerale" closable="true"
	showDetail="true" severity="fatal, warn, info" autoUpdate="true" />

<p:remoteCommand name="onload" update="statoGenerale" autoRun="true" />

<!-- <p:remoteCommand name="clearFilter" update="storicoPagamentiTable #{p:component('statoGenerale')}"  action="#{storicoPagamentiService.eliminaFiltri}"/>
 -->


<p:outputPanel id="storicoPanel">

	<!-- <p:fieldset legend="Cerca il pagamento" toggleable="true" toggleSpeed="500" collapsed="true" id="cercaPanel">
			        <p:ajax event="toggle"  />
			        
		        
			        
			        <p:tabView id="tabCercaPanel">
					       
					        <p:tab title="Per codice contesto e iuv">
					           	
					           	
					           	 <ui:include src="/pages/pannelloRicercaPagoPa.xhtml" />
			        
								     <div align="center"> 
						 	 	 		<br/>
						 	 	 		<br/>
						 	 	 	 	
						 	 	 	 	 
						 	 	 	 	  <p:commandButton id="cercaPagoPa" value="Cerca"  validateClient="true"  process="ricercaPanelPagoPa @this " update="filtroPanelPagoPa ricercaPanelPagoPa #{p:component('statoGenerale')} " oncomplete=" filtraPagoPa();">
						 	 	 	 	 	<f:param name="validate" value="true"/>
						 	 	 	 	 	
						 	 	 	 	 </p:commandButton>
						 	 	 	 
						 	 	 	</div>	 
						 	 	 	
						 	 	 	
							 	 	
							 	 	<p:outputPanel id="filtroPanelPagoPa">
							      	 	<p:remoteCommand  id="filtraPagoPa"    name="filtraPagoPa" oncomplete=" if(#{pagoPaService.dominio != null and pagoPaService.codiceContesto != null and pagoPaService.iuv != null}) {setFiltri('#{facesContext.externalContext.response.namespace}:storicoPagamentiTable:dominio','#{pagoPaService.dominio}'); setFiltri('#{facesContext.externalContext.response.namespace}:storicoPagamentiTable:codContesto','#{pagoPaService.codiceContesto}'); setFiltri('#{facesContext.externalContext.response.namespace}:storicoPagamentiTable:iuv','#{pagoPaService.iuv}');   PF('storicoPagamentiTable').filter();}"/>
									</p:outputPanel>
			        
			        			 
					           	
					        </p:tab>
					        
					           <p:blockUI block="tabCercaPanel" trigger="cerca cercaPagoPa">
								         <p:graphicImage value="/resources/images/loading.gif" />
								    </p:blockUI>
					        
					    </p:tabView>
					   
					  
								        
			    </p:fieldset> -->

	<br />

	<p:blockUI block="storicoPagamentiTable"
		trigger="storicoPagamentiTable">
		<p:graphicImage value="/resources/images/loading.gif" />
	</p:blockUI>
</p:outputPanel>


<p:dataTable rowIndexVar="rowIndex" var="pagamento"
	value="#{storicoPagamentiService.listaStoricoPagamenti}" reflow="true"
	rows="25" id="storicoPagamentiTable" paginator="true"
	widgetVar="storicoPagamentiTable"
	emptyMessage="Nessun elemento presente"
	tableStyle="table-layout: auto;"
	currentPageReportTemplate="#{msg['datatbl_currPageTmpl']}"
	paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
	rowsPerPageTemplate="15,25,50" lazy="true" tableStyleClass="altRow">
	<!-- {colonne} -->
	<f:facet name="{Exporters}">

		<p:commandButton value="Cerca"
			actionListener="#{storicoPagamentiService.cerca}"
			update="storicoPagamentiTable #{p:component('statoGenerale')}" />


		<p:commandButton value="Elimina Filtri"
			onclick=" PF('filtroCalendarioRichiesta').setDate(null); PF('filtroCalendarioRicevuta').setDate(null);PF('filtroServiziList').selectValue(''); PF('filtroAreaList').selectValue(''); PF('filtroEsitoList').selectValue(''); "
			action="#{storicoPagamentiService.eliminaFiltri}"
			update="storicoPagamentiTable" />

		<!-- 	<p:commandButton id="aggiorna" value="Aggiorna" immediate="true" actionListener="#{storicoPagamentiService.aggiornaStorico}" update="storicoPagamentiTable #{p:component('statoGenerale')} #{p:component('detail')} " oncomplete="PF('storicoPagamentiTable').filter()" />
		onstart="PF('tastiUIWidget').show()" oncomplete="  PF('tastiUIWidget').hide()"  aggiornaStoricoPagamentiTable();
 -->


	</f:facet>


	<!-- 	<f:facet name="{colonne}">
		<p:commandButton id="toggler" type="button" value="Colonne" style="float:left" icon="ui-icon-calculator" />
		<p:columnToggler datasource="storicoPagamentiTable" trigger="toggler" />
	</f:facet>

	<p:ajax event="rowToggle" listener="#{giornaleDegliEventiService.onRowToggle}" update="#{p:component('statoGenerale')} giornaleEventiTable statoRPT" />
	statoRPT -->


	<!-- <p:column style="width:2%;">
		<p:rowToggler />
	</p:column> -->


	<p:column id="dominio" headerText="Dominio"
		filterBy="#{pagamento.idDominio}" filterMatchMode="contains"
		visible="false">
		<h:outputText value="#{pagamento.idDominio}" />
	</p:column>

	<p:column id="codContesto" headerText="Codice Contesto"
		filterBy="#{pagamento.codiceContesto}" visible="false">
		<h:outputText value="#{pagamento.codiceContesto}" />
	</p:column>

	<p:column id="iuv" headerText="IUV" filterBy="#{pagamento.iuv}"
		visible="false">
		<h:outputText value="#{pagamento.iuv}" />
	</p:column>


	<!-- 	<p:column id="area" headerText="Area" filterBy="#{pagamento.area}">

		<f:facet name="filter">
			<p:selectOneMenu onchange="PF('storicoPagamentiTable').filter()" widgetVar="filtroAreaList" valueChangeListener="#{monitorStatService.changeArea}">
				<p:ajax update="servizi" />
				<f:selectItem itemLabel="Seleziona" itemValue="" />
				<f:selectItems value="#{monitorStatService.areaList}" />
			</p:selectOneMenu>
		</f:facet>
		<h:outputText value="#{pagamento.area}" />
	</p:column> -->

	<p:column id="servizio" headerText="Categoria"
		filterBy="#{pagamento.servizio}">

		<f:facet name="filter">
			<p:selectOneMenu id="servizi" widgetVar="filtroServiziList"
				onchange="PF('storicoPagamentiTable').filter()">
				<f:selectItem itemLabel="Seleziona" itemValue="" />
				<f:selectItems value="#{monitorStatService.serviziList}" />
			</p:selectOneMenu>
		</f:facet>
		<h:outputText value="#{pagamento.servizio}" />
	</p:column>


	<p:column headerText="Data Richiesta"
		sortBy="#{pagamento.dataRichiesta}"
		filterBy="#{pagamento.dataRichiesta}">
		<f:facet name="filter">

			<p:calendar mask="true" widgetVar="filtroCalendarioRichiesta"
				pattern="dd/MM/yyyy" maxdate="#{pagoPaService.dataCorrente}"
				timeZone="#{TimeZone.getTimeZone(facesContext.externalContext.requestLocale)}">
				<p:ajax event="dateSelect"
					oncomplete="PF('storicoPagamentiTable').filter()" />
			</p:calendar>

		</f:facet>
		<h:outputText value="#{pagamento.dataRichiesta}">
			<f:converter converterId="XMLGregorianCalendarConverter" />
			<f:attribute name="pattern" value="dd/MM/yyyy HH:mm:ss" />

			<!-- 	<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"  timeZone="#{dateUtil.getTimeZoneRome()}" type="date"/>-->
		</h:outputText>
	</p:column>


	<p:column headerText="Data Ricevuta" sortBy="#{pagamento.dataRicevuta}"
		filterBy="#{pagamento.dataRicevuta}">
		<f:facet name="filter">

			<p:calendar mask="true" widgetVar="filtroCalendarioRicevuta"
				pattern="dd/MM/yyyy" maxdate="#{pagoPaService.dataCorrente}"
				timeZone="#{TimeZone.getTimeZone(facesContext.externalContext.requestLocale)}">
				<p:ajax event="dateSelect"
					oncomplete="PF('storicoPagamentiTable').filter()" />
			</p:calendar>

		</f:facet>
		<h:outputText value="#{pagamento.dataRicevuta}">
			<!-- <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"   timeZone="#{dateUtil.getTimeZoneRome()}" type="date"/>-->
			<f:converter converterId="XMLGregorianCalendarConverter" />
			<f:attribute name="pattern" value="dd/MM/yyyy HH:mm:ss" />

		</h:outputText>
	</p:column>


	<!-- p:column headerText="Importo" visible="false">
			        <h:outputText value="#{pagamento.importo}" />
			    </p:column-->

	<p:column id="pagatore">

		<f:facet name="header">
			<h:outputText value="Pagatore" />
			<p:inputText style="font-size:14px;max-width:120px;"
				id="pagatoreSearch" value="#{storicoPagamentiService.pagatore}"
				process="@this" maxlenght="17"
				onkeypress="if (event.keyCode == 13) {return false; }">
				<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
				<f:validateRegex pattern="[A-Z0-9]{0,17}$" />
			</p:inputText>
		</f:facet>

		<h:outputText value="#{pagamento.idPagatore}" />

	</p:column>

	<p:column id="versante" headerText="Versante">


		<f:facet name="header">
			<h:outputText value="Versante" />
			<p:inputText style="font-size:14px;max-width:120px;"
				id="versanteSearch" value="#{storicoPagamentiService.versante}"
				process="@this" maxlenght="17"
				onkeypress="if (event.keyCode == 13) {return false; }">
				<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
				<f:validateRegex pattern="[A-Z0-9]{0,24}$" />
			</p:inputText>
		</f:facet>


		<h:outputText value="#{pagamento.idVersante}" />
	</p:column>

	<!-- >p:column headerText="Stato"   sortBy="#{pagamento.statoPagamento}" filterBy="#{pagamento.statoPagamento}" filterMatchMode="contains" >
			    	<f:facet name="filter">
		                <p:selectOneMenu onchange="PF('storicoPagamentiTable').filter()" widgetVar="filtroStatoList" >
		                    <f:selectItem itemLabel="Seleziona Stato" itemValue="" noSelectionOption="true" />
		                   <f:selectItems value="#{storicoPagamentiService.stati}" />
		                </p:selectOneMenu>
		            </f:facet>
			        <h:outputText value="#{fn:replace(pagamento.statoPagamento, '_', ' ')} " /> <#{pagamento.STATO_PAGAMENTO}>
			    </p:column-->

	<p:column headerText="Stato" filterBy="#{pagamento.esitoPagamento}"
		filterMatchMode="contains">
		<f:facet name="filter">
			<!-- p:selectOneMenu onchange="PF('storicoPagamentiTable').filter()" >
		                    <f:selectItem itemLabel="Seleziona Esito" itemValue="#{null}" noSelectionOption="true" />
		                    <f:selectItem itemLabel="PAGAMENTO ESEGUITO" itemValue="PAGAMENTO ESEGUITO"  />
		                     <f:selectItem itemLabel="PAGAMENTO NON ESEGUITO" itemValue="PAGAMENTO NON ESEGUITO"  />
		                </p:selectOneMenu-->
			<p:selectOneMenu onchange="PF('storicoPagamentiTable').filter()"
				widgetVar="filtroEsitoList" styleClass="smallSelectColumn">
				<f:selectItem itemLabel="Seleziona Esito" itemValue=""
					noSelectionOption="true" />
				<f:selectItems value="#{storicoPagamentiService.esiti}" var="esito"
					itemLabel=" #{fn:replace(fn:replace(pagamento.esitoPagamento, 'PAGAMENTO', ' '), '_', ' ')} "
					itemValue="#{esito}" />

			</p:selectOneMenu>
		</f:facet>

		<h:outputText
			value="#{fn:replace(fn:replace(pagamento.esitoPagamento, 'PAGAMENTO', ' '), '_', ' ')}  "
			rendered="#{pagamento.esitoPagamento != null }" />
		<!-- <h:outputText value="#{pagamento.ESITO_PAGAMENTO}" /> -->
		<h:outputText
			value="#{fn:replace(pagamento.statoPagamento, '_', ' ')} "
			rendered="#{pagamento.esitoPagamento == null }" />


	</p:column>


	<p:column headerText="Operazioni" exportable="false">

		<p:commandLink
			update="storicoPagamentiTable #{p:component('detail')} "
			oncomplete="PF('dialog').show()"
			actionListener="#{giornaleDegliEventiService.dataDialog(pagamento)}"
			icon="pi pi-search" title="Visualizza Dettaglio">
			<h:outputText value="" styleClass="pi pi-search" />
		</p:commandLink>

		<h:panelGroup style="white-space: nowrap"
			rendered="#{pagamento.statoPagamento != 'RT_ACCETTATA_PA'  and 
				    														  pagamento.statoPagamento != 'RPT_RIFIUTATA_NODO' and 
				    														  pagamento.statoPagamento != 'RPT_RIFIUTATA_PSP'	and 
				    														  pagamento.statoPagamento != 'RPT_ERRORE_INVIO_A_PSP'  and
				    														  pagamento.statoPagamento != 'RPT_ANNULLATA'
				    														  }">






			<p:commandLink title="Aggiorna Stato"
				actionListener="#{storicoPagamentiService.aggiornaStato(pagamento,rowIndex)}"
				update="storicoPagamentiTable" onstart="PF('blockUIWidget').show()"
				oncomplete="PF('blockUIWidget').hide()">
				<h:outputText value="" styleClass="fa fa-file-o" />
			</p:commandLink>

			<p:commandLink title="Chiedi Ricevuta"
				actionListener="#{storicoPagamentiService.chiediRicevuta(pagamento,rowIndex)}"
				update="storicoPagamentiTable" onstart="PF('blockUIWidget').show()"
				oncomplete="PF('blockUIWidget').hide()">

				<h:outputText value="" styleClass="fa fa-arrow-down" />
			</p:commandLink>

		</h:panelGroup>

	</p:column>

	<p:column headerText="Opzioni Comuni" groupRow="true"
		exportable="false">
		<div style="display: none">
			<h:outputText
				value="#{pagamento.idCarrello!=null ? pagamento.idCarrello :pagamento.idFlusso }" />

		</div>

		<div align="center">
			<h:panelGroup style="white-space: nowrap"
				rendered="#{pagamento.idCarrello!=null and pagamento.statoPagamento != 'RT_ACCETTATA_PA'  and 
				    														  pagamento.statoPagamento != 'RPT_RIFIUTATA_NODO' and 
				    														  pagamento.statoPagamento != 'RPT_RIFIUTATA_PSP'	and 
				    														  pagamento.statoPagamento != 'RPT_ERRORE_INVIO_A_PSP'  and
				    														  pagamento.statoPagamento != 'RPT_ANNULLATA'
				    														 
				    														  }">
				<p:commandLink id="stampaQuietanze" title="Aggiorna Stato"
					actionListener="#{storicoPagamentiService.aggiornaStatoCarrello(pagamento)}"
					update="storicoPagamentiTable" onstart="PF('blockUIWidget').show()"
					oncomplete="PF('blockUIWidget').hide()"
					disabled="#{pagamento.idRicevuta ==null and not pagamento.statoPagamento eq 'RT_ACCETTATA_PA'}">

					<h:outputText value="" styleClass="fa fa-file-text-o" />

				</p:commandLink>

				<p:commandLink id="downloadRicevute" title="Download Ricevute"
					onstart="PF('blockUIWidget').show()"
					oncomplete="PF('blockUIWidget').hide()"
					actionListener="#{storicoPagamentiService.chiediRicevutaCarrello(pagamento)}"
					update="storicoPagamentiTable"
					disabled="#{pagamento.idRicevuta ==null and not pagamento.statoPagamento eq 'RT_ACCETTATA_PA'}">
					<h:outputText value="" styleClass="fa fa-arrow-down" />

				</p:commandLink>
			</h:panelGroup>
		</div>
	</p:column>





</p:dataTable>




<p:dialog header="Riepilogo Transazione" scrollable="true"
	scrollHeight="450" widgetVar="dialog" modal="true" showEffect="fade"
	hideEffect="fade" width="1000" resizable="true">
	<p:outputPanel id="detail">

		<div id="accordion" class="accordion" role="tablist"
			aria-multiselectable="true">
			<div class="card card-primary card-collapsible">
				<div class="card-header" role="tab">
					<h3 class="card-title">
						<a href="#accordion-1"
							class="card-toggler d-flex align-items-center "
							data-toggle="collapse" aria-expanded="true"
							aria-controls="accordion-1"> Dettaglio </a>
					</h3>
				</div>
				<div id="accordion-1" class="collapse show" data-parent="#accordion">
					<div class="card-body" role="tabpanel">

						<div class="ui-g"
							style="border-radius: 15px; border: 2px solid #fff; padding: 20px; margin-bottom: 10px;">

							<div class="ui-g-12">
								<div class="ui-g">
									<div class="ui-g-2 th-dialog">
										<h:outputText value="Dominio:" />
									</div>
									<div class="ui-g-10 td-dialog">
										<h:outputText
											value="#{giornaleDegliEventiService.dettaglioFlusso.idDominio}" />
									</div>
								</div>
							</div>
							<div class="ui-g-12">
								<div class="ui-g">
									<div class="ui-g-2 th-dialog ">
										<h:outputText value="Codice contesto:" />
									</div>
									<div class="ui-g-10 td-dialog">
										<h:outputText
											value="#{giornaleDegliEventiService.dettaglioFlusso.codiceContesto}" />
									</div>
								</div>
							</div>
							<div class="ui-g-12">
								<div class="ui-g">
									<div class="ui-g-2 th-dialog">
										<h:outputText value="IUV:" />
									</div>
									<div class="ui-g-10 td-dialog">
										<h:outputText
											value="#{giornaleDegliEventiService.dettaglioFlusso.iuv}" />
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>


			<div class="card card-primary card-collapsible">
				<div class="card-header" role="tab">
					<h3 class="card-title">
						<a href="#accordion-2"
							class="card-toggler d-flex align-items-center collapsed"
							data-toggle="collapse" aria-expanded="false"
							aria-controls="accordion-2"> Giornale degli eventi </a>
					</h3>
				</div>
				<div id="accordion-2" class="collapse" data-parent="#accordion">
					<div class="card-body" role="tabpanel">
						<p:dataTable var="evento" scrollable="true" scrollHeight="180"
							rows="5"
							paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
							rowsPerPageTemplate="5"
							value="#{giornaleDegliEventiService.listaGiornaleDegliEventiPerPagamento}"
							reflow="true" id="giornaleEventiTable" paginator="false"
							widgetVar="giornaleEventiTable" tableStyle="font-size:12px;"
							emptyMessage="Nessun elemento presente" rowIndexVar="rowIndex">

							<f:facet name="header">
							</f:facet>
							<!-- 
			            <f:facet name="{Exporters}">
				           
				 	
				 			<p:commandButton value="Reset Filtri"  onclick=" PF('filtroCalendarioRichiesta').setDate(null);  PF('giornaleEventiTable').clearFilters(); "  immediate="true" />
				 			
				 			
				     		 <h:commandLink title="Esporta file Excel" style="float:right">
				                <p:graphicImage value="/resources/images/xlsx.png" width="30"/>
				                <p:dataExporter type="xls" target="giornaleEventiTable" fileName="storico-pagamenti-#{dateUtil.getStringDate()}" />
				            </h:commandLink>
				            
				             <h:commandLink title="Esporta file Csv" style="float:right">
				                <p:graphicImage value="/resources/images/csv.png" width="30" />
				                <p:dataExporter type="csv" target="giornaleEventiTable" fileName="storico-pagamenti-#{dateUtil.getStringDate()}" />
				            </h:commandLink>
				 
				            <h:commandLink title="Esporta file Pdf" style="float:right">
				                <p:graphicImage value="/resources/images/pdf.png" width="30"/>
				                <p:dataExporter type="pdf" target="giornaleEventiTable" fileName="storico-pagamenti-#{dateUtil.getStringDate()}"  preProcessor="#{storicoPagamgiornaleDegliEventiServiceDF}" />
				            </h:commandLink>
				 
				           
				       
				        </f:facet>
				        
				        
				        
				             <f:facet name="{colonne}">
				            	<p:commandButton id="toggler" type="button" value="Colonne" style="float:left" icon="ui-icon-calculator" />
					           <p:columnToggler datasource="giornaleEventiTable" trigger="toggler" />
				          </f:facet>
				        -->

							<!-- 
			                         	 
					    <p:column headerText="Dominio" sortBy="#{evento.ID_DOMINIO}" filterBy="#{evento.ID_DOMINIO}" filterMatchMode="contains">
					        <h:outputText value="#{evento.ID_DOMINIO}" />
					    </p:column>
					 
					      <p:column id="codContesto" headerText="Codice Contesto" sortBy="#{evento.COD_CONTESTO}" filterBy="#{evento.COD_CONTESTO}">
					        <h:outputText value="#{evento.COD_CONTESTO}" />
					    </p:column>
					 
					    <p:column id="iuv" headerText="IUV"  sortBy="#{evento.IUV}" filterBy="#{evento.IUV}">
					        <h:outputText value="#{evento.IUV}" />
					    </p:column>
					    
					  
					     -->

							<p:column headerText="Data evento">

								<h:outputText value="#{evento.dataOraEvento}">
									<f:converter converterId="XMLGregorianCalendarConverter" />
									<f:attribute name="pattern" value="dd/MM/yyyy HH:mm:ss" />
									<f:attribute name="timeZone"
										value="#{dateUtil.getTimeZoneRome()}" />
								</h:outputText>
							</p:column>

							<!--  	
					 	  <p:column headerText="Tipo versamento">
					        <h:outputText value="#{evento.TIPO_VERSAMENTO}" />
					    </p:column>
					 -->
							<p:column headerText="Componente" visible="false">
								<h:outputText value="#{evento.componente}" />
							</p:column>

							<p:column headerText="Categoria" visible="false">
								<h:outputText value="#{evento.categoriaEvento}" />
							</p:column>

							<p:column headerText="Tipo evento">
								<h:outputText
									value="#{evento.tipoEvento} - #{evento.sottotipoEvento} " />
							</p:column>


							<p:column headerText="Fruitore">
								<h:outputText value="#{evento.idFruitore} " />
							</p:column>

							<p:column headerText="Erogatore">
								<h:outputText value="#{evento.idErogatore} " />
							</p:column>

							<p:column headerText="Stazione Intermediario" visible="false">
								<h:outputText value="#{evento.idStazioneIntPa} " />
							</p:column>

							<p:column headerText="Canale pagamento">
								<h:outputText value="#{evento.canalePagamento} " />
							</p:column>


							<p:column headerText="Esito">
								<h:outputText value="#{fn:replace(evento.esito, '_', ' ')} " />

							</p:column>


						</p:dataTable>
					</div>
				</div>
			</div>

			<p:outputPanel id="statoRPT">

				<div class="card card-primary card-collapsible">
					<div class="card-header" role="tab">
						<h3 class="card-title">
							<a href="#accordion-3"
								class="card-toggler d-flex align-items-center collapsed"
								data-toggle="collapse" aria-expanded="false"
								aria-controls="accordion-3"> Informazioni sullo stato della
								RPT </a>
						</h3>
					</div>
					<div id="accordion-3" class="collapse" data-parent="#accordion">
						<div class="card-body" role="tabpanel">

							<!-- p:outputPanel rendered="#{giornaleDegliEventiService.renderStati}"-->

							<ui:param name="esitoChiediStatoRPT"
								value="#{storicoPagamentiService.getEsitoStatoRPT(giornaleDegliEventiService.dettaglioFlusso.idFlusso)}" />

							<p:outputPanel rendered="#{esitoChiediStatoRPT != null}">


								<div class="ui-g">
									<div class="ui-g-6">Stato Finale</div>
									<div class="ui-g-6">Url redirect</div>
								</div>
								<div class="ui-g">
									<div class="ui-g-6">#{esitoChiediStatoRPT.stato}</div>
									<div class="ui-g-6">#{esitoChiediStatoRPT.url}</div>
								</div>

								<br />


								<p:dataTable tableStyle="font-size=12px;" var="eStoricoRPT"
									rows="5"
									paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
									rowsPerPageTemplate="5"
									value="#{esitoChiediStatoRPT.elementoStoricoRPT}">


									<f:facet name="header">
									      		  Storico stati RPT
									    	</f:facet>

									<p:column headerText="data">

										<h:outputText value="#{eStoricoRPT.data}">
											<f:converter converterId="XMLGregorianCalendarConverter" />
											<f:converter converterId="XMLGregorianCalendarConverter" />
											<f:attribute name="pattern" value="dd/MM/yyyy HH:mm:ss" />
										</h:outputText>
									</p:column>

									<p:column headerText="stato">
										<h:outputText
											value="#{fn:replace(eStoricoRPT.stato, '_', ' ')} " />
									</p:column>

									<p:column headerText="descrizione">
										<h:outputText value="#{eStoricoRPT.descrizione}" />
									</p:column>


								</p:dataTable>


								<br />


								<p:dataTable var="eStoricoVersamento"
									value="#{esitoChiediStatoRPT.elementoStoricoVersamento}">
									<f:facet name="header">
									      		  Storico Versamenti
									    	</f:facet>

									<p:column headerText="progressivo">
										<h:outputText value="#{eStoricoVersamento.progressivo}" />
									</p:column>

									<p:column headerText="data">

										<h:outputText value="#{eStoricoVersamento.data}">
											<f:converter converterId="XMLGregorianCalendarConverter" />
											<f:attribute name="pattern" value="dd/MM/yyyy HH:mm:ss" />
											<f:attribute name="timeZone"
												value="#{dateUtil.getTimeZoneRome()}" />
										</h:outputText>
									</p:column>

									<p:column headerText="stato">
										<h:outputText value="#{eStoricoVersamento.stato}" />
									</p:column>

									<p:column headerText="descrizione">
										<h:outputText value="#{eStoricoVersamento.descrizione}" />
									</p:column>


								</p:dataTable>

							</p:outputPanel>
							<!-- /p:outputPanel-->
							<p:outputPanel rendered="#{esitoChiediStatoRPT == null}">

								<br />
								<div align="center" style="text-align: center;">Informazioni
									aggiuntive presenti solo dopo l'esecuzione dell'aggiornamento
									dello stato</div>

							</p:outputPanel>

							<br></br>
						</div>
					</div>
				</div>


			</p:outputPanel>

		</div>

		<p:commandButton value="Chiudi" type="button"
			styleClass="ui-confirmdialog-no button-center" icon="pi pi-times"
			onclick="PF('dialog').hide();" />

	</p:outputPanel>

</p:dialog>


<p:blockUI widgetVar="blockUIWidget" block="storicoPagamentiTable">
	<p:graphicImage value="/resources/images/loading.gif" />
</p:blockUI>

<!-- /h:form-->

</html>

