<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<!-- h:form prependId="false"-->

<p:messages for="statoGenerale" id="statoGenerale" closable="true" showDetail="true" severity="fatal, warn, info" autoUpdate="true" />

<!-- 	<div align="center">

		<p:calendar id="inline" locale="it"
			value="#{catalogoPspService.dataCatalogo}" mode="inline"
			maxdate="#{catalogoPspService.dataCorrente}" pattern="dd/MM/yyyy">
			<p:ajax event="dateSelect"
				listener="#{catalogoPspService.onDateSelect}"
				update="#{p:component('listInformativePsp')}" />
		</p:calendar>
 
	</div> -->


<br />

<!-- 
			<p:dataTable  id="pspList" widgetVar="pspList" var="psp" value="#{catalogoPspService.catalogoPsp}"  reflow="true" style="margin-top:20px;text-align:center"  
					 	 		  	  rows="10"   paginator="true" emptyMessage="Nessun psp presente" paginatorPosition="top" filteredValue="#{catalogoPspService.catalogoPspFiltrati}"
	                              	paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	                             	rowsPerPageTemplate="5,10,15" rowIndexVar="rowIndex" rowKey="#{psp.hashCode()}" >
	                         
							        	                         
	                             	<p:column headerText="Ragione Sociale" filterBy="#{psp.ragioneSociale}" filterMatchMode="contains">
							            <h:outputText value="#{psp.ragioneSociale}" />
							        </p:column>
							      
							       						        
							       <p:column headerText="Info">
							          	
							        							            	 
							            	<p:outputPanel rendered="#{fn:containsIgnoreCase(psp.informativaMaster.urlInformazioniPSP, 'http')}">
										        <a href="#{psp.informativaMaster.urlInformazioniPSP}" target="_blank"  >Guarda le informazioni sul Prestatore di Servizi</a>	
										    </p:outputPanel>
										    <p:outputPanel rendered="#{not fn:containsIgnoreCase(psp.informativaMaster.urlInformazioniPSP, 'http')}">
										        <p:outputPanel rendered="#{fn:containsIgnoreCase(psp.informativaMaster.urlInformazioniPSP, 'www')}">
										       	 <a href="http://#{psp.informativaMaster.urlInformazioniPSP}" target="_blank"  >Guarda le informazioni sul Prestatore di Servizi</a>	
										    	</p:outputPanel>
										    </p:outputPanel> 
										     
										    <p:outputPanel rendered="#{not fn:containsIgnoreCase(psp.informativaMaster.urlInformazioniPSP, 'www')}">
										      
											 
											   	 <h:outputText value="#{psp.informativaMaster.urlInformazioniPSP}" />
												
										    </p:outputPanel> 
							            	 
							    
							        </p:column>
						              	
     							        
							         <p:column style="width:16px">
								            <p:rowToggler />
								        </p:column>
	                             	
	                             	<p:rowExpansion>
	                             		
	                             	 <p:repeat value="#{psp.listaInformativaDetail.informativaDetail}" var="dettaglio">
							           <p:outputPanel>
						    							
									    	
									                
												<div class="ui-g" style=" border-radius: 15px;  border: 2px solid #73AD21;  padding: 20px; margin-bottom: 10px;">
												
													<div class="ui-g-12">
														 <div class="ui-g">
														    <div class="ui-g-3"><h:outputText value="Disponibilità servizio:" /></div>
														    <div class="ui-g-9"><h:outputText value="#{dettaglio.disponibilitaServizio}" /></div>
														</div>
													</div>
													<div class="ui-g-12">
														 <div class="ui-g">
														    <div class="ui-g-3"><h:outputText value="Condizioni economiche:" /></div>
														    <div class="ui-g-9"><h:outputText value="#{dettaglio.condizioniEconomicheMassime}" /></div>
														</div>
													</div>	
		
													
													<div class="ui-g-12">
														 <div class="ui-g">
														    <div class="ui-g-3"><h:outputText value="Modello di pagamento" /></div>
																<div class="ui-g-9">
																
																
																	<h:outputText value="IMMEDIATO" rendered="#{dettaglio.modelloPagamento == 0}"/>
																	<h:outputText value="IMMEDIATO MULTI BENEFICIARIO" rendered="#{dettaglio.modelloPagamento == 1}"/>
																	<h:outputText value="DIFFERITO" rendered="#{dettaglio.modelloPagamento == 2}"/>
																	<h:outputText value="ATTIVATO PRESSO PSP" rendered="#{dettaglio.modelloPagamento == 3}"/>
																	
																	
																	
																</div>
													
														
														</div>
													</div>
													<div class="ui-g-12">
														 <div class="ui-g">
														    <div class="ui-g-3"><h:outputText value="Tipo versamento" /></div>
														    <div class="ui-g-9">
														    
														    	<h:outputText value="Addebito diretto" rendered="#{dettaglio.tipoVersamento == 'AD'}" />
														    	<h:outputText value="Bonifico Bancario di Tesoreria" rendered="#{dettaglio.tipoVersamento == 'BBT'}" />
														    	<h:outputText value="Carta di pagamento" rendered="#{dettaglio.tipoVersamento == 'CP'}" />
														    	<h:outputText value="On-line banking epayment" rendered="#{dettaglio.tipoVersamento == 'OBEP'}" />
														    	<h:outputText value="Bollettino Postale" rendered="#{dettaglio.tipoVersamento == 'BP'}" />
														    	<h:outputText value="Pagamento attivato presso PSP" rendered="#{dettaglio.tipoVersamento == 'PO'}" />
														    	
														    </div>

														   
														</div>
													</div>
											
													<div class="ui-g-12">
														 <div class="ui-g">
														    <div class="ui-g-3"><h:outputText value="Descrizione" /></div>
														    <div class="ui-g-9"><h:outputText value="#{dettaglio.descrizioneServizio}" /></div>
														</div>
													</div>
													<div class="ui-g-12">
													
													
															<p:outputPanel rendered="#{fn:containsIgnoreCase(dettaglio.urlInformazioniCanale, 'http')}">
														        <a href="#{dettaglio.urlInformazioniCanale}" target="_blank"  >Guarda le informazioni sul canale di pagamento</a>	
														    </p:outputPanel>
														    <p:outputPanel rendered="#{not fn:containsIgnoreCase(dettaglio.urlInformazioniCanale, 'http')}">
														        <p:outputPanel rendered="#{fn:containsIgnoreCase(dettaglio.urlInformazioniCanale, 'www')}">
														       	 <a href="http://#{dettaglio.urlInformazioniCanale}" target="_blank"  >Guarda le informazioni sul canale di pagamento</a>	
														    	</p:outputPanel>
														    </p:outputPanel> 
														     
														    <p:outputPanel rendered="#{not fn:containsIgnoreCase(dettaglio.urlInformazioniCanale, 'www')}">
														      
															  <div class="ui-g">
															  	  <div class="ui-g-3"><h:outputText value="Informazioni sul canale di pagamento" /></div>
															   	  <div class="ui-g-9"><h:outputText value="#{dettaglio.urlInformazioniCanale}" /></div>
																</div>
															   																	
														    </p:outputPanel> 
							            	
														 
													</div>
										
												</div>
								                
									    	</p:outputPanel>
									    	
									    	</p:repeat>
							        </p:rowExpansion>
						      
			 	  			</p:dataTable>
			
			 	<p:blockUI widgetVar="blockUIWidget" block="pspList" >
				         <p:graphicImage value="/resources/images/loading.gif" />
				    </p:blockUI>
				    
				     -->


<p:wizard id="wizard" widgetVar="wizard" flowListener="#{catalogoPspService.onFlowProcess}" showNavBar="false" showStepStatus="false">

	<p:tab id="ricerca">

		<p:panel id="filtroPanel">

			<div class="panel panel-default panel-collapsible">
				<div class="panel-heading">
					<a href="#collapse-2" class="collapsed" aria-expanded="true" aria-controls="collapse-2" data-toggle="collapse"> <i class="fa fa-search fa-pull-right"></i>
						<h3 class="panel-title">Filtra PSP</h3>
					</a>
				</div>
				<div id="collapse-2" class="panel-body collapse">

					<div style="text-align: center;">

						<div class="ui-g">
							<div class="ui-g-12" align="center">
								<p:selectOneRadio id="tipoFiltro" value="#{catalogoPspService.tipoFiltro}">
									<f:selectItem itemLabel="Tutti" itemValue="0" />
									<f:selectItem itemLabel="Marca Da Bollo" itemValue="1" />
									<f:selectItem itemLabel="Storno" itemValue="2" />
									<!-- p:ajax  event="valueChange"  listener="#{catalogoPspService.filtro}"/-->
								</p:selectOneRadio>
							</div>
						</div>
						<div class="ui-g">
							<div class="ui-g-3">
								<p:outputLabel value="Data transazione:" for="da" />
							</div>
							<div class="ui-g-3">
								<p:outputLabel value="Seleziona o digita una parola chiave:" for="parolaChiave" />
							</div>
							<div class="ui-g-3">
								<p:outputLabel value="Seleziona o digita una Ragione Sociale:" for="ragioneSociale" />
							</div>
							<div class="ui-g-3">
								<p:outputLabel value="Seleziona o digita un Identificativo Canale:" for="identificativoCanale" />
							</div>

						</div>
						<div class="ui-g">
							<div class="ui-g-3">
								<p:calendar id="da" mask="true" locale="it" value="#{catalogoPspService.dataCatalogo}" maxdate="#{catalogoPspService.dataCorrente}" pattern="dd/MM/yyyy" navigator="true">
									<p:ajax event="dateSelect" listener="#{catalogoPspService.onDateSelect}" update="#{p:component('listInformativePsp')}" />
								</p:calendar>
							</div>
							<div class="ui-g-3">
								<p:autoComplete id="parolaChiave" dropdown="true" value="#{catalogoPspService.parolaChiave}" completeMethod="#{catalogoPspService.completeParolaChiave}" forceSelection="true">
									<p:ajax event="itemSelect" listener="#{catalogoPspService.onItemSelectParolaChiave}" />


								</p:autoComplete>
							</div>
							<div class="ui-g-3">
								<p:autoComplete id="ragioneSociale" dropdown="true" value="#{catalogoPspService.ragioneSociale}" completeMethod="#{catalogoPspService.completeRagioneSociale}" forceSelection="true">
									<p:ajax event="itemSelect" listener="#{catalogoPspService.onItemSelectRagioneSociale}" />



								</p:autoComplete>
							</div>
							<div class="ui-g-3">
								<p:autoComplete id="identificativoCanale" dropdown="true" value="#{catalogoPspService.identificativoCanale}" completeMethod="#{catalogoPspService.completeIdentificativoCanale}" forceSelection="true">
									<p:ajax event="itemSelect" listener="#{catalogoPspService.onItemSelectIdentificativoCanale}" />
								</p:autoComplete>
							</div>

							<p:keyFilter for="parolaChiave" testFunction="true" regEx="/([A-Z0-9])/i" />
							<p:keyFilter for="ragioneSociale" testFunction="true" regEx="/([A-Z0-9])/i" />
							<p:keyFilter for="identificativoCanale" testFunction="true" regEx="/([A-Z0-9])/i" />
						</div>
						<div class="ui-g">
							<div class="ui-g-6">
								<p:commandButton value="Cerca " actionListener="#{catalogoPspService.filtro}" update="listInformativePsp" process="@this tipoFiltro " />
							</div>
							<div class="ui-g-6">
								<p:commandButton value="Elimina Filtro" actionListener="#{catalogoPspService.eliminaFiltro}" update="listInformativePsp filtroPanel " />
							</div>
						</div>

					</div>
				</div>
			</div>

		</p:panel>

		<p:dataGrid id="listInformativePsp" widgetVar="listInformativePsp" var="informativaPsp" value="#{catalogoPspService.catalogoPsp}" reflow="true" layout="grid" rows="12" paginator="true" style="font-size:12px; font-weight: bold;"
			emptyMessage="Nessun elemento presente" 	currentPageReportTemplate="#{msg['datatbl_currPageTmpl']}"  paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"   rowsPerPageTemplate="6,12,16" rowIndexVar="rowIndex">

			<p:panel header="#{informativaPsp.ragioneSociale}"  styleClass="boxed"  style="text-align:center">
				<h:panelGrid columns="1" style="width:100%"   styleClass="boxed1" >

					<p:graphicImage value="#{catalogoPspService.image}" width="120" height="40" cache="false">
						<f:param name="imgIndex" value="#{rowIndex}" />
					</p:graphicImage>

					<br />

					<p:lightBox styleClass="imagebox" id="lighbox1">
						<ui:repeat var="informativaDetail" value="#{informativaPsp.listaInformativaDetail.informativaDetail}" varStatus="status">
							<p:graphicImage value="#{catalogoPspService.imageLogoServizio}" width="35" height="25" cache="false">
								<f:param name="rowIndexImgIndex" value="#{rowIndex}" />
								<f:param name="rowIndexInformativaDetail" value="#{status.index}" />
							</p:graphicImage>
							<h:outputText value="" />

						</ui:repeat>

					</p:lightBox>


				</h:panelGrid>
				<br />

				<div class="ui-g">
					<div class="ui-g-6">


						<!-- c:set var="urlInformazioniPSP"  value="#{fn:split(informativaPsp.informativaMaster.urlInformazioniPSP,'www')}"/>
										     	
												
										    									
												<c:forEach var="i" begin="0" end="2">
												 urlInformazioniPSP[#{i}]: #{urlInformazioniPSP[i]}
												 
												</c:forEach-->




						<c:set value="#{fn:containsIgnoreCase(informativaPsp.informativaMaster.urlInformazioniPSP,'http') == false and fn:containsIgnoreCase(informativaPsp.informativaMaster.urlInformazioniPSP,'www') == true}" var="format" />


						<ui:fragment rendered="#{format == true }">

							<a href="http://#{informativaPsp.informativaMaster.urlInformazioniPSP}" target="_blank">
								<div>
									<h:outputText styleClass="fa fa-fw fa-external-link" style="margin:0 auto;" />
								</div>
							</a>

						</ui:fragment>

						<ui:fragment rendered="#{format == false }">



							<a href="#{informativaPsp.informativaMaster.urlInformazioniPSP}" target="_blank">
								<div>
									<h:outputText styleClass="fa fa-fw fa-external-link" style="margin:0 auto;" />
								</div>
							</a>
						</ui:fragment>


					</div>
					<div class="ui-g-6">
						<p:commandLink oncomplete="next();">
							<h:outputText styleClass="fa fa-fw fa-search" style="margin:0 auto;" />
							<f:setPropertyActionListener value="#{rowIndex}" target="#{catalogoPspService.selectedCtInformativaPSP}" />
						</p:commandLink>
					</div>
				</div>

			</p:panel>


		</p:dataGrid>



	</p:tab>
	<p:tab id="verifica">

		<p:panel id="informativaPspDetail" autoUpdate="true">


			<p:panel header="#{catalogoPspService.informativaPSP.ragioneSociale}">

				<div style="text-align: center;">

					<div class="ui-g" style="font-weight: bold">

						<div class="ui-g-2">
							<p:outputLabel for="dp" value="Data Pubblicazione" />
						</div>
						<div class="ui-g-2">
							<p:outputLabel for="dv" value="Data Inizio Validità" />
						</div>
						<div class="ui-g-4">
							<p:outputLabel value="Sito Web" />
						</div>
						<div class="ui-g-2">
							<p:outputLabel for="st" value="Storno Pagamento" />
						</div>
						<div class="ui-g-2">
							<p:outputLabel for="mb" value="Marca da Bollo Digitale" />
						</div>
					</div>

					<div class="ui-g">

						<div class="ui-g-2">
							<h:outputText id="dp" value="#{catalogoPspService.informativaPSP.informativaMaster.dataPubblicazione}">
								<f:converter converterId="XMLGregorianCalendarConverter" />
								<f:attribute name="pattern" value="dd/MM/yyyy HH:mm:ss" />
							</h:outputText>
						</div>
						<div class="ui-g-2">
							<h:outputText id="dv" value="#{catalogoPspService.informativaPSP.informativaMaster.dataInizioValidita}">
								<f:converter converterId="XMLGregorianCalendarConverter" />
								<f:attribute name="pattern" value="dd/MM/yyyy HH:mm:ss" />
							</h:outputText>
						</div>
						<div class="ui-g-4">
							<a id="sw" href="#{catalogoPspService.informativaPSP.informativaMaster.urlInformazioniPSP}" target="_blank">Info</a>
						</div>
						<div class="ui-g-2">
							<h:outputText id="st" value="#{catalogoPspService.informativaPSP.informativaMaster.stornoPagamento}" />
						</div>
						<div class="ui-g-2">
							<h:outputText id="mb" value="#{catalogoPspService.informativaPSP.informativaMaster.marcaBolloDigitale}" />
						</div>
					</div>

				</div>

				<br />
				<br />

				<p:dataTable id="listaInformativaDetail" widgetVar="listaInformativaDetail" var="informativaDetail" value="#{catalogoPspService.informativaPSP.listaInformativaDetail.informativaDetail}" reflow="true" style="margin-top:20px;text-align:center" rows="10" paginator="true"
					currentPageReportTemplate="#{msg['datatbl_currPageTmpl']}" emptyMessage="Nessuna informazione presente" paginatorPosition="top" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" rowIndexVar="rowIndexInformativaDetail">


					<p:column headerText="Id Intermediario">
						<h:outputText value="#{informativaDetail.identificativoIntermediario}" />
					</p:column>

					<p:column headerText="Id Canale">
						<h:outputText value="#{informativaDetail.identificativoCanale}" />
					</p:column>


					<p:column headerText="Tipo Versamento">
						<h:outputText value="#{informativaDetail.tipoVersamento}" />
					</p:column>


					<p:column headerText="Modello">
						<h:outputText value="#{informativaDetail.modelloPagamento}" />
					</p:column>


					<p:column headerText="Priorità">
						<h:outputText value="#{informativaDetail.priorita}" />
					</p:column>

					<p:column headerText="Canale" visible="false">
						<h:outputText value="#{informativaDetail.canaleApp}" />
					</p:column>
					<!-- 
						<p:column headerText="Esito Transazione" visible="false">
							<h:outputText value="#{informativaDetail.generazioneEsitoTransazione}" />
						</p:column>
 -->

					<p:column headerText="Servizio Imprese" visible="false">
						<h:outputText value="#{informativaDetail.servizioAlleImprese}" />
					</p:column>


					<!-- 	<p:column headerText="Pagamenti Pre-Esercizio" visible="false">
							<h:outputText value="#{informativaDetail.pagamentiPreEsercizio}" />
						</p:column>
 -->
					<p:column headerText="Dd Servizio">
						<h:outputText value="#{informativaDetail.identificazioneServizio.nomeServizio}" />
					</p:column>


					<p:column headerText="Logo Servizio">
						<p:graphicImage value="#{catalogoPspService.imageLogoServizio}" width="40" height="40">

							<f:param name="rowIndexInformativaDetail" value="#{rowIndexInformativaDetail}" />
						</p:graphicImage>
					</p:column>


					<p:column style="width:16px">
						<p:rowToggler />
					</p:column>


					<p:rowExpansion>

						<p:dataList value="#{informativaDetail.listaParoleChiave.paroleChiave}" var="parolaChiave">
							<f:facet name="header">
										            Parole Chiave 
										        </f:facet>
										     	 #{parolaChiave.value()}
										    </p:dataList>



						<p:dataTable id="informazioniServizio" var="informazioniServizio" value="#{informativaDetail.listaInformazioniServizio.informazioniServizio}" reflow="true" style="margin-top:20px;text-align:center" rows="10" paginator="true" currentPageReportTemplate="#{msg['datatbl_currPageTmpl']}"
							emptyMessage="Nessuna informazione presente" paginatorPosition="top" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
							<f:facet name="header">
										            Informazioni Servizio
										        </f:facet>

							<p:column headerText="Lingua">
								<h:outputText value="#{informazioniServizio.codiceLingua}" />
							</p:column>

							<p:column headerText="Descrizione">
								<h:outputText value="#{informazioniServizio.descrizioneServizio}" />
							</p:column>

							<p:column headerText="Disponibilità">
								<h:outputText value="#{informazioniServizio.disponibilitaServizio}" />
							</p:column>

							<p:column headerText="Limitazioni">
								<h:outputText value="#{informazioniServizio.limitazioniServizio}" />
							</p:column>

							<p:column headerText="Informazioni Canale">
								<h:outputText value="#{informazioniServizio.urlInformazioniCanale}" />
							</p:column>


							<!-- 		<p:column headerText="Condizioni Economiche Massime">
									<h:outputText value="#{informazioniServizio.condizioniEconomicheMassime}" />
								</p:column>
 -->
						</p:dataTable>


						<br />

						<p:panel header="Costi Servizio">
							<div class="ui-g" style="font-weight: bold">
								<div class="ui-g-3">
									<h:outputText value="Tipo Costo Transazione" />
								</div>
								<div class="ui-g-3">
									<h:outputText value="Tipo Commissione" />
								</div>
								<div class="ui-g-3">
									<h:outputText value="Tipo Canale Servizio" />
								</div>
								<div class="ui-g-3">
									<h:outputText value="Platea Erogazione Servizio" />
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-3">
									<h:outputText value="#{informativaDetail.costiServizio.tipoCostoTransazione}" />
								</div>
								<div class="ui-g-3">
									<h:outputText value="#{informativaDetail.costiServizio.tipoCommissione}" />
								</div>
								<div class="ui-g-3">
									<h:outputText value="#{informativaDetail.costiServizio.tipoCanaleServizio}" />
								</div>
								<div class="ui-g-3">
									<h:outputText value="#{informativaDetail.costiServizio.plateaErogazioneServizio}" />
								</div>
							</div>
						</p:panel>

						<p:dataTable id="fasciaCostoServizio" var="fasciaCostoServizio" value="#{informativaDetail.costiServizio.listaFasceCostoServizio.fasciaCostoServizio}" reflow="true" style="margin-top:20px;text-align:center" rows="8" paginator="true" currentPageReportTemplate="#{msg['datatbl_currPageTmpl']}"
							emptyMessage="Nessuna informazione presente">

							<p:column headerText="Importo Massimo Fascia">
								<h:outputText value="#{fasciaCostoServizio.importoMassimoFascia}" />
							</p:column>

							<p:column headerText="Costo Fisso">
								<h:outputText value="#{fasciaCostoServizio.costoFisso}" />
							</p:column>

							<p:column headerText="Commissione">
								<h:outputText value="#{fasciaCostoServizio.valoreCommissione}" />
							</p:column>
						</p:dataTable>


					</p:rowExpansion>

				</p:dataTable>


				<br />
				<div align="center">
				<!-- 	<p:commandLink update="informativaPspDetail" oncomplete="back();">
						<h:outputText styleClass="fa fa-fw fa-th-list" style="margin:0 auto;" />

					</p:commandLink> -->
					
					<p:commandButton update="informativaPspDetail" oncomplete="back();" value="Indietro"
					 ></p:commandButton>
				</div>
			</p:panel>

		</p:panel>

	</p:tab>
</p:wizard>

<!-- /h:form-->

</html>

