<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<p:messages id="messages" showDetail="true" closable="true">
	<p:autoUpdate />
</p:messages>


<p:dataTable id="table" var="elemento" rowsPerPageTemplate="10,15,20"
	value="#{testService.listaElementi}" widgetVar="table"
	emptyMessage="Nessun elemento presente" rows="10" paginator="true"
	selectionMode="single" selection="#{testService.elementoSelezionato}"
	rowKey="#{elemento.id}-#{elemento.nome}">
	<!--  reflow="true"   -->


	<p:column headerText="Id" sortBy="#{elemento.id}">
		<f:facet name="header">
			<h:outputText value="Id" />
			<br></br>
			<p:inputText id="idSearch"
				value="#{testService.filtroElemento._idString}" process="@this">
				<p:keyFilter regEx="/([0-9])/i" preventPaste="false" />
			</p:inputText>
		</f:facet>
		<h:outputText value="#{elemento.id}" style="text-align:center" />
	</p:column>

	<p:column headerText="Nome" sortBy="#{elemento.nome}">
		<f:facet name="header">
			<h:outputText value="Nome" />
			<br></br>
			<p:inputText id="nomeSearch"
				value="#{testService.filtroElemento.nome}" process="@this">
				<p:keyFilter regEx="/([A-Z])/i" preventPaste="false" />
			</p:inputText>
		</f:facet>
		<h:outputText value="#{elemento.nome} " />
	</p:column>

	<p:column headerText="Data" sortBy="#{elemento.data}"
		filterBy="#{elemento.data}" style="text-align:center;">
		<f:facet name="filter">

			<p:calendar value="#{testService.filtroElemento.data}"
				process="@this" pattern="dd/MM/yyyy" mask="true" />

		</f:facet>
		<h:outputText value="#{elemento.data}">
			<f:convertDateTime pattern="dd/MM/yyyy" />
		</h:outputText>
	</p:column>

	<p:column headerText="Descrizione" sortBy="#{elemento.descrizione}">
		<f:facet name="header">
			<h:outputText value="Descrizione" />
			<br></br>
			<p:inputText id="descrizioneSearch"
				value="#{testService.filtroElemento.descrizione}" process="#this">
				<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
			</p:inputText>
		</f:facet>
		<h:outputText value="#{elemento.descrizione}" />
	</p:column>


	<p:column style="width:68px;text-align: center">
		<f:facet name="header">

			<p:commandButton value="Cerca" actionListener="#{testService.cerca}"
				update="table" />
		</f:facet>
		<p:commandButton update="selected table"
			oncomplete="PF('selection').show()" icon="pi pi-pencil">
			<f:setPropertyActionListener value="#{elemento}"
				target="#{testService.elementoDaAggiornare}" />
		</p:commandButton>

		<p:commandButton update="deleted table"
			oncomplete="PF('deletion').show()" icon="pi pi-trash">
			<f:setPropertyActionListener value="#{elemento}"
				target="#{testService.elementoDaEliminare}" />
		</p:commandButton>
	</p:column>


	<f:facet name="paginatorTopLeft">

		<p:commandButton update="inse table" oncomplete="PF('insert').show()"
			icon="pi pi-plus" value="Aggiungi Elemento">
			<f:setPropertyActionListener value="#{elemento}"
				target="#{testService.elementoDaInserire}" />
		</p:commandButton>
	</f:facet>
	<f:facet name="paginatorTopRight">
		<p:commandButton value="Elimina Filtri"
			onclick=" PF('filtroCalendario').setDate(null);" update="table"
			action="#{testService.eliminaFiltri}" />
	</f:facet>

</p:dataTable>

<p:contextMenu for="table">
	<p:menuitem value="Dettagli" update="table table2" icon="pi pi-search"
		oncomplete="PF('carousel').show()"
		action="#{testService.getSottoelementiById}" />
</p:contextMenu>

<p:dialog header="Elemento Selezionato" widgetVar="insert" modal="true"
	showEffect="fade" hideEffect="fade" resizable="false">
	<p:outputPanel id="inse" style="text-align:center;">

		<h:outputText value="Nome:" style="font-weight:bold;" />
		<h:outputText value="&#160;" />
		<h:inputText value="#{testService.nome}" />
		<br></br>

		<h:outputText value="Data:" style="font-weight:bold;" />
		<h:outputText value="&#160;" />
		<p:calendar value="#{testService.data}" />
		<br></br>

		<h:outputText value="Descrizione:" style="font-weight:bold;" />
		<h:outputText value="&#160;" />
		<h:inputText value="#{testService.descrizione}" />
		<br></br>

		<h:commandButton value="Inserisci" onclick="PF('insert').hide()"
			action="#{testService.add}" />
		<h:outputText value="&#160;" />
		<h:outputText value="&#160;" />
		<h:outputText value="&#160;" />
		<h:commandButton value="Annulla" onclick="PF('insert').hide()" />

		<br></br>

	</p:outputPanel>
</p:dialog>

<p:dialog header="Modifica Elemento" widgetVar="selection" modal="true"
	showEffect="fade" hideEffect="fade" resizable="false">
	<p:outputPanel id="selected" style="text-align:center;">

		<h:outputText value="Id:" style="font-weight:bold;" />
		<h:outputText value="&#160;" />
		<h:outputText value="#{testService.elementoDaAggiornare.id}" />
		<br></br>
		<h:outputText value="Nome:" style="font-weight:bold;" />
		<h:outputText value="&#160;" />
		<h:inputText value="#{testService.elementoDaAggiornare.nome}" />
		<br></br>
		<h:outputText value="Data:" style="font-weight:bold;" />
		<h:outputText value="&#160;" />
		<p:calendar value="#{testService.elementoDaAggiornare.data}">
			<f:convertDateTime pattern="dd/MM/yyyy" />
		</p:calendar>
		<br></br>
		<h:outputText value="Descrizione:" style="font-weight:bold;" />
		<h:outputText value="&#160;" />
		<h:inputText value="#{testService.elementoDaAggiornare.descrizione}" />
		<br></br>
		<br></br>

		<h:commandButton value="Salva" onclick="PF('selection').hide()"
			action="#{testService.update}" />
		<h:outputText value="&#160;" />
		<h:outputText value="&#160;" />
		<h:outputText value="&#160;" />
		<h:commandButton value="Annulla" onclick="PF('selection').hide()" />

	</p:outputPanel>
</p:dialog>

<p:dialog header="Elemento Selezionato" widgetVar="deletion"
	modal="true" showEffect="fade" hideEffect="fade" resizable="false">
	<p:outputPanel id="deleted" style="text-align:center;">

		<h:outputText
			value="Sei sicuro di voler eliminare il seguente elemento?"
			style="font-weight:bold;" />
		<br></br>
		<br></br>

		<h:outputText value="Id:" style="font-weight:bold;" />
		<h:outputText value="&#160;" />
		<h:outputText value="#{testService.elementoDaEliminare.id}" />
		<br></br>
		<h:outputText value="Nome:" style="font-weight:bold;" />
		<h:outputText value="&#160;" />
		<h:outputText value="#{testService.elementoDaEliminare.nome}" />
		<br></br>
		<h:outputText value="Data:" style="font-weight:bold;" />
		<h:outputText value="&#160;" />
		<h:outputText value="#{testService.elementoDaEliminare.data}">
			<f:convertDateTime pattern="dd/MM/yyyy" />
		</h:outputText>
		<br></br>
		<h:outputText value="Descrizione:" style="font-weight:bold;" />
		<h:outputText value="&#160;" />
		<h:outputText value="#{testService.elementoDaEliminare.descrizione}" />
		<br></br>
		<h:commandButton value="Si" onclick="PF('deletion').hide()"
			action="#{testService.delete}" update="table" />
		<h:outputText value="&#160;" />
		<h:outputText value="&#160;" />
		<h:outputText value="&#160;" />
		<h:commandButton value="Annulla" onclick="PF('deletion').hide()" />

	</p:outputPanel>
</p:dialog>

<p:dialog header="Sottoelementi dell'elemento selezionato"
	widgetVar="carousel" modal="true" showEffect="fade" hideEffect="fade"
	resizable="false">
	<p:dataTable value="#{testService.listaSottoelementi}"
		headerText="Responsive" var="sottoelemento"
		itemStyle="text-align:center"
		emptyMessage="Nessun sottoelemento presente" id="table2">


		<p:column headerText="Id:">
			<h:outputText value="#{sottoelemento.id}" />
		</p:column>

		<p:column headerText="Nome:">
			<h:outputText value="#{sottoelemento.nome}" />
		</p:column>

		<p:column headerText="Data:">
			<h:outputText value="#{sottoelemento.data}">
				<f:convertDateTime pattern="dd/MM/yyyy" />
			</h:outputText>
		</p:column>

		<p:column headerText="Descrizione:">
			<h:outputText value="#{sottoelemento.descrizione}" />
		</p:column>

		<f:facet name="footer">
                Sottoelementi totali: #{fn:length(testService.listaSottoelementi)}
        </f:facet>
	</p:dataTable>
</p:dialog>

</html>