<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view locale="#{facesContext.externalContext.requestLocale}">
	<h:head>
		<!-- <h:outputStylesheet library="css" name="main.css" /> -->
		<script src="../resources/js/main.js" />
		<script src="../resources/js/pdfmake.min.js" />
		<script src="../resources/js/vfs_fonts.js" />


		<h:outputScript target="body">
			
            function next(){
                PF('wizard').next();
            }
 
            function back(){
                PF('wizard').back();
            }
            
            
           
        </h:outputScript>
		<script type="text/javascript">
			PrimeFaces.locales['it'] = {
				closeText : 'Chiudi',
				prevText : 'Precedente',
				nextText : 'Prossimo',
				monthNames : [ 'Gennaio', 'Febbraio', 'Marzo', 'Aprile',
						'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre',
						'Ottobre', 'Novembre', 'Dicembre' ],
				monthNamesShort : [ 'Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu',
						'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic' ],
				dayNames : [ 'Domenica', 'Lunedì', 'Martedì', 'Mercoledì',
						'Giovedì', 'Venerdì', 'Sabato' ],
				dayNamesShort : [ 'Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven',
						'Sab' ],
				dayNamesMin : [ 'D', 'L', 'M', 'M ', 'G', 'V ', 'S' ],
				weekHeader : 'Sett',
				firstDay : 1,
				isRTL : false,
				showMonthAfterYear : false,
				yearSuffix : '',
				timeOnlyTitle : 'Solo Tempo',
				timeText : 'Ora',
				hourText : 'Ore',
				minuteText : 'Minuto',
				secondText : 'Secondo',
				currentText : 'Data Odierna',
				ampm : false,
				month : 'Mese',
				week : 'Settimana',
				day : 'Giorno',
				allDayText : 'Tutto il Giorno'
			};
		</script>
		<style>
.ui-dashboard-column {
	float: unset;
}
</style>
	</h:head>
	<h:body>

		<!-- QUI GESTIREMO I DOMINI  -->
		<ui:composition template="#{monitorStatService.layout}">

			<ui:define name="content">
				<ui:include src="#{monitorStatService.content}" />
			</ui:define>

		</ui:composition>


		<!-- 		<ui:composition template="/pages/layouts/entrate-layout.xhtml">

			<ui:define name="content">
					<ui:include src="/pages/content-entrate.xhtml"/>
			</ui:define>

		</ui:composition> -->




	</h:body>
</f:view>
</html>

