/* Agenzia */
/*#canale_agenzia, #canale_operatore, #canale_viaggiatore {
	margin: 0;
	padding: 0;
	clear: both;
}*/

h1 {
	margin: 0;
	padding: 0 0 0 5px;
	font-size: 150%;
	font-weight: normal;
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: left;
	border-bottom: 3px solid #9EA7AE;
	clear: both;
}
#canale_agenzia h1, .agenzia h1 {
	border-bottom: 3px solid #9EA7AE;
}

#canale_operatore h1, .operatore h1 {
	border-bottom: 3px solid #2D5396;
}

#colonna2 h1#titolocanale {
	border:0;	
	border-bottom: 1px solid #2D5396;
	font-size:110%;
	padding-top:10px;
	
}

#canale_viaggiatore h1, .viaggiatore h1 {
	border-bottom: 3px solid #689BCA;
}
#colonna2 h1 {
	margin-top: 52px;
	padding-left: 10px;
}
.operatore #colonna2 h1 {
	border-bottom: 3px solid #2D5396;
}
h2 {
	margin: 10px 0 10px 0;
	padding: 0;
	border-bottom: 1px solid #9EA7AE;
	font-size: 120%;
	font-weight: bold;
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: left;
/*	border-bottom: 3px solid #9EA7AE;
*/	clear: both;
}

#canale_agenzia  h2, .agenzia h2  {
	border-bottom: 1px solid #9EA7AE;
	font-weight: normal;
}
#canale_operatore  h2, .operatore h2 {
	border-bottom: 1px solid #2D5396;
	font-weight: normal;
}
#canale_viaggiatore h2, .viaggiatore h2 {
	border-bottom: 1px solid #689BCA;
	font-weight: normal;
}

#canale_agenzia p, 
#canale_operatore p, 
#canale_viaggiatore p  {
	text-align: left;
	margin: .5em 0 1em 0;
	padding: 0;
}

/* Box con struttura a 2 colonne */
#container_box {
	clear: both;
	width: 100%;
	float: left;
	overflow: hidden;
	margin: 0 0 20px 0;
	padding: 0;
}

div.container {
	width: 45%;
	float: left;
	margin: 10px 20px 20px 0;
	border: 0 none;
	text-align: left;
	min-height: 150px;
	height: auto !important; 
 	height: 150px; 
}
#canale_agenzia #colonna1 div.container h2, #canale_operatore #colonna1 div.container h2, #canale_viaggiatore #colonna1 div.container h2 {
	margin: 0; 
	padding: 0 0 2px 5px; 
	color: #333;
}
#canale_agenzia #colonna1 div.container h2 a, #canale_operatore #colonna1 div.container h2 a, #canale_viaggiatore #colonna1 div.container h2 a, #canale_agenzia #colonna1 div.container h2 a:visited, #canale_operatore #colonna1 div.container h2 a:visited, #canale_viaggiatore #colonna1 div.container h2 a:visited, 
#canale_agenzia #colonna1 h2 a, #canale_operatore #colonna1 h2 a, #canale_viaggiatore #colonna1 h2 a {
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	font-size: 100%;
}
#canale_agenzia #colonna1 div.container h2 a:hover, #canale_operatore #colonna1 div.container h2 a:hover, #canale_viaggiatore #colonna1 div.container h2 a:hover {
	text-decoration: underline;
}

#canale_agenzia #colonna1 div.container p, #canale_operatore #colonna1 div.container p, #canale_viaggiatore #colonna1 div.container p {
	margin: .5em 0 0 0;
	padding: 0 10px;
	color: #000;
}
div.container ul  {
	margin: 0 0 0 10px;
	padding: 0 4px;
	list-style: none;
}
#colonna1 ul li {
	margin: 1em .5em;
	padding: 0 0 0 15px;
	list-style: none;
	background-image: url(../img/bullet_agenzia.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	color: #333;
}

#colonna1 ul li.eventi {
margin-left:300px;
}

#colonna1 div.eventi {
margin-left:320px;
margin-top:25px;
}
#canale_agenzia #colonna1  ul li {
	background-image: url(../img/bullet_agenzia.gif);
}
#canale_operatore  #colonna1 ul li {
	background-image: url(../img/bullet_operatore.gif);
}
#canale_viaggiatore  #colonna1 ul li {
	background-image: url(../img/bullet_viaggiatore.gif);
}

#colonna1 ol li ul, #colonna1 ul li ul {
	font-size:100%;
}

div.container ul li.pdf {
	margin: 1em .5em 1em 0;
	padding: 0 0 0 25px;
	list-style: none;
	background-image: url(../img/icona_pdf.gif);
	background-repeat: no-repeat;
	background-position: 0 0px;
	color: #333;
}
ul li a.pdf  {
	padding: 0 0 0 25px;
	background-image: url(../img/icona_pdf.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
div.container ul li a /*, div.container ul li a:visited*/ {
	color:#0000EE;
	color: #295C83;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
div.container ul li a:hover {
	color: #AE1B13;
	text-decoration: underline;
}
#canale_agenzia #colonna1 div.container  ul li p, #canale_operatore  #colonna1 div.container  ul li p, #canale_viaggiatore  #colonna1 div.container  ul li p {
	font-size: 100%;
	margin: .5em 0 0 0;
	padding: 0 10px 0 0;
	color: #000;
}
/*div.container p.tutto{
	text-align: right;
	margin: 0;
	padding: 0;
}
div.container p.tutto a {
	display: block;
	background: #003E7F;
	color:#FFF;
	margin: 10px 0 0 0;
	border: 1px solid #DEDEDE;
	padding: 5px 20px 5px 10px;
	text-decoration: underline;
	text-align: right;
}

div.container p.tutto a:hover {
	text-decoration: none;
}*/
#canale_agenzia #colonna1 div.container p.tutto, 
#canale_operatore #colonna1 div.container p.tutto, 
#canale_viaggiatore  #colonna1 div.container p.tutto  {
	border: 1px solid #E1E1DF;
	text-align: left;
	float: right;
	margin: 5px 10px 10px 10px;
	padding: 0 0 0 10px;
}

#canale_agenzia #colonna1 div.container p.tutto a, #canale_agenzia #colonna1 div.container p.tutto a:visited,
#canale_operatore #colonna1 div.container p.tutto a, #canale_operatore  #colonna1 div.container p.tutto a:visited, 
#canale_viaggiatore  #colonna1 div.container p.tutto a, #canale_viaggiatore  #colonna1 div.container p.tutto a:visited {
	display: block;
	text-align: right;
	margin: 0;
	padding: 0 30px 0 0;
	color: #333;
	background-image: url(../img/bullet_tutto_agenzia.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	font-weight: bold;
}
#canale_operatore #colonna1 div.container p.tutto a, #canale_operatore  #colonna1 div.container p.tutto a:visited {
	background-image: url(../img/bullet_tutto_operatore.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
#canale_viaggiatore  #colonna1 div.container p.tutto a, #canale_viaggiatore  #colonna1 div.container p.tutto a:visited {
	background-image: url(../img/bullet_tutto_viaggiatore.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
div.container p.tutto a:hover {
	text-decoration: underline;
}
#canale_agenzia #colonna1 div.container p.telefono {
	background: #FFF;
	color:#333;
	margin: 10px 0 0 0;
	border: 1px solid #DEDEDE;
	text-align: left;
	padding: 5px 20px 5px 30px;
	background-image: url(../img/cornettap.gif);
    background-position: 10px 5px;
    background-repeat: no-repeat;
}
div.container p.evidenza {
	background: #003E7F;
	color:#FFF;
	margin: 10px 0 0 0;
	border: 1px solid #DEDEDE;
	text-align: left;
	padding: 5px 20px 5px 10px;
}
#canale_agenzia #colonna1 div.container p.evidenza, #canale_operatore #colonna1 div.container p.evidenza, #canale_viaggiatore #colonna1 div.container p.evidenza {
	background: #FFF;
	color:#333;
	margin: 10px 0 0 0;
	border: 1px solid #DEDEDE;
	text-align: left;
	padding: 5px 20px 5px 10px;
}

#canale_agenzia #colonna1 div.container p.evidenza a, #canale_operatore #colonna1 div.container p.evidenza a, #canale_viaggiatore #colonna1 div.container p.evidenza a, 
#canale_agenzia #colonna1 div.container p.evidenza  a:visited, #canale_operatore #colonna1 div.container p.evidenza  a:visited, #canale_viaggiatore #colonna1 div.container p.evidenza a:visited {
	display: inline;
	text-decoration: underline;

}
div.container p.evidenza a:hover {
	text-decoration: none;
}

/* Fine Box  con struttura a 2 colonne */

/* Banner colonna destra */
#banner {
	margin: 0 auto 20px auto;
	padding: 0;
}
#banner img {
	width: 100%;
}

/* Box Link correlati */

#box_link_correlati h2 {
	border-bottom: 3px solid #8DD66B;
	margin: 0;
	padding: 0 0 0 5px;
	font-size: 130%;
	font-weight: normal;
}

#box_link_correlati ul {
	margin: 0 0 0 10px;
	padding: 0;
	list-style: none;
}

#box_link_correlati ul li {
	margin: 1em .5em;
	padding: 0 0 0 12px;
	list-style: none;
	background-image: url(../img/bullet_link_correlati.gif);
	background-repeat: no-repeat;
	background-position: 0 4px;
	color: #333;
}

/* Interruzioni pianificate */
#canale_operatore p.stato_app {
	margin: 0;
}
#interruzioni_pianificate {
	margin: 0 5px;
	padding: 0 5px;
	list-style: none;
	border: 2px solid #ccc;
	border-top: 0 none;
}
#interruzioni_pianificate h3 {
	font-size: 90%;
}

/* Fine Box Link correlati */

/* Il viaggiatore */
#colonna1 ul#carta_doganale {
	margin: 1em .5em;
	padding: 0 0 0 160px;
	list-style: none;
	background-image: url(../img/carta_doganale.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}

/*Fabio semaforo 02052012 */
#semaforo {
	margin:5px;
	padding: 5px;
	border:2px solid #ccc;
	background-color:#EFEDEE;
}

#semaforo img{
	 width:43px;
	 height:35px;
	 float:right;
	 border:1px solid #bbb;
}

#semaforo p{
	width:70%;
	float:left;
	margin:2px;
	width:169px;
}

div.stato1, div.stato2 {
	border:1px solid #ccc; 
	background-color:#fff;
	padding:3px;
	height:37px;
}

div.stato1 {
margin-bottom:5px;
}

