.invisibile {
	LEFT: -1000px; WIDTH: 990px; POSITION: absolute
}
.border0 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.bordo {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid
}
IMG.bordosemplice {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 95%; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 95%
}

.spaziotop {
	padding-top: 15px;	
}

.centrato {
	TEXT-ALIGN: center;
}
.sinistro {
	TEXT-ALIGN: left;
}
.destro {
	TEXT-ALIGN: right;
}
.leftmargin {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 120px;
}
.bottommargin {
	MARGIN-BOTTOM: 120px; MARGIN-LEFT: 100px
}
.floatleft {
	FLOAT: left
}
.clearfloat {
	CLEAR: left; LINE-HEIGHT: 0px
}
#testatafr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../immagini/francese/testata_alta_fr3.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 750px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 111px
}
#testatain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../immagini/inglese/testata_alta_en3.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 750px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 111px
}
H2 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, Helvetica
}
H3 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, Helvetica;
font-size:85%;
color:#434343;

}
H3 a, H3 a:hover  {
	color:#000;
}
H4 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 6px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-STYLE: italic; FONT-FAMILY: Tahoma, Arial, Helvetica
}
H5 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 6px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 1em; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, Helvetica
}
H5.trans {
	PADDING-RIGHT: 0px; MARGIN-TOP: 6px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; COLOR: #16266C; FONT-SIZE: 1em; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, Helvetica
}
TABLE.software {
	MARGIN-LEFT: 35px; WIDTH: 90%
}
TABLE.software TD {
	FONT-FAMILY: Tahoma, Arial, Helvetica; TEXT-ALIGN: left
}
#indicecartella UL {
	MARGIN: 20px 10px
}
#indicecartella LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#indicecartella LI IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 10px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
#indicecartella P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: -17px 0px 15px 15px; PADDING-TOP: 0px
}
#indicecartella DL.indice, .indicedoppianav DL.indice {
	BORDER-RIGHT: red 0px solid; BORDER-TOP: red 0px solid; MARGIN-TOP: 15px; FLOAT: left; BORDER-LEFT: red 0px solid; WIDTH: 100%; BORDER-BOTTOM: red 0px solid; 
}
#indicecartella DL DT.indice, .indicedoppianav DL DT.indice {
	CLEAR: left; FLOAT: left; padding-left:0;
}
#indicecartella DL DD.indice, .indicedoppianav DL DD.indice {
	CLEAR: right; MARGIN-BOTTOM: 10px; 
}
#indicecartella DL.indice2 {
	MARGIN-TOP: 15px; FLOAT: left; MARGIN-LEFT: 20px; WIDTH: 100%
}
#indicecartella DL DT.indice2 {
	CLEAR: left; FLOAT: left; MARGIN-LEFT: 20px
}
#indicecartella DL DD.indice2 {
	CLEAR: right; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 20px
}
.clearfloat {
	CLEAR: right
}
OL.lettera {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; LIST-STYLE-TYPE: lower-alpha
}
OL.lettera LI {
	MARGIN: 15px 15px 15px -15px
}
OL.lettera UL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; LIST-STYLE-TYPE: disc
}
OL.lettera UL LI {
	MARGIN-LEFT: -22px; MARGIN-RIGHT: 22px
}
OL.alfabeto {
	LIST-STYLE-TYPE: lower-alpha
}
#contenuti_testo .titolostampabile {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #292894; PADDING-TOP: 1pt; FONT-FAMILY: Tahoma, Arial, Helvetica
}
.palla {
	LIST-STYLE-TYPE: disc
}
.sottolineato {
	TEXT-DECORATION: underline
}
TABLE.glossario {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
TABLE.glossario TD.testata {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
TABLE.glossario TD {
	BORDER-RIGHT: thin ridge; PADDING-RIGHT: 5px; BORDER-TOP: thin ridge; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: thin ridge; PADDING-TOP: 5px; BORDER-BOTTOM: thin ridge
}
TABLE.glossario TD.strong {
	BORDER-RIGHT: thin ridge; PADDING-RIGHT: 5px; BORDER-TOP: thin ridge; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; BORDER-LEFT: thin ridge; PADDING-TOP: 5px; BORDER-BOTTOM: thin ridge
}
TABLE.glossario TH {
	BORDER-RIGHT: thin ridge; PADDING-RIGHT: 5px; BORDER-TOP: thin ridge; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; BORDER-LEFT: thin ridge; PADDING-TOP: 5px; BORDER-BOTTOM: thin ridge; TEXT-ALIGN: center
}

TABLE.codici {
	WIDTH: 90%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
TABLE.codici TD.titolocodici {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; WIDTH: 30%; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
TABLE.codici TD.testocodici {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; WIDTH: 60%; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
P.mlintra {
	COLOR: #1859b5; TEXT-ALIGN: center
}
.cmlintra {
	PADDING-BOTTOM: 10px; MARGIN: 10px auto; WIDTH: 80%; PADDING-TOP: 10px; HEIGHT: 60%; BACKGROUND-COLOR: #1A487A; TEXT-ALIGN: center
}
.cmlintra_y {
	COLOR: #1A487A
}
.fcmlintra {
	TEXT-ALIGN: left
}
.fcmlintra FIELDSET LABEL {
	BORDER-RIGHT: red 0px solid; BORDER-TOP: red 0px solid; MARGIN-LEFT: 10px; BORDER-LEFT: red 0px solid; WIDTH: 160px; LINE-HEIGHT: 23px; BORDER-BOTTOM: red 0px solid; TEXT-ALIGN: left
}
.fcmlintra INPUT {
	TEXT-ALIGN: left
}
.fcmlintra SELECT {
	TEXT-ALIGN: left
}
.fcmlintra FORM BR {
	CLEAR: left
}
#contenuti_due_colonne #colonna1 UL.storialaboratori {
	LIST-STYLE-TYPE: none;
	line-height:28px;
	margin:15px 0 0 0;
}
#contenuti_due_colonne #colonna1 UL.storialaboratori LI {
	DISPLAY: inline; WHITE-SPACE: nowrap; TEXT-ALIGN: left; TEXT-DECORATION: none;
	border:1px solid #ccc;
	background-image:none;
	padding:3px;
	margin:1px;
}
UL.regcla {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; MARGIN: 0px; PADDING-TOP: 0.3em; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
UL.regcla A {
	WHITE-SPACE: nowrap
}
UL.regcla LI {
	DISPLAY: inline; PADDING-LEFT: 0.3em; MARGIN: 0px 0.3em; HEIGHT: 0px
}
IMG.immaginefloat {
	BORDER-RIGHT: #749eb1 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #749eb1 1px solid; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 1.4em; BORDER-LEFT: #749eb1 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #749eb1 1px solid; BACKGROUND-COLOR: #ffffff
}

IMG.cartinafloat {
	border: 0; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 1.4em; PADDING-TOP: 10px; BACKGROUND-COLOR: #ffffff;
}

IMG.imgfloatright {
	BORDER-RIGHT: #749eb1 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #749eb1 1px solid; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN: 1.4em; BORDER-LEFT: #749eb1 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #749eb1 1px solid; BACKGROUND-COLOR: #ffffff
}
IMG.galleriafoto {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
/* modifiche per galleria fotografica effettuate il 04 dicembre 2008 */
IMG.galleriafotoorizzontale {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	WIDTH: 172px;
	HEIGHT: 115px;
}

IMG.galleriafotoverticale {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;		
	WIDTH: 127px;
	HEIGHT: 141px;
}
/* fine modifiche del 04 dicembre 2008 - Carla */

IMG.galleriafoto2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; BORDER-RIGHT-WIDTH: 0px
}
.elenco {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 0px
}
.spazioalto {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
}
.spazioaltominimo {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.nrverde {
	FONT-WEIGHT: bold; FONT-SIZE: larger; COLOR: #009900; TEXT-ALIGN: center
}
#contenuti_testo_dx_statico {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 550px; PADDING-TOP: 0px
}
#contenuti_testo_dx_statico TABLE {
	WIDTH: 500px
}
CAPTION.aliquote {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: x-small; PADDING-BOTTOM: 5px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center
}
TABLE.restituzioni {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: x-small; BORDER-LEFT: #000000 1px solid; WIDTH: 90%; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.restituzioni TH {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TABLE.restituzioni TD {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 2px; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TABLE.restituzioni TD.sopra {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 2px; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TABLE.restituzioni TD.sotto {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TABLE.restituzioni TD.tdsx {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 10px; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
#titroviin_globale {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px
}
#titroviin_path {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ff5900; PADDING-TOP: 0px
}
#titroviin_titolo H1 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 130%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 20px; MARGIN-LEFT: 50px; COLOR: #00468f; PADDING-TOP: 2px; TEXT-ALIGN: left
}
TABLE.regolamenti {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 80%; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.regolamenti CAPTION {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.6em; PADDING-TOP: 0.3em; TEXT-ALIGN: left
}
TABLE.regolamenti TH.primo {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.3em; BORDER-LEFT: #000000 1px solid; WIDTH: 10%; PADDING-TOP: 0.3em; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TABLE.regolamenti TH.secondo {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.3em; BORDER-LEFT: #000000 1px solid; WIDTH: 15%; PADDING-TOP: 0.3em; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TABLE.regolamenti TH.terzo {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.3em; BORDER-LEFT: #000000 1px solid; WIDTH: 30%; PADDING-TOP: 0.3em; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TABLE.regolamenti TH.quarto {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.3em; BORDER-LEFT: #000000 1px solid; WIDTH: 25%; PADDING-TOP: 0.3em; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TABLE.regolamenti TH {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0.3em; FONT-WEIGHT: normal; PADDING-BOTTOM: 0.3em; VERTICAL-ALIGN: top; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0.3em; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
TABLE.regolamenti TD {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; VERTICAL-ALIGN: top; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0.3em; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
.indentazione {
	PADDING-LEFT: 1.3em
}
FORM.insdati {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; PADDING-BOTTOM: 2em; MARGIN: 0px auto; WIDTH: 70%; COLOR: #ffffff; LINE-HEIGHT: 2.7em; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #1a487a; TEXT-ALIGN: center
}
FORM.ritorna {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 2em; MARGIN: 0px auto; WIDTH: 70%; PADDING-TOP: 0.5em; TEXT-ALIGN: center
}
DIV.servizi {
	TEXT-ALIGN: left
}
FIELDSET.servizi {
	BORDER-RIGHT: #0084eb 1px groove; BORDER-TOP: #0084eb 1px groove; MARGIN-LEFT: 1.3em; BORDER-LEFT: #0084eb 1px groove; WIDTH: 90%; LINE-HEIGHT: 2.5em; BORDER-BOTTOM: #0084eb 1px groove; BACKGROUND-COLOR: #f4f4f4
}
LABEL.servizi1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1em; WIDTH: 70%; COLOR: #16416c; PADDING-TOP: 0px
}
INPUT.servizi2 {
	MARGIN-TOP: 0.3em; WIDTH: auto; MARGIN-RIGHT: 4.5em
}
INPUT.bottone1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 10px 34%; WIDTH: auto; PADDING-TOP: 0px
}
UNKNOWN {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 16em; PADDING-TOP: 10px
}
P.servizi {
	PADDING-RIGHT: 4em; PADDING-LEFT: 4em; PADDING-BOTTOM: 1.5em; COLOR: #16416c; PADDING-TOP: 1.5em; TEXT-ALIGN: left
}
P.out {
	FONT-WEIGHT: bold; COLOR: #16416c; TEXT-ALIGN: center
}
DIV.datiins {
	TEXT-ALIGN: center
}
DIV.int {
	FONT-WEIGHT: bold; FLOAT: left; MARGIN-LEFT: 17%; COLOR: #16416c; LINE-HEIGHT: 1.5em
}


DIV.int1 {
	FONT-WEIGHT: bold; COLOR: #991c00; LINE-HEIGHT: 1.5em; TEXT-ALIGN: left
}
P.out1 {
	PADDING-RIGHT: 4em; PADDING-LEFT: 4em; FONT-WEIGHT: bold; PADDING-BOTTOM: 1.5em; COLOR: #b42100; PADDING-TOP: 1.5em; TEXT-ALIGN: left
}
INPUT.back {
	MARGIN-TOP: 1.5em; VERTICAL-ALIGN: middle; WIDTH: 15em; TEXT-ALIGN: center
}
FORM.ind {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 2em; MARGIN: 0px auto; PADDING-TOP: 0.5em; TEXT-ALIGN: center
}
INPUT.indietro {
	MARGIN-TOP: 1.5em; VERTICAL-ALIGN: middle; WIDTH: 10em; TEXT-ALIGN: center
}
DIV.err {
	BORDER-RIGHT: #16416c 1px groove; PADDING-RIGHT: 0em; BORDER-TOP: #16416c 1px groove; PADDING-LEFT: 0em; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; PADDING-BOTTOM: 0em; MARGIN: auto; BORDER-LEFT: #16416c 1px groove; WIDTH: 55%; COLOR: #991c00; LINE-HEIGHT: 2em; PADDING-TOP: 0em; BORDER-BOTTOM: #16416c 1px groove; BACKGROUND-COLOR: #f0f6fc; TEXT-ALIGN: center
}
TABLE.dati {
	BORDER-RIGHT: #16416c 1px solid; BORDER-TOP: #16416c 1px solid; FONT-WEIGHT: bold; MARGIN: 0px auto; BORDER-LEFT: #16416c 1px solid; WIDTH: 55%; BORDER-BOTTOM: #16416c 1px solid; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
TH.dati1 {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0.7em; COLOR: #991c00; PADDING-TOP: 0.7em; BACKGROUND-COLOR: #ffffff
}
TD.dati2 {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0.7em; COLOR: #16416c; PADDING-TOP: 0.7em; BACKGROUND-COLOR: #f0f1f0
}
H2.servizi {
	PADDING-RIGHT: 3.5em; PADDING-LEFT: 3.5em; PADDING-BOTTOM: 0em; COLOR: #16416c; PADDING-TOP: 0em; TEXT-ALIGN: left
}
FORM.insmrn {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; PADDING-BOTTOM: 2em; MARGIN: 0px auto; WIDTH: 70%; COLOR: #ffffff; LINE-HEIGHT: 2.7em; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #1a487a; TEXT-ALIGN: center
}

FORM.insmrn2 {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; PADDING-BOTTOM: 1em; MARGIN: 0px auto; WIDTH: 70%; COLOR: #ffffff; LINE-HEIGHT: 2.7em; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #1a487a; TEXT-ALIGN: center
}

DIV.servmrn {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 0em; PADDING-TOP: 2em; TEXT-ALIGN: left
}
FIELDSET.servizimrn {
	BORDER-RIGHT: #0084eb 1px groove; BORDER-TOP: #0084eb 1px groove; BORDER-LEFT: #0084eb 1px groove; LINE-HEIGHT: 2.5em; BORDER-BOTTOM: #0084eb 1px groove; BACKGROUND-COLOR: #f4f4f4
}
LABEL.servmrn1 {
	PADDING: 0px; FONT-WEIGHT: bold; FLOAT: left;  MARGIN: 1.5em 0px 0px 7.5em; WIDTH: 30%; COLOR: #16416c; 
}
INPUT.servmrn2 {
	MARGIN-TOP: 1.8em; MARGIN-left: 1em; 
}
INPUT.bottonemrn {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 10px 38%; WIDTH: auto; PADDING-TOP: 0px
}
TABLE.datimrn {
	BORDER-RIGHT: #16416c 1px solid; BORDER-TOP: #16416c 1px solid; FONT-WEIGHT: bold; MARGIN: 0px auto; BORDER-LEFT: #16416c 1px solid; WIDTH: 87%; BORDER-BOTTOM: #16416c 1px solid; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
DIV.outsemp {
        BORDER-RIGHT: #0084eb 1px groove; BORDER-TOP: #0084eb 1px groove; BORDER-LEFT: #0084eb 1px groove; LINE-HEIGHT: 2.5em; BORDER-BOTTOM: #0084eb 1px groove; BACKGROUND-COLOR: #f4f4f4; WIDTH: 83%; PADDING:1.0em;  
}
html > body DIV.outsemp {        
 margin-left: 8%;  
}
P.outexport1 {
        TEXT-ALIGN: left; FLOAT: left; FONT-SIZE: 1em; FONT-WEIGHT: bold; COLOR: #16266C; PADDING: 0.1em; MARGIN-TOP: 0.0em; MARGIN-BOTTOM: 0.0em;
}
P.outexport2 {
        TEXT-ALIGN: left; FONT-SIZE: 1em; FONT-WEIGHT: bold; COLOR: #8C2011; PADDING: 0.1em; MARGIN-TOP: 0.0em; MARGIN-BOTTOM: 0.0em;
}
H2.serviziq {
	PADDING-RIGHT: 3.5em; PADDING-LEFT: 3.5em; PADDING-BOTTOM: 0em; COLOR: #16416c; PADDING-TOP: 0em; TEXT-ALIGN: center
}
DIV.servquest {
	PADDING-TOP: 2em; TEXT-ALIGN: center
}
DIV.security {
	WIDTH: 80%; COLOR: #16416c; LINE-HEIGHT: 1em; PADDING-TOP: 2em; TEXT-ALIGN: center
}
 
FIELDSET.servquest {
	BORDER-RIGHT: #16416c 1px groove; BORDER-TOP: #16416c 1px groove; BORDER-LEFT: #16416c 1px groove; WIDTH: 80%; LINE-HEIGHT: 2.5em; PADDING-TOP: 1em; BORDER-BOTTOM: #16416c 1px groove; BACKGROUND-COLOR: #f4f4f4
}
 
LABEL.quest1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0.8em 0px 0px 1em; WIDTH: 60%; COLOR: #16416c; PADDING-TOP: 0px; TEXT-ALIGN: left
}
SELECT.quest {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0px 1em; WIDTH: 30%; PADDING-TOP: 0px
}
P.quest {
	FONT-WEIGHT: bold; COLOR: #16416c; LINE-HEIGHT: 1em; TEXT-ALIGN: center
}
 
TEXTAREA.question {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; WIDTH: 70%; PADDING-TOP: 0px
}
FIELDSET.servurp {
	BORDER-RIGHT: #16416c 1px groove; BORDER-TOP: #16416c 1px groove; BORDER-LEFT: #16416c 1px groove; PADDING-TOP: 1em; BORDER-BOTTOM: #16416c 1px groove; BACKGROUND-COLOR: #f4f4f4
}
FORM#IlForm {
	WIDTH: auto
}
FORM#IlForm BR {
	CLEAR: left
}
FORM#IlForm BR.pulito {
	CLEAR: none
}

FORM.IlFormNew {
	WIDTH: auto
}
FORM.IlFormNew BR {
	CLEAR: left
}
FORM.IlFormNew BR.pulito {
	CLEAR: none
}

LABEL.urp1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0.8em 0px 0px 1em; WIDTH: 38%; COLOR: #16416c; PADDING-TOP: 0px; TEXT-ALIGN: left
}
INPUT.urp2 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; MARGIN-TOP: 0.3em; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid
}
SELECT.urp3 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; MARGIN: 0.5em 0px 0px; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid
}
.spec1 {
	FONT-WEIGHT: normal; COLOR: #16416c; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TEXTAREA.desc {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7f9db9 1px solid; MARGIN-TOP: 0.8em; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 57%; PADDING-TOP: 0px; BORDER-BOTTOM: #7f9db9 1px solid
}
P.acc {
	FONT-WEIGHT: bold; COLOR: #16416c; LINE-HEIGHT: 1.5em; TEXT-ALIGN: center
}
P.normale {
	COLOR: #16416c; LINE-HEIGHT: 1.5em; TEXT-ALIGN: center
}
HR.urp {
	CLEAR: left; MARGIN-TOP: 1.5em; COLOR: #16416c
}
P.err {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #16416c; TEXT-ALIGN: center
}
.SubmitForm{
    clear:both;
	float:left;
	margin-top:15px; 
	margin-left:20px;
}
.mlistdelete {
	PADDING-BOTTOM: 10px; MARGIN: 10px auto; WIDTH: 80%; PADDING-TOP: 10px; HEIGHT: 60%; TEXT-ALIGN: center
}


table.tabella {
	padding:10px; text-align: left;
}
table.tabella td.testata {
	padding:5px; text-align: left; border:none;
}
table.tabella td {
	padding:5px; text-align: left; border:1px solid #a1a1a1;
}

table.tabella th {
	padding:5px; 
	border:none; 
	font-weight: bold;
	text-align: center;
}
