
body .ui-tabs .ui-tabs-panels .ui-tabs-panel {
    padding: 0 !important;
    line-height: 1.5;
}


a.ui-commandlink.ui-widget.homeLink {
	color: #036;
	text-decoration: underline;
	font-weight: bold;
	font-size: 16px!important;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
padding: 15px 6px;

    float: right;

}

a.ui-commandlink.ui-widget.homeLink:hover {
	color: #127ae2;
	text-decoration: underline;
	font-weight: bold;
	font-size: 16px!important;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	padding: 15px 6px;
	}


.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
{
    /* border: 1px solid #c8c8c8; */
    background-color: #fff;
    /* color: #333; */
    /* padding: .571em 1em .571em 1em; */
    /* font-weight: 700; */
    /* border-bottom: 0 none; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
     padding: 1rem 1rem;
    /* border-bottom: 1px solid #dee2e6; */
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-radius: 0px;
     
  }

span.ui-dialog-title {
	font-size: 1.6rem;
	margin-bottom: 0;
	line-height: 1.5;
	text-align: left;
	font-weight: 600;
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.th-dialog{

	font-weight: bold;
    text-align: left;
    padding-left: 20px;
}

.td-dialog {
    text-align: left;
}


body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
   
    color: #fff!important;
    border: 0 none; 
    -moz-transition: color .3s;
    -o-transition: color .3s;
    -webkit-transition: color .3s;
    transition: color .3s;
    background-color: #007ad9;
    border-radius:0px;
    padding: 5px!important;
    float: right!important;
    margin-left: auto!important;
    
    }



body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:hover {
   
    color: #fff;
    border: 0 none; 
    -moz-transition: color .3s;
    -o-transition: color .3s;
    -webkit-transition: color .3s;
    transition: color .3s;
    background-color: #039;
    border-radius:0px;
    padding:5px;
    
}

.button-center{

text-align: center; 
display:inline;

}

.btn-entrypoint {
	border-width: 2px;
	display: block;
	margin: 0 0 0px;
	padding: 15px;
	text-align: left;
	width: 100%;
}

.btn-default.btn-entrypoint-selected,btn .btn-default.btn-entrypoint-selected:hover,.btn-default.btn-entrypoint:hover
	{
	border-color: #127ae2;
	color: #fff;
	background: #127ae2;
	text-align: center;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	font-weight: 600;
	border-width: 2px;
	display: block;
	margin: 0 0 0px;
	text-align: center;
	padding: 15px;
	font-size: 15px;
	width: 100%;
}

a.ui-commandlink.ui-widget.btn.btn-default.btn-entrypoint-selected {
	font-size: 15px;
}

a.ui-commandlink.ui-widget.btn.btn-default.btn-entrypoint-selected:hover
	{
	font-size: 15px;
	border-color: #127ae2;
	border-width: 2px;
	color: #fff;
	background: #127ae2;
	text-align: center;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	font-weight: 600;

	display: block;
	margin: 0 0 0px;
	text-align: center;
	padding: 15px;
	font-size: 15px;
	width: 100%;
}


.ui-tabmenu.ui-widget.ui-widget-content.ui-corner-all {
    border: none;
}

.ui-tabmenu .ui-tabmenu-nav {
    margin: 0;
    padding: .2em .2em 0;
    background: #fff;
    color: #333;
    font-weight: bold;
    text-shadow: none;
}

.ui-tabmenu .ui-tabmenu-nav {
    background-color: #FFFFFF;
}
.ui-tabmenu .ui-tabmenu-nav {
    border: none;
    background-color: #FFFFFF !important;
}

.ui-tabmenu .ui-tabmenu-nav {
	background-color: #FFFFFF;
}

li.ui-tabmenuitem {
	background-color: #F4F4F4;
	color: #036;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active {
	background: #ffffff;
	color: #127ae2;
	font-weight: bold;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active.ui-menuitem-text {
	background: #ffffff;
	color: #127ae2;
}

li.ui-tabmenuitem.ui-state-default.ui-menuitem-text {
	background: #fff;
	color: #036;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: #FFFFFF;
}

 
a.ui-menuitem-link.ui-corner-all.mega-menu-selected, a.ui-menuitem-link.ui-corner-all.mega-menu:hover {
	text-align: center;
	width: 100%;
	color: #fff!important;
	background: #127ae2;
	border-color: #127ae2;
	margin: 15px 0px;
	
}
 
 
 li.ui-tabmenuitem.ui-state-default.ui-state-active {
    font-weight: bold;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active {
    background: #ffffff;
    color: #127ae2;
    font-weight: bold;
}

span.ui-menuitem-text {
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 600;
    font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
 sans-serif;
}


span.ui-menuitem-text {
	text-transform: uppercase;
	text-shadow: none;
	font-weight: 600;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
}

.ui-state-default a,.ui-state-default a:link {
	color: #ffffff;
	text-decoration: none;
}

li.ui-tabmenuitem.ui-state-default.span.ui-menuitem-icon.ui-icon {
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: none;
}

li.ui-tabmenuitem.ui-state-default {
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	text-shadow: none;
	opacity: 1;
	color: #fff;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
	list-style: none;
	float: left;
	position: relative;
	margin: 0 .2em 1px 0;
	padding: 0;
	white-space: nowrap;
	display: block;
	border-bottom: 0;
	top: 1px;
	font-size: 14px;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-icon {
	float: left;
	cursor: pointer;
	margin-right: 0px;
	font-size: 15px;
}

li.ui-tabmenuitem {
	background-color: #F4F4F4;
	color: #036;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active , li.ui-tabmenuitem.ui-state-default.ui-state-hover{
	background: #ffffff;
	color: #127ae2;
	font-weight: bold;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active.ui-menuitem-text {
	background: #ffffff;
	color: #127ae2;
}

li.ui-tabmenuitem.ui-state-default.ui-menuitem-text {
	background: #fff;
	color: #036;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: #FFFFFF;
}

.ui-tabmenu .ui-tabmenu-nav {
	margin: 0;
	padding: .2em .2em 0;
	background: #fff;
	color: #333;
	font-weight: bold;
	text-shadow: none;
}


.ui-tabmenu .ui-tabmenu-nav {
	border: none;
	background-color: #FFFFFF !important;
}

.ui-tabmenu.ui-widget.ui-widget-content.ui-corner-all {
	border: none;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
	list-style: none;
	float: left;
	position: relative;
	margin: 0 .2em 1px 0;
	padding: 0;
	white-space: nowrap;
	display: block;
	border-bottom: 0;
	top: 1px;
	font-size: 14px;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-icon {
	float: left;
	cursor: pointer;
	margin-right: 0px;
	font-size: 15px;
}

.ui-tabmenu .ui-tabmenu-nav {
	margin: 0;
	padding: .2em .2em 0;
	background: #fff;
	color: #333;
	font-weight: bold;
	text-shadow: none;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
	float: left;
	padding: .2em 1.6em !important;
	text-decoration: none!imnportant;
    font-size: 28px;
    border-radius: 0px;
}

.ui-tabmenu .ui-tabmenu-nav {
	border: none;
	background-color: #FFFFFF !important;
}

.ui-tabmenu.ui-widget.ui-widget-content.ui-corner-all {
	border: none;
}


li.ui-tabmenuitem.ui-state-default.ui-corner-top{

width: 33%!important;
border:none!important;
background: #fff!important;

}


a.ui-menuitem-link.ui-corner-all.mega-menu {
    text-align: center;
    width: 100%;
    color: #127ae2;
    background: #fff;
    border-color: #127ae2!important;
    border-width: 2px;
    margin: 15px 0px;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
     color: #127ae2;  
    padding: .571em 1em .571em 1em;
    display: block;
}

input.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker {
    max-width: 115px;
}


.panel-primary {
    border: 0;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a {
    color: #127ae2!important;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a :hover{
    color: #fff!important;
}

a.ui-menuitem-link.ui-corner-all.mega-menu-selected.btn.btn-default.btn-entrypoint {
    color: #fff!important;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active.ui-state-hover a {
   color: #127ae2!important;}
   
   a.ui-menuitem-link.ui-corner-all.mega-menu.btn.btn-default.btn-entrypoint:hover
    
    {
	
	    color: #fff!important;
	

}


.panel-collapsible > .panel-heading > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none !important;
}

.btn-default.btn-entrypoint:not(:hover) {
    border-color: #127ae2;
    color: #127ae2 !important;
}
 
body .ui-panel .ui-panel-content {
      border: none!important;
    background-color: #fff;
    color: #333;
    padding: .571em 1em;
    border-top: 0 none;
    line-height: 1.5;
}

/* pagina interna, 2 colonne, spalla destra */
/* #contenuti_due_colonne {
	margin: 0px 10px 20px 10px;
	border-bottom-width: 0px;
	width: auto;
}

#contenuti_due_colonne #colonna1 {
	margin-left: 275px;
	padding: 0px;
}

#contenuti_due_colonne #colonna1 ul {
	margin: auto;
	padding: 3px 0px 0px 0px;
}

#contenuti_due_colonne.deco-mon #colonna1 ul li {
	background: transparent url(../img/bullet-small-mon.gif) no-repeat 0px
		5px;
}

#contenuti_due_colonne .colonna1-dx ul li {
	padding: 0px 10px 20px 20px;
}

#contenuti_due_colonne .colonna1-sx {
	float: left;
	width: 58%;
	margin-top: 20px;
}

#contenuti_due_colonne .colonna1-dx {
	float: left;
	margin-left: 2%;
	width: 40%;
	padding-top: 25px;
}

#contenuti_due_colonne .colonna1-sx .form_d {
	float: left;
	display: block;
	width: 95%;
}

#contenuti_due_colonne .colonna1-sx .form_d label {
	font-size: 80%;
	display: block;
	margin-bottom: 6px;
}

#contenuti_due_colonne .colonna1-sx .form_d p {
	float: left;
	margin-right: 4%;
}

#contenuti_due_colonne .colonna1-sx .form_d p label {
	font-size: 100%;
	display: block;
}

#contenuti_due_colonne .colonna1-sx h2 {
	margin: 24px 0px 6px 0px;
	border-bottom: 1px solid #F3CB50;
	background-image: none;
	padding-left: 0px;
}

#contenuti_due_colonne .colonna1-sx ul {
	margin: 24px 0px;
	padding: 0px;
	list-style: none outside none;
}

#contenuti_due_colonne .colonna1-sx form {
	margin: 24px 0px;
	border: 1px #ddd solid;
	padding: 10px 20px;
}

#contenuti_due_colonne .colonna1-sx form div {
	margin: 10px 0px;
}

#contenuti_due_colonne .colonna1-sx input[type=text],#contenuti_due_colonne .colonna1-sx input[type=password],#contenuti_due_colonne .colonna1-sx select
	{
	min-width: 120px;
}

#contenuti_due_colonne #colonna2 h1 {
	font-size: 120%;
	margin-top: 10px;
	padding-bottom: 10px;
}

#contenuti_due_colonne #colonna2 li {
	background-image: none;
}

#contenuti_due_colonne #colonna2 label {
	margin: 10px 0px;
}

#contenuti_due_colonne #colonna2 ul li a,#contenuti_due_colonne #colonna2 ul li a:visited
	{
	background-image: url(../img/bullet-1-off.gif);
}

#contenuti_due_colonne #colonna2 ul li a.selected,#contenuti_due_colonne #colonna2 ul li a.selected:visited
	{
	background-image: url(../img/bullet-1-on.gif);
	font-weight: bold;
}

#contenuti_due_colonne #colonna2 ul li.indent {
	padding-left: 15px;
}

#contenuti_due_colonne #colonna2 ul li.indent a,#contenuti_due_colonne #colonna2 ul li.indent a:visited
	{
	background-image: url(../img/bullet-2-off.gif);
	font-weight: bold;
	mod fabio170614
	padding: 5px 0 8px 25px;
	background-position: 10px 9px;
}

#contenuti_due_colonne #colonna2 ul li.indent a.selected,#contenuti_due_colonne #colonna2 ul li.indent a.selected:visited
	{
	background-image: url(../img/bullet-2-on.gif);
	font-weight: bold;
}

#contenuti_due_colonne #colonna2 ul li.indent2 {
	background-color: #fff;
	padding-left: 25px;
}

#contenuti_due_colonne #colonna2 ul li.indent2 a,#contenuti_due_colonne #colonna2 ul li.indent2 a:visited
	{
	background-image: url(../img/bullet-3-off.gif);
	background-position: 10px 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#contenuti_due_colonne #colonna2 ul li.indent2 a.selected,#contenuti_due_colonne #colonna2 ul li.indent2 a.selected:visited
	{
	background-image: url(../img/bullet-3-on.gif);
	font-weight: bold;
}

#contenuti_due_colonne #colonna2 ul li.indent2:first {
	margin-top: 60px;
}

#contenuti_due_colonne #colonna2 ul li.indent2:last {
	margin-top: 60px;
}

#contenuti_due_colonne #colonna1 .dualtab .tab .contenuto ul {
	margin: 0px;
	padding: 10px 0px 0px 0px;
}

#contenuti_due_colonne #colonna1 .dualtab .tab .contenuto ul li {
	margin: 5px 0px;
	padding: 0px 0px 0px 20px;
}

#contenuti_due_colonne .pag_intera,.pag_intera {
	width: 100%;
}

INIZIO SWITCHT E TABELLA
#contenuti_due_colonne #colonna1 #switchtabInterna {
	margin: 0;
	margin-top: 15px;
	float: left;
	text-transform:uppercase;
	display: block;
}

#contenuti_due_colonne #colonna1 #switchtabInterna li {
	background-image: none;
	margin: 0;
}

#switchtabInterna .tabDestra,#switchtabInterna .tabSinistra {
	float: left;
	padding: 10px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	background-color: #ddd;
	position: relative;
	top: 1px;
	border-right: 1px solid #fff;
}

#switchtabInterna .current {
	border-right: 1px solid #DDDDDD;
}

#switchtabInterna a,#switchtabInterna a:visited {
	text-decoration: none;
	display: block;
	color: #036;
}

#switchtabInterna a:hover {
	color: #AE1B13;
}

#switchtabInterna .current {
	background-color: #fff;
}

.portaboxInterna {
	float: left;
	clear: both;
	border: 1px solid #ddd;
	padding: 10px;
	width: 97%;
	inserito per disanziare Descrizione del gioco
	margin-bottom: 15px;
}

.portaboxInterna h2 {
	border-bottom: 1px solid #f3cb50;
	margin-top: 20px;
}

.boxIntEvidenza {
	background-color: #f3f3f3;
	padding: 5px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}

.boxIntEvidenza h2,#contenuti_due_colonne .colonna1-sx .boxIntEvidenza h2
	{
	color: #434343;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 85%;
	font-weight: bold;
	margin-bottom: 4px;
	margin-top: 10px;
	padding: 0;
	border: none;
}

.boxIntEvidenza .IntBordo {
	padding: 5px;
}

.boxIntEvidenza .IntBordo span {
	border: 1px solid #f3cb50;
	padding: 6px;
	background: #fff;
	margin: 0 3px;
	font-weight: bold;
}

inizio tabella_d
#contenuti_due_colonne #colonna1 .tabella_d {
	width: 100%;
	font-size: 80%;
}

.reduce70,#contenuti_due_colonne #colonna1 .reduce70,#contenuti_due_colonne #colonna1-sx .reduce70
	{
	font-size: 70%;
}

#contenuti_due_colonne #colonna1 .tabella_d th {
	font-weight: bold;
}

#contenuti_due_colonne #colonna1 .tabella_d th.titolo {
	font-weight: bold;
	text-align: center;
}

#contenuti_due_colonne #colonna1 .tabella_d caption {
	font-size: 140%;
	border-bottom: 1px solid #9EA7AE;
	padding: 0px;
	margin: 14px 2px 4px 2px;
	text-align: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#contenuti_due_colonne.deco-mon #colonna1 .tabella_d caption {
	border-bottom: 1px solid #F3CB50;
}

#contenuti_due_colonne #colonna1 .tabella_d td,#colonna1 .tabella_d th {
	padding: 4px;
}

#contenuti_due_colonne #colonna1 .tabella_d .js_link {
	cursor: pointer;
	color: #036;
}

#contenuti_due_colonne #colonna1 .tabella_d .js_link:hover {
	color: #ae1b13;
}

#contenuti_due_colonne #colonna1 .tabella_d tr:nth-child(2n+0) {
	background: #ececec;
}

#contenuti_due_colonne #colonna1 .tabella_d tr:nth-child(2n+1) {
	background: #f6f6f6;
}

patch per ie<9
#contenuti_due_colonne #colonna1 .tabella_d tr.even {
	background-color: #ececec;
}

#contenuti_due_colonne #colonna1 .tabella_d tr {
	background: #f6f6f6;
}

fine tabella_d
.portaboxInterna .riquadro_interno p {
	margin-bottom: 5px;
	margin-top: 0px;
}

.portaboxInterna .riquadro_interno p span {
	float: right;
	margin-right: 5px;
}

#contenuti_due_colonne .colonna1-sx #boxEvidenza h2,#boxEvidenza h2 {
	margin-top: 5px;
}

.estrazioni {
	width: 80%;
	text-align: center;
	padding: 0px;
	margin: 10px;
	border:1px solid #eee;
	float: left;
}

.estrazioni p {
	padding: 6px 2px;
	margin: 2px;
	background: #fefefe;
	float: left;
	width: 8%;
	border: 1px solid #aaa;
	font-weight: bold;
}

.griglia_d  h2 {
	font-size: 120%;
	border-bottom: 1px solid #9EA7AE;
	padding: 0px;
	margin: 14px 2px 0px 2px;
}

.griglia_d  p {
	padding: 4px 1%;
	margin: 2px;
	font-weight: bold;
}

.griglia_d  p span {
	font-weight: normal;
	float: right;
	padding-right: 1%;
	text-align: right;
}

.griglia_d  p:nth-child(2n+0) {
	background: #ececec;
}

.griglia_d  p:nth-child(2n+1) {
	background: #f6f6f6;
}

#contenuti_due_colonne #colonna1 #logog_titolo {
	clear: right;
	float: right;
	position: absolute;
	right: 0;
}

.top29 {
	top: 29px;
}

.top40 {
	top: 40px;
}

.sotto_inevidenza {
	text-transform: uppercase;
	width: 98%;
	padding: 4px 6px;
	text-align: right;
	border-top: 1px solid #ddd;
	clear: both;
	display: block;
}

.errore,.attenzione {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 10px;
	width: 94%;
}

.nodisp {
	display: none;
}

#canale_home #colonna2_hp #servizi_online_hp h1,#canale_home #colonna2_hp #in_un_click_hp h1,#canale_home #colonna2_hp #aree_tematiche_hp h1,#canale_home #colonna2_hp #agenzia_informa_hp h1,#canale_home #colonna2_hp #innovazioni_hp h1
	{
	border-bottom: 4px solid #73A4CF;
	border-bottom: 4px solid #036;
}

#ti_trovi_hp {
	clear: both;
	color: #000000;
	font-size: 80%;
	padding: 0;
	text-align: left;
	margin: 0 15px 20px 5px;
}

#ti_trovi_canale {
	clear: both;
	color: #000000;
	font-size: 80%;
	padding: 0;
	text-align: left;
	margin: 0 15px 20px 5px;
}

#canale_home #colonna1_hp h1 {
	border-bottom: 4px solid #036;
}

#canale_home #colonna2_hp #agenzia_informa_hp ul li,#canale_home #colonna2_hp #aree_tematiche_hp ul li,#canale_home #colonna2_hp #in_un_click_hp ul li,#canale_home #colonna2_hp #servizi_online_hp ul li
	{
	background-image: url("../img/bullet_viaggiatore.gif");
}

#contenuti_due_colonne #colonna1 ul.due_colonne li {
	background-image: none;
}

#contenuti_una_colonna.agenzia ul li {
	height: auto;
	padding-bottom: 13px;
}

.ui-dashboard-column {
	float: unset;
}

.operatore #colonna1 ul li {
	background-image: none !important;
}

#colonna1 ul li {
	margin: 0em .1em !important;
}

.ui-tabmenuitem {
	list-style: none;
	float: left;
	position: relative;
	margin: 0 .2em 1px 0 !important;
	padding: 0;
	white-space: nowrap;
	display: block;
	border-bottom: 0;
	top: 1px;
}

.ui-tabmenu .ui-tabmenu-nav {
	border: none;
	background-color: #FFFFFF !important;
}

.ui-tabmenu.ui-widget.ui-widget-content.ui-corner-all {
	border: none;
}

.ui-widget-header {
	border: 1px solid #AAA;
	color: #222;
	font-weight: bold;
	background: none;
	background-color: #FFFFFF;
}

.ui-widget-header ul {
	border: 1px solid #AAA;
	color: #222;
	font-weight: bold;
	background: none;
	background-color: #FFFFFF;
}

.ui-widget-header a {
	color: #036;
}

.ui-tabmenu .ui-tabmenu-nav {
	background-color: #FFFFFF;
}

li.ui-tabmenuitem {
	background-color: #F4F4F4;
	color: #036;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active {
	background: #ffffff;
	color: #127ae2;
	font-weight: bold;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active.ui-menuitem-text {
	background: #ffffff;
	color: #127ae2;
}

li.ui-tabmenuitem.ui-state-default.ui-menuitem-text {
	background: #fff;
	color: #036;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: #FFFFFF;
}

.ui-panelgrid-cell null {
	display: none !important;
}

body {
	position: unset !important;
}

css personalizzato- modifiche del 07-2018 TGERECITANO
.ui-dialog {
	max-width: 50%;
	font-size: 80%;
}

.ui-dialog  .ui-dialog-titlebar {
	margin: 0px;
	border-top: 3px solid #034689;
	background-color: #E9E9E9;
	padding: 10px 20px;
	color: #000;
}

.ui-dialog .ui-dialog-title {
	color: #333;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
	{
	margin: 0px;
	border-top: 0px;
	background-color: #E9E9E9;
	padding: 6px 20px;
	color: #4f4f4f;
	font-size: 85%;
}

.th-dialog {
	font-weight: bold;
	text-align: left;
	max-width: 30%;
}

.td-dialog {
	text-align: left;
	max-width: 70%;
}

#ui-datepicker-div {
	font-size: 80%;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield
	{
	background: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #313131;
}

.icon {
	margin-bottom: -7px;
}

.ui-corner-all {
	border-radius: 0;
	-moz-border-radius: 0;
}

input.ui-inputfield,.ui-inputfield {
	text-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: #fff;
	border-radius: 0px;
	
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 0;
	border: 0px none;
	border-radius: 0;
}



.ui-corner-top {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
}

[class^="ui-corner-"] {
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}

.ui-datatable-footer.ui-widget-header.ui-corner-bottom {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 20px;
}

.ui-paginator.ui-paginator-top.ui-widget-header.ui-corner-top {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.ui-paginator-rpp-options.ui-widget.ui-state-default.ui-corner-left {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.ui-corner-bottom {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: #fff;
}

span.ui-button-text.ui-c {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: #fff;
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only,a.ui-paginator-page.ui-state-default.ui-state-active.ui-corner-all,a.ui-paginator-page.ui-state-default.ui-corner-all,a.ui-paginator-last,a.ui-paginator-next,a.ui-paginator-first,a.ui-paginator-prev,.ui-selectonemenu-trigge
	{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: #fff;
}

ul.ui-selectonemenu-items {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	padding: 0em;
}

.ui-paginator {
	background: #fff;
}

li.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	font-size: 90%;
}

ul.ui-selectonemenu-items.ui-selectonemenu-list.ui-widget-content.ui-widget.ui-corner-all.ui-helper-reset
	{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	padding: 0em;
	font-size: 80%;
}

th.ui-state-default {
	background: #fff;
}

.ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
	background: #fff;
	border-radius: 0;
	border: 0;
	padding: 0px 15px;
}

.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all {
	border-radius: 0px;
}

a.ui-paginator-page.ui-state-default.ui-corner-all.ui-state-active {
	background: #036;
	color: #fff;
	text-shadow: none;
	border: none;
	font-size: 120%;
}

li.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-highlight
	{
	background: #036;
	color: #fff;
	box-shadow: none;
	border: 0;
}

span.ui-menuitem-text {
	text-transform: uppercase;
	text-shadow: none;
	font-weight: 600;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
}

.ui-state-default a,.ui-state-default a:link {
	color: #ffffff;
	text-decoration: none;
}

li.ui-tabmenuitem.ui-state-default.span.ui-menuitem-icon.ui-icon {
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: none;
}

li.ui-tabmenuitem.ui-state-default {
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	text-shadow: none;
	opacity: 1;
	color: #fff;
}

span.ui-menuitem-icon.ui-icon.fa {
	padding-top: 0px;
	font-size: 150%;
	padding-right: 5px;
	padding-left: 5px;
}

td.ui-panelgrid-cell.label {
	font-weight: bold;
}

td.ui-panelgrid-cell {
	font-size: 12px;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
	list-style: none;
	float: left;
	position: relative;
	margin: 0 .2em 1px 0;
	padding: 0;
	white-space: nowrap;
	display: block;
	border-bottom: 0;
	top: 1px;
	font-size: 14px;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-icon {
	float: left;
	cursor: pointer;
	margin-right: 0px;
	font-size: 15px;
}

label.ui-outputlabel.ui-widget,.ui-selectoneradio label,span.ui-button-text.ui-c
	{
	font-size: 13px;
	font-weight: bold;
}

input.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker
	{
	font-size: 13px;
	height: 22px;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
	border: 0 none;
	font-weight: normal;
	margin: 1px 0;
	padding: 4px 6px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight {
	background: #aaa;
	background: #036;
	color: #fff;
	text-shadow: none;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-highlight
	{
	background: #036;
	color: #fff;
	box-shadow: none;
	border: 0;
}

.ui-fieldset-toggleable .ui-fieldset-legend {
	border-radius: 0px;
	border: 1px solid #a8a8a8;
	background: #036;
	font-weight: bold;
	color: #ffffff;
	text-shadow: none;
}

.ui-fieldset-toggleable .ui-fieldset-legend {
	border-radius: 0px;
	border: 1px solid #036;
	background: #ffff;
	font-weight: bold;
	color: #036;
	text-shadow: none;
}

fieldset.ui-fieldset.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-fieldset-toggleable
	{
	border-radius: 0px;
	font-size: 13px;
}

span.ui-autocomplete-panel.ui-widget-content.ui-corner-all.ui-helper-hidden.ui-shadow.ui-input-overlay
	{
	border-radius: 0px;
	box-shadow: none;
}

.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	border-radius: 0px;
	background: #036;
	color: #fff;
	font-weight: 600;
	text-shadow: none;
	border: 0px;
	height: 30px;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
}

.ui-panel.ui-widget.ui-widget-content.ui-corner-all {
	border-radius: 0px;
	border: 0;
}

.ui-paginator .ui-paginator-page {
	padding: 3px 8px;
	box-shadow: none;
}

input.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all,input.ui-autocomplete-input.ui-autocomplete-dd-input.ui-inputfield.ui-widget.ui-state-default.ui-corner-left
	{
	box-shadow: none;
	font-size: 12px;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,input.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker
	{
	box-shadow: none;
	min-height: 25px;
	font-size: 1em;
}

a.ui-paginator-page.ui-state-default.ui-corner-all.ui-state-active {
	background: #036;
}

input.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker
	{
	min-height: 25px;
	max-width: 105px;
	font-size: 13px;
}

button.ui-autocomplete-dropdown.ui-button.ui-widget.ui-state-default.ui-corner-right.ui-button-icon-only
	{
	border-radius: 0px;
	background: #fff;
	box-shadow: none;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight {
	background: #036;
}

li.ui-autocomplete-item.ui-autocomplete-list-item.ui-corner-all.ui-state-highlight
	{
	background: #036;
	border-radius: 0px;
	border: 0px;
}

ui-autocomplete-panel .ui-autocomplete-list {
	padding: 0px;
	border: 0 none;
	margin-left: 0px;
}

a.ui-paginator-page.ui-state-default.ui-corner-all.ui-state-active {
	background: #036;
	color: #fff;
	text-shadow: none;
	border: none;
	font-size: 90%;
	padding: 6px 10px;
}

li.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-hover
	{
	background: #036;
	color: #fff;
	box-shadow: none;
	border: none;
}

.ui-autocomplete-panel .ui-autocomplete-list {
	padding: 0px;
	border: 0 none;
}

.ui-inputswitch.ui-widget.ui-widget-content.ui-corner-all {
	border-radius: 0px;
}

.ui-inputswitch-handle.ui-state-default {
	background: #036;
	border: 0px;
	box-shadow: none;
}

.ui-inputswitch-on.ui-state-active {
	background: #fff;
	color: #036;
	border: none;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all
	{
	background: none;
	border-radius: 0px;
}

label.ui-outputlabel.ui-widget,.ui-selectoneradio label,span.ui-button-text.ui-c,label
	{
	font-size: 13px;
	font-weight: bold;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	text-transform: uppercase;
}

.ui-datatable-header.ui-widget-header.ui-corner-top {
	border-radius: 0px;
	background: #036;
	text-shadow: none;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
}

.ui-state-default {
	border-radius: 0px;
	background: #036;
	text-shadow: none;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
}

.ui-state-default,.ui-widget-content .ui-state-default {
	background: none!;
}

label,label.ui-outputlabel.ui-widget {
	font-size: 13px;
	font-weight: bold;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	text-transform: none;
}

.ui-inputswitch.ui-widget.ui-widget-content.ui-corner-all.ui-inputswitch-checked,.ui-inputswitch-off,.ui-inputswitch-handl.ui-state-default
	{
	width: 30px;
}

.ui-paginator .ui-paginator-current,.ui-paginator .ui-paginator-rpp-options
	{
	margin-left: 1em;
	margin-right: 1em;
	background-image: none;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: #036;
	text-decoration: none;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active {
	font-weight: bold;
}

.ui-widget-header a {
	color: #ffffff;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: #036;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited
	{
	color: #ffffff;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	background: #036;
	color: #ffffff;
}

.ui-tabmenu .ui-tabmenu-nav {
	margin: 0;
	padding: .2em .2em 0;
	background: #fff;
	color: #333;
	font-weight: bold;
	text-shadow: none;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: #fff;
	text-decoration: none;
}

a.ui-menuitem-link.ui-corner-all.h1 {
	text-decoration: none !important;
	color: #fff;
}

li.ui-tabmenuitem {
	width: 33%;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
	float: left;
	padding: .2em 3.6em !important;
	text-decoration: none!imnportant;
    font-size: 28px;
    border-radius: 0px;
}

.ui-panel {
	padding: 0px !important;
}

.ui-steps.custom .ui-steps-item .ui-steps-number,.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title,span.ui-steps-title
	{
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	font-weight: bold;
	text-transform: capitalize;
}

.ui-panel .ui-panel-titlebar {
	padding: 3px 5px 10px 10px;
}

.ui-datagrid .ui-datagrid-header {
	border-bottom: 0 none;
	background: none;
	border-radius: 0px;
}

.ui-widget-header {
	border: 1px solid #a8a8a8;
	background: none;
	font-weight: bold;
	text-shadow: none;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
	{
	margin: 0px;
	border-bottom: 3px solid #034689;
	padding: 6px 20px;
	color: #4f4f4f;
	font-size: 85%;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	background: none;
	padding: 3px 4px;
	margin: 0px 6px;
	font-weight: 600;
}

.ui-state-highlight {
	background: #036;
	border: 0px;
}

li.ui-steps-item.ui-state-highlight.ui-corner-all {
	background: #036;
	border: 0px;
}

.ui-steps .ui-steps-item {
	width: 20%;
	border-radius: 0px;
	background: none;
}

li.ui-steps-item.ui-state-default.ui-corner-all {
	background: #036;
	opacity: 0.6;
	border: 0px;
}

.ui-state-highlight {
	background: #036;
	border: 0px !important;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
	height: 16px;
	padding: 0 1em;
}

SEZIONE PAGINATORE
.ui-paginator.ui-paginator-top.ui-widget-header {
	background: #fff;
}

.ui-datagrid-header.ui-widget-header.ui-corner-top {
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
}

.ui-paginator .ui-paginator-page,.ui-paginator .ui-paginator-pages,.ui-paginator .ui-paginator-next,.ui-paginator .ui-paginator-last,.ui-paginator .ui-paginator-first,.ui-paginator .ui-paginator-prev,.ui-paginator .ui-paginator-current
	{
	display: inline-block;
	padding: 0px;
	zoom: 1;
	margin-left: 0px;
	margin-right: -1px;
	text-decoration: none;
	outline: 0;
}

a.ui-paginator-page.ui-state-default.ui-state-active.ui-corner-all,a.ui-paginator-page.ui-state-default.ui-corner-all,a.ui-paginator-last,a.ui-paginator-next,a.ui-paginator-first,a.ui-paginator-prev,.ui-selectonemenu-trigge
	{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	padding: 4px 10px;
	margin: 0px -1px;
}

.ui-paginator .ui-paginator-pages {
	padding: 0px !important;
}

.ui-paginator.ui-paginator-top.ui-widget-header.ui-corner-top {
	background: #fff;
}

.ui-paginator.ui-paginator-bottom.ui-widget-header.ui-corner-bottom {
	border-radius: 0;
	background: #fff;
}

a.ui-paginator-next.ui-state-default.ui-corner-all,a.ui-paginator-last.ui-state-default.ui-corner-all,a.ui-paginator-first.ui-state-default.ui-corner-all.ui-state-disabled,a.ui-paginator-prev.ui-state-default.ui-corner-all.ui-state-disabled,a.ui-paginator-first.ui-state-default.ui-corner-all,a.ui-paginator-prev.ui-state-default.ui-corner-all
	{
	background: #fff;
	padding: 4px 7px;
	margin: -1px;
}

select.ui-paginator-rpp-options.ui-widget.ui-state-default.ui-corner-left
	{
	background: #fff;
}

a.ui-paginator-page.ui-state-default.ui-state-active.ui-corner-all {
	padding: 6px 11px 6px 10px;
	margin: 0px;
}

.ui-paginator .ui-paginator-current {
	display: inline-block;
	padding: 0px;
	zoom: 1;
	margin-left: 0px;
	margin-right: 10px;
	text-decoration: none;
	outline: 0;
}

input[type=text],input[type=password],select {
	border: 1px #ddd solid;
	background-color: #fff;
	padding: 3px;
}

.ui-dialog .ui-dialog-title {
	float: left;
	margin: .3em 16px .1em 0;
	font-size: 2.2em;
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-state-disabled.btn.btn-primary,button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.btn.btn-primary
	{
	background: #036;
	border: 0px;
	border-radius: 0px;
	height: 30px;
	width: 30px;
}

span.ui-button-icon-left.ui-icon.ui-c.fa.fa-shopping-cart {
	font-size: 20px;
	color: #fff;
	background: #036;
}

span.ui-button-text.ui-c {
	background: #036;
	color: #fff;
	text-shadow: none;
	border: 0px;
	box-shadow: none;
}

.ui-button-icon-only .ui-button-text {
	padding: 0px;
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
	{
	border: 0px;
}

input#debtChips_input {
	border: 0px;
}

ul.ui-chips-container.ui-inputfield.ui-state-default.ui-corner-all.null
	{
	border: 0px;
	box-shadow: none;
}

.ui-datatable-odd {
	background: none repeat scroll 0 0 #f5f5f5;
}

legend.ui-fieldset-legend.ui-corner-all.ui-state-default {
	background: none;
}

tr.ui-rowgroup-header.ui-datatable-headerrow.ui-widget-header {
	background: none;
	box-shadow: none;
}

.altRow tbody td {
	font-size: 11px;
}

a.ui-paginator-page.ui-state-default.ui-state-active.ui-corner-all.ui-state-focus
	{
	border: none;
}

ul.ui-tabs-nav.ui-helper-reset.ui-widget-header.ui-corner-all {
	background: none;
	border: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	border: none;
}

.fa:before {
	font-size: 15px;
	color: #127ae2;
}

.fa-shopping-cart:before,.fa-trash::before {
	font-size: 22px;
}

.ui-datatable tbody {
	padding: 4px 7px;
}

h3 .fa {
	background-color: #fff;
	color: #036;
	font-size: 1em;
	height: 1.em;
	padding: .3em;
	text-align: center;
	vertical-align: middle;
	width: 1.6em;
	margin-bottom: 3px;
}

li.ui-tabs-header.ui-state-default.ui-tabs-selected.ui-state-active.ui-corner-top
	{
	border: none;
	background-color: #036;
	color: #fff
}

ul.ui-tabs-nav.ui-helper-reset.ui-widget-header.ui-corner-all,.ui-tabs .ui-tabs-nav li.ui-tabs-selected a
	{
	border: none;
	background-color: #036;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}

.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-tabs-top
	{
	border: none;
}

.ui-state-default.subtable_header th {
	background: #036;
	color: #fff;
	text-shadow: none;
	border: none;
}

th.ui-state-default.subtable_header {
	background: #036;
	color: #fff;
	text-shadow: none;
	border: none;
	font-weight: 500;
	font-weight: 500;
	box-shadow: none;
}

input.ui-inputfield.ui-inputmask.ui-widget.ui-state-default.ui-corner-all
	{
	box-shadow: none;
}

.ui-datatable tbody.ui-datatable-data {
	outline: 0;
	font-weight: 500;
}

.ui-datatable-tablewrapper {
	overflow: unset;
}

.img_button {
	margin-left: 13%;
}

a.ui-commandlink.ui-widget.gridElement {
	border: none;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	font-weight: 600;
}

h3 {
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	font-weight: 600;
	margin: 0.5em 0;
}

.ui-steps .ui-steps-item {
	width: 16%;
}

.ui-state-highlight {
	text-shadow: none !important;
}

.ui-state-disabled {
	opacity: 1.00 !important;
	filter: Alpha(Opacity =   100);
	background-image: none;
}

.ui-steps.custom {
    margin-top: 20px;
    margin-bottom: 65px;
    margin-left: 3%;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
	height: 30px;
	padding: 0 1em;
}

.ui-steps.custom .ui-steps-item .ui-steps-number {
	background-color: #00a2ff;
	color: #FFFFFF;
	display: inline-block;
	width: 30px;
	border-radius: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
}

.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
	color: #555;
}

.ui-selectonemenu {
	width: 100% !important;
	text-align: center !important;
}

.ui-selectonemenu-panel {
	text-align: center !important;
}

.ui-selectonemenu-list-item {
	text-align: center !important;
}

.ui-selectonemenu-label {
	text-align: center !important;
}

.boxPagoPaImg {
	text-align: center;
	padding-top: 4px;
	padding-bottom: 1px;
	border-radius: 4px;
	border: 1px solid #cce4f7;
}

.box,.sample-layout>div {
	background-color: #cce4f7;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: 4px;
}

.box-stretched {
	height: 100%;
}

.sample-layout {
	margin: 0;
}

.sample-layout>div {
	border: 1px solid #ffffff;
}

.vertical-container {
	margin: 0;
	height: 200px;
	background: #efefef;
	border-radius: 4px;
}

.nested-grid .p-col-4 {
	padding-bottom: 1em;
}

.btn-default.btn-entrypoint {
	border-color: #127ae2;
	color: #127ae2;
	text-align: center;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	font-weight: 600;
	font-size: 15px;
}

a.ui-commandlink.ui-widget.gridElement:hover,.ui-panel.ui-widget.ui-widget-content.ui-corner-all.gridElement :hover
	{
	background: none;
	color: #127ae2;
	border-color: #127ae2;
}

.btn-entrypoint {
	border-width: 2px;
	display: block;
	margin: 0 0 0px;
	padding: 15px;
	text-align: left;
	width: 100%;
}

.btn-default.btn-entrypoint-selected,btn .btn-default.btn-entrypoint-selected:hover,.btn-default.btn-entrypoint:hover
	{
	border-color: #127ae2;
	color: #fff;
	background: #127ae2;
	text-align: center;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	font-weight: 600;
	border-width: 2px;
	display: block;
	margin: 0 0 0px;
	text-align: center;
	padding: 15px;
	font-size: 15px;
	width: 100%;
}

a.ui-commandlink.ui-widget.btn.btn-default.btn-entrypoint-selected {
	font-size: 15px;
}

a.ui-commandlink.ui-widget.btn.btn-default.btn-entrypoint-selected:hover
	{
	font-size: 15px;
	border-color: #127ae2;
	border-width: 2px;
	color: #fff;
	background: #127ae2;
	text-align: center;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	font-weight: 600;

	display: block;
	margin: 0 0 0px;
	text-align: center;
	padding: 15px;
	font-size: 15px;
	width: 100%;
}

a.ui-commandlink.ui-widget.gridElement,.ui-panel.ui-widget.ui-widget-content.ui-corner-all.gridElement
	{
	border: none;
	text-decoration: none;
	font-size: 15px;
	margin: 0 0 0px;
}

.ui-panel.ui-widget.ui-widget-content.ui-corner-all.gridElement:hover {
	color: #127ae2;
}



a.ui-menuitem-link.ui-corner-all.mega-menu {
	text-align: center;
	width: 100%;
	color:#127ae2;
	background: #fff;
	border-color: #127ae2;
	border-width: 2px;
	margin: 15px 0px;
 
}

a.ui-menuitem-link.ui-corner-all.mega-menu-selected, a.ui-menuitem-link.ui-corner-all.mega-menu:hover {
	text-align: center;
	width: 100%;
	color: #fff;
	background: #127ae2;
	border-color: #127ae2;
	margin: 15px 0px;
	
}

.ui-datatable tbody td {
	padding: 4px 7px;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
}

a.ui-commandlink.ui-widget.homeLink {
	color: #036;
	text-decoration: underline;
	font-weight: bold;
	font-size: 16px!important;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	padding: 15px;
}

a.ui-commandlink.ui-widget.homeLink:hover {
	color: #127ae2;
	text-decoration: underline;
	font-weight: bold;
	font-size: 16px!important;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	padding: 15px;
}


a.ui-commandlink.ui-widget.tableLink {
	color: #036;
	text-decoration: underline;
	font-size: 10px!important;


}

a.ui-commandlink.ui-widget.tableLink:hover {
	color: #127ae2;
	text-decoration: underline;
	font-size: 10px!important;

	
}


label.ui-outputlabel.ui-widget.homeLabelMenu {
	color: #036;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	padding: 15px;
}


.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all {
    border-radius: 0px;
    max-width: 300px;
    margin: 10px 0px 0px 0px;
}

.btn-default.btn-entrypoint:not(:hover) {
	border-color: #06c;
	font-size: 15px;
}

.panel-primary {
    
    border: 0;
}

.panel-default > .panel-heading {
    background-color: #f0f0f0;
    color: #036;
}

.logo_pagopa_small {
  max-width: 66px;
    margin-left: 2%;
    position: absolute;
    margin-top: 3px;
    
}

.logo_ebollo {
max-width: 370px;
    margin-left: 27%;
    position: inherit;
    margin-top: 3px;
    
}


.col-sm-6.col-lg-8.bollo-background{
 
    background-image: url("#{resource['images/banner_bollo.png']}");
  background-size: cover;
    background-repeat: no-repeat; 
      background-position: center; 
        background-attachment: unset;
          background-position: center;
    height: 250px
    
}

 
a.ui-commandlink.ui-widget.img_button_bollo {
    padding-left: 20%;
}

.ui-panel-content.ui-widget-content {
    padding: .5em 0em!important;
}

span.ui-commandlink.ui-widget.ui-state-disabled span.fa:before {
	opacity: 0.4;
}

.ui-selectonemenu-panel.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden.ui-shadow.ui-input-overlay {
    font-size: 1.1em;
}

.ui-widget-content {
     border: 0px ; 
    background: #fff;
    color: #4f4f4f;
}


.ui-datagrid-content.ui-widget-content.ui-grid.ui-grid-responsive {
    border: 0;
}

.ui-datatable tbody td , th.ui-state-default{
    border-color: inherit;
    text-align: center!important;
     padding: 7px 5px!important;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
   
   
}

th.ui-state-default{
    border-color: inherit;
    text-align: center!important;
     padding: 7px 5px!important;
    overflow: hidden;
    border-width: 0px;
    border-style: solid;
    border:0px;
    border: 1px solid #A8A8A8;
   
}


.alert-info, .label-info{

	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial';
    font-size: 15px;
    font-weight: 600;


}


.ui-selectonemenu label.ui-selectonemenu-label {
	box-shadow: none;
	border-radius: 0px;
	font-size: 13px;
}

textarea.ui-inputfield.ui-inputtextarea.ui-widget.ui-state-default.ui-corner-all {
    font-size: 12px;
    border-radius: 0;
    box-shadow: none;
}

.ui-growl-icon-close.ui-icon.ui-icon-closethick,  .ui-growl-item {

    background-color: #dff0d8;
    border-color: #5cb85c;
    color: #09430a;
    box-shadow:none;
    	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
    
}
 
 
 .ui-state-highlight, .ui-widget-content .ui-state-highlight {
  background-color: #dff0d8;
    border-color: #5cb85c;
    color: #09430a;
    box-shadow:none;
    
    	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
    
    }
    
    fieldset.ui-fieldset.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container {
    border: none;
}


.ui-messages-info.ui-corner-all {
   background-color: #dff0d8;
    border-color: #5cb85c;
    color: #09430a;
    box-shadow:none;
     
}


span.ui-messages-info-summary, span.ui-messages-warn-summary, span.ui-messages-error-summary {
    font-size: 14px;
       	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
}

.alert {
    border-radius: 0;
    padding: 5px 15px;
}


.fisrt{

border-top: 1px solid #A8A8A8!important;

 
}


.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
 
{

display:none!important;

}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.btn.btn-primary.ui-state-hover {

box-shadow:none;

}

.ui-steps .ui-steps-item .menuBollo{
    width: 33%;
}

body .ui-inputswitch .ui-inputswitch-handle {
    border: 1px solid #a6a6a6;
    border-width: 0px 1px 0px 0px;
    background-color: #ffffff;
    width: 1.572em !important;
    height: 33px !important;
}

.ui-inputswitch .ui-inputswitch-handle {
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    border-top: 0 none;
    border-bottom: 0 none;
}

body .ui-inputswitch .ui-inputswitch-on, body .ui-inputswitch .ui-inputswitch-off {
    top: 60%;
    margin-top: calc(-30px / 2);
      font-size: 13px;
    
}

body .ui-inputswitch .ui-inputswitch-on  {
    top: 50%;
    margin-top: calc(-30px / 2);
     background: none;
    color: #fff;
    border: none;
    font-size: 13px;
    font-weight: 500;  
    text-shadow:none;
 
    
}

.ui-inputswitch-on.ui-state-active{
box-shadow:none;
}

.ui-inputswitch .ui-inputswitch-on {
    left: 0;
    padding-right: 4px;
    border: 0 none; 
   
}
.ui-inputswitch .ui-inputswitch-on, .ui-inputswitch .ui-inputswitch-off {
    white-space: nowrap;
    display: block;
    position: absolute;
    top: 0;
    width: auto;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    font-weight: bold;
    height: 20px;
    padding-top: 4px;
    
}

body .ui-inputswitch.ui-inputswitch-checked {
    border-color: #a6a6a6;
    background-color: #007ad9;
    color: #ffffff;
}

.ui-inputswitch {
	display: inline-block;
	padding: 0;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    height: 24px;
}

.ui-inputswitch .ui-inputswitch-on,
.ui-inputswitch .ui-inputswitch-off {
	white-space: nowrap;
    display: block;
    position: absolute;
	top: 0;
    width: auto;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
	font-weight: bold;
	height: 20px;
	padding-top: 4px;
}

.ui-inputswitch .ui-inputswitch-off {
	right: 0;
	text-align: right;
}

.ui-inputswitch .ui-inputswitch-off span {
	display: inline-block;
	text-align: center;
	padding-left: 2px;
	padding-right: 3px;
}

.ui-inputswitch .ui-inputswitch-on {
	left: 0;
	padding-right: 4px;
    border: 0 none;
}

.ui-inputswitch .ui-inputswitch-on span {
	display: inline-block;
	text-align: center;
	padding-left: 3px;
	padding-right: 2px;
}

.ui-inputswitch .ui-inputswitch-handle {
	display: block;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
    height: 24px;
    border-top: 0 none;
    border-bottom: 0 none;
}

body .ui-inputswitch {
  border: 1px solid #a6a6a6;
  border-color: #a6a6a6;
  background-color: #ffffff;
  color: #333333;
  height: 33px;
  -moz-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s; }
  body .ui-inputswitch .ui-inputswitch-handle {
    border: 1px solid #a6a6a6;
    border-width: 0px 1px 0px 0px;
    background-color: #ffffff;
    width: 1.572em !important;
    height: 33px !important; }
    body .ui-inputswitch .ui-inputswitch-handle.ui-state-focus {
      background-color: #a6a6a6; }
  body .ui-inputswitch .ui-inputswitch-on,
  body .ui-inputswitch .ui-inputswitch-off {
    top: 60%;
    margin-top: calc(-30px / 2); }
  body .ui-inputswitch.ui-inputswitch-checked {
    border-color: #a6a6a6;
    background-color: #007ad9;
    color: #ffffff; }
    body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-handle {
      border-width: 0px 0px 0px 1px; }
    body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover {
      background-color: #005b9f; }
  body .ui-inputswitch:not(.ui-state-disabled):hover {
    background-color: #d9d9d9; }
    
    :root {
    --input-border-color: #a6a6a6;
    --input-hover-border-color: #212121;
    --input-focus-border-color: #007ad9;
}

body .ui-inputswitch .ui-inputswitch-on, body .ui-inputswitch .ui-inputswitch-off {
    top: 60%;
    margin-top: calc(-30px / 2);
}

.ui-inputswitch.ui-widget.ui-widget-content.ui-corner-all{
	margin-left:10px;

}
 */


body .ui-selectbooleanbutton,
body .ui-buttonset:not(.ui-splitbutton) > .ui-button {
  background-color: #dadada!important;
  color: #333333!important;
  border: 1px solid #dadada!important;
  font-size: 14px!important;
  margin: 0!important;
  outline: 0 none!important;
  -moz-transition: background-color 0.3s!important;
  -o-transition: background-color 0.3s!important;
  -webkit-transition: background-color 0.3s!important;
  transition: background-color 0.3s!important; }
  body .ui-selectbooleanbutton .ui-icon,
  body .ui-buttonset:not(.ui-splitbutton) > .ui-button .ui-icon {
    color: #666666!important; }
  body .ui-selectbooleanbutton.ui-state-hover,
  body .ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-hover {
    background-color: #c8c8c8!important;
    border-color: #c8c8c8!important;
    color: #333333!important; }
    body .ui-selectbooleanbutton.ui-state-hover .ui-icon,
    body .ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-hover .ui-icon {
      color: #212121!important; }
  body .ui-selectbooleanbutton.ui-state-active,
  body .ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-active {
    background-color: #007ad9!important;
    border-color: #007ad9!important;
    color: #ffffff!important; }
    body .ui-selectbooleanbutton.ui-state-active .ui-icon,
    body .ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-active .ui-icon {
      color: #ffffff!important; }
    body .ui-selectbooleanbutton.ui-state-active.ui-state-focus,
    body .ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-active.ui-state-focus {
      background-color: #116fbf!important;
      border-color: #116fbf!important;
      color: #ffffff!important; }
      body .ui-selectbooleanbutton.ui-state-active.ui-state-focus .ui-icon,
      body .ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-active.ui-state-focus .ui-icon {
        color: #ffffff!important; }
    body .ui-selectbooleanbutton.ui-state-active:not(.ui-state-disabled):hover,
    body .ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-active:not(.ui-state-disabled):hover {
      background-color: #005b9f!important;
      border-color: #005b9f!important;
      color: #ffffff!important; }
      body .ui-selectbooleanbutton.ui-state-active:not(.ui-state-disabled):hover .ui-icon,
      body .ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-active:not(.ui-state-disabled):hover .ui-icon {
        color: #ffffff!important; }
      body .ui-selectbooleanbutton.ui-state-active:not(.ui-state-disabled):hover.ui-state-focus,
      body .ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-active:not(.ui-state-disabled):hover.ui-state-focus {
        border-color: #666666!important; }
  body .ui-selectbooleanbutton.ui-state-focus,
  body .ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-focus {
    outline: 0 none!important;
    background-color: #c8c8c8!important;
    border-color: #666666!important;
    color: #333333!important; }
    body .ui-selectbooleanbutton.ui-state-focus .ui-icon,
    body .ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-focus .ui-icon {
      color: #212121!important; }
      
     
     .ui-selectbooleanbutton.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left .ui-button-text .ui-c{
      background-color: #c8c8c8!important;
  }
  
  .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all.smallSelectColumn {
    min-width: 100px!important;
}

.ui-datatable .ui-sortable-column {
    cursor: pointer;
    min-width: 140px;
}


body .ui-panel .ui-panel-titlebar {
    border: 0px !important;
    background-color: #06c!important;
    color: #fff!important;
    padding: .571em 1em .571em 1em;
    font-weight: 700;
    -moz-border-radius-topleft: 0px!important;
    -webkit-border-top-left-radius: 0px!important;
    border-top-left-radius: 0px!important;
    -moz-border-radius-topright: 0px!important;
    -webkit-border-top-right-radius: 0px!important;
    border-top-right-radius: 0px!important;
    -moz-border-radius-bottomleft: 0!important;
    -webkit-border-bottom-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    -moz-border-radius-bottomright: 0!important;
    -webkit-border-bottom-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.ui-panel.ui-widget.ui-widget-content.ui-corner-all.boxed {

border: 1px solid #127ae2;
border-radius:0;
    -moz-border-radius-topleft: 0px!important;
    -webkit-border-top-left-radius: 0px!important;
    border-top-left-radius: 0px!important;
    -moz-border-radius-topright: 0px!important;
    -webkit-border-top-right-radius: 0px!important;
    border-top-right-radius: 0px!important;
    -moz-border-radius-bottomleft: 0!important;
    -webkit-border-bottom-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    -moz-border-radius-bottomright: 0!important;
    -webkit-border-bottom-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}


span.pi.pi-search {
    padding-right: 3px;
}

span.fa.fa-file-o {
    padding-right: 1px;
}  

body .pi {
    font-size: 1.10em!important;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 5px!important;
}

      