/*!
 * Sogei UI Kit 4
 * author: dgalloppa@sogei.it
 */

/* IMMAGINI */
.img-fluid {
	width: auto;
}

/* CARD CON IMMAGINI */
.card-image,
.card-horizontal {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	width: 100%;
}
.card-image > .card-header {
	overflow: hidden;
}
.card-img-top {
	border-radius: 0;
}
.card-img-icon {
	overflow: hidden;
	position: relative;
}
.card-img-icon > .fa-card {
	color: #fff;
	font-size: 6em;
	left: 0;
	position: absolute;
	text-align: center;
	text-shadow: .375rem .375rem 1rem rgba(0,0,0,.4);
	top: 25%;
	width: 100%;
}
.card-icon-bg > .card-body > .fa-card {
	color: #5a6772;
	font-size: 4em;
	opacity: .2;
	position: absolute;
	right: 15px;
}

/* CAROUSEL */
.carousel-indicators {
	bottom: 0;
	margin: .75rem 0 0;
	position: relative;
}
.carousel-indicators li {
	background-color: #ccc;
	border: 0;
	border-radius: 50%;
	height: 16px;
	margin: 0 .5rem;
	text-indent: 0;
	opacity: 1;
	width: 16px;
}
.carousel-indicators .active {
	background-color: #06c;
}
.carousel-indicators li.carousel-btn {
	background-color: transparent;
}
.carousel-btn .fa-pause,
.carousel-btn .fa-play {
	vertical-align: top;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.card-horizontal {
		max-width: 100%;
	}
	.card-horizontal .card-img-top {
		max-width: 204px;
	}
	.card-horizontal > .card-img-icon > .fa-card {
		font-size: 3em;
	}
}