
<!DOCTYPE html> 

<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      >
    <body>
	    <ui:composition>
			<div class="panel-body no-borders bg-white">	
	    		<div class="row">
	    		<!-- 	<div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"> -->
	    			<div class="col-sm-12 col-md-12 col-lg-12">
	    				<div class="text-center text-blu-aida">
					        <h1>#{msg['result.title']}</h1>
					        <p class="lead">#{msg['result.contenuto']}</p>
					       
				      	</div>
	    			</div>
	    		</div>
    		</div>
    		
	    </ui:composition>
    </body>
</html>