<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:facet name="first">
    <h:outputScript library="primefaces" name="jquery/jquery.js" />

</f:facet>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- Non entra in modalità compatibilità -->
<title>Portale Unico Dogane</title>
<meta name="description" content="Sito ufficiale dell'Agenzia delle Dogane e dei Monopoli. Si puo' scaricare software e normativa, aderire ai servizi telematici per gestire le dichiarazioni doganali, intrastat e accise, valersi di assistenza online." />
<meta name="keywords" content="" />
<meta name="rating" content="general" />
<meta name="robots" content="index,all" />
<meta name="revisit-after" content="30 days" />

<h:outputScript name="js/addestramento/funzioni.js"/>
<h:outputScript name="js/addestramento/absfooter.js"/>

<!-- <h:outputScript name="bootstrap/js/bootstrap-datepicker.min.js"/>
<h:outputScript name="bootstrap/js/bootstrap-datepicker.it.min.js"/> -->
<h:outputScript name="bootstrap/js/bootstrap.min.js"/>


<!--<script  type="text/javascript" src="js/all.js"></script>-->
<h:outputStylesheet name="css/font-awesome.min.css"/>
<h:outputStylesheet name="css/uikit/titillium.css"/>
 <h:outputStylesheet name="css/addestramento/style.css"/>
<h:outputStylesheet name="css/addestramento/home_page.css"/>

<h:outputStylesheet name="bootstrap/css/bootstrap.min.css"/>
<h:outputStylesheet name="css/app/app.css"/>
<h:outputStylesheet name="css/app/uikit-demo.css"/>
 <h:outputStylesheet name="css/app/common.css"/>
<h:outputStylesheet name="css/app/grid.css"/>
<h:outputStylesheet name="css/app/menu.css"/>
 <h:outputStylesheet name="css/app/component.css"/>
   <h:outputStylesheet name="css/app/typography.css"/>
     <h:outputStylesheet name="css/app/full-page.css"/>
     <h:outputStylesheet name="css/app/form.css"/>
     <h:outputStylesheet name="css/app/all.min.css"/>
 <h:outputStylesheet name="css/addestramento/NEW.css"/>

<!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css"><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css"><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css"><![endif]-->
<!--[if IE 9]><link rel="stylesheet" type="text/css" href="css/ie9.css"><![endif]-->
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://assistenza.agenziadogane.it/assistenza/rss/rss.asp" />
<link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>

<!-- <style type="text/css">

    #istituzionale_home li.esci:before {
        content: none;
    }

    #istituzionale_home li.esci{
        margin-left:2px;
    }

    #istituzionale_home li.dropdown a:link, #istituzionale_home.dropdown li a:visited {
        padding-left: 0;
    }
    #header_home #logo {
        float: left;
        margin: 0px;
        position: absolute;
        left: 10px;
    }

    .arearis {
        background-color:#888;
        color:#fff;
        padding-left:4px;
        padding-right:2px;
        background:#eee url("#{resource['images/chiave_area_riservata.png']}") no-repeat 0 0;
    }

    #istituzionale_home li.arearis a{padding-left:35px;}


    #istituzionale_home ul{position:absolute;right:0;margin:15px 0 0 0;}

    #addestramento {
        float: left; height: 100px;
    }

    #addestramento h2 {    background-color: #fff;
    color: #1A3E86;
    border: 0px none;
    text-align: center;
    font-size: 32px;
  }
</style> -->

</html>
