
<!DOCTYPE html>
        
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://www.sogei.it/dogane/jsf">
<body>
	<ui:composition>
		<h1 class="sr-only">#{msg['menu.title']}</h1>
		<nav class="navbar navbar-default navbar-xs menu-sm" role="navigation">
			<div class="container-fluid bg-blu-aida">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#">#{msg['menu.home']}</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle"
							   data-toggle="dropdown"
							   role="button"
							   aria-haspopup="true"
							   aria-expanded="false">#{msg['menu.titleMenu1']} <span class="caret"/></a>
							<ul class="dropdown-menu dropdown-sm">
								<li><a href="#{msg['menu.voce1Menu1Url']}">#{msg['menu.voce1Menu1']}</a></li>
								<li><a href="#{msg['menu.voce2Menu1Url']}">#{msg['menu.voce2Menu1']}</a></li>
								<li><a href="#{msg['menu.voceNMenu1Url']}">#{msg['menu.voceNMenu1']}</a></li>
								
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle"
							   data-toggle="dropdown"
							   role="button"
							   aria-haspopup="true"
							   aria-expanded="false">#{msg['menu.titleMenu2']} <span class="caret"/></a>
							<ul class="dropdown-menu dropdown-sm">
								<li><a href="#{msg['menu.voce1Menu2Url']}">#{msg['menu.voce1Menu2']}</a></li>
								<li><a href="#{msg['menu.voce2Menu2Url']}">#{msg['menu.voce2Menu2']}</a></li>
								<li><a href="#{msg['menu.voceNMenu2Url']}">#{msg['menu.voceNMenu2']}</a></li>
							</ul>
						</li>						
					</ul>
					<h:form>
						<s:logout
								logoutLabel="Logout"
								buttonStyleClass="pull-right"
								buttonIcon="ui-icon-power"
								success="logout"
						/>
					</h:form>
					<ui:include src="#{breadcrumbService.breadcrumbToInclude}"/>

				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</ui:composition>
</body>

</html>