<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:s="http://www.sogei.it/dogane/jsf" xmlns:p="http://xmlns.jcp.org/jsf/html"
>

<ui:composition>
    <div class="skiplink"><a accesskey="0" href="#{msg['headerAdd.contenutoUrl']}">#{msg['headerAdd.contenutoLabel']}</a> ! <a href="#{msg['headerAdd.menuPrincUrl']}">#{msg['headerAdd.menuPrincLabel']}</a></div>
    <div id="contenitore">

    <div class="row"  style="border-bottom:1px solid #eee;">

        <div class="col-sm-6 col-lg-4" id="logo">
            <h:outputLink value="#{msg['headerAdd.homepageUrl']}" >
                <h:graphicImage library="images" name="logo2018.png" styleClass="logo" alt="#{msg['headerAdd.homepageAlt']}" />
            </h:outputLink>
        </div>

        <div class="col-sm-6 col-lg-4" id="addestramento"><h2>#{msg['headerAdd.ambienteTitle']}</h2></div>

        <div class="col-sm-6 col-lg-4" id="istituzionale_home">
            <ul>

                <li class="blank arearis" style="">
                    <a href="#">#{userService.username}</a>
                </li>
                <ui:fragment rendered="#{userService.username != userService.unauthenticated}">
                    <li class="esci">
                        <a  title="#{msg['headerAdd.esciTitle']}" href="#{msg['headerAdd.esciUrl']}">#{msg['headerAdd.esciLabel']}</a>
                    </li>
                </ui:fragment>
            </ul>


      	  </div><!-- #istituzionale_home -->

  		  </div><!-- #header_home -->
    	<div class="clearer"></div>
    </div>


</ui:composition>
</html>