/*!
 * Sogei UI Kit 4
 * author: dgalloppa@sogei.it
 */

/* HEADER */
#page-header {
	background-color: #f0f0f0;
	border-bottom-color: #004080;
	color: #004080;
}
#page-header .navbar-toggler {
	color: #004080;
}
#page-header .btn-primary.btn-alt:not(:hover) {
	background-color: #004080;
	border-color: #004080;
	color: #fff;
}
.language .btn:focus,
.language .btn:hover,
.language .active > .btn {
	background-color: #eb641f;
	border-color: #eb641f;
}

/* MENU TOP */
.navbar {
	background-color: #004080;
}
.dropdown-item,
.dropdown-item:focus,
.dropdown-item:hover {
	color: #004080;
}
#btn-accedi {
	background-color: #06c;
	color: #fff;
}

/* MENU LEFT */
#menu-left {
	border-color: #004080;
}
#menu-left.navbar-dark,
#menu-left-title,
#menu-left .nav-divider {
	background-color: #004080;
}
#menu-left.navbar-light .nav-item {
	background-color: rgba(0,64,128,.075);
}
#menu-left.navbar-light .nav-link {
	color: rgba(0,64,128,.9) !important;
}
#menu-left.navbar-light .nav-link:focus,
#menu-left.navbar-light .nav-link:hover,
#menu-left.navbar-light .active > .nav-link,
#menu-left.navbar-light .active > .nav-link:focus,
#menu-left.navbar-light .active > .nav-link:hover {
	color: #004080 !important;
}

/* ICONS */
.fa-title {
	background-color: #eb641f;
}

/* TITLE */
h1.underline, h2.underline, h3.underline, h4.underline {
	border-bottom-color: #004080;
}

/* LINK */
/* a:hover { */
/* 	color: #eb641f; */
/* } */

/* SPINNER */
#spinner {
	color: #eb641f;
}

/* BADGE */
.badge-primary {
	background-color: #127ae2;
}

/* CARD */
.card-primary {
	border-color: #127ae2;
}
.card-primary > .card-header {
	background-color: #127ae2;
}

/* TABS */
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
	border-top-color: #eb641f;
}

/* TABLE */
.table > thead > tr > th {
	color: #004080;
}
.table-header > thead > tr > th {
	background-color: #004080;
	color: #fff;
}
.table:not(.table-bordered),
.table:not(.table-bordered) > thead > tr > th {
	border-bottom-color: #004080;
}
caption {
	color: #004080;
}

/* PAGINATION */
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
	background-color: #004080;
	color: #004080;
}
/* .page-link:hover { */
/* 	color: #eb641f; */
/* } */

/* ENTRYPOINT */
.btn-entrypoint.btn-default:not(:hover) {
	border-color: #004080;
	color: #004080;
}
.btn-entrypoint.btn-primary:not(:hover) {
	background-color: #004080;
	border-color: #004080;
}
/* .btn-entrypoint.btn-default:active, */
/* .btn-entrypoint.btn-default:hover, */
/* .btn-entrypoint.btn-default:active:hover, */
/* .btn-entrypoint.btn-info:active, */
/* .btn-entrypoint.btn-info:hover, */
/* .btn-entrypoint.btn-info:active:hover { */
/* 	background-color: #eb641f; */
/* 	border-color: #eb641f; */
/* } */

/* PROGRESS BAR */
.progress-bar,
.progress-bar-link {
	color: rgba(28,32,36,.9);
}
.progress-bar-done {
	background-color: #d1e7ff;
}
.progress-bar-doing {
	background-color: #004080;
}
.progress-bar-link:focus,
.progress-bar-link:hover {
	color: #1c2024;
}

/* FORM */
label,
legend,
.input-group-text {
	color: #004080;
}

/* BUTTON */
/* .btn-primary:active, */
/* .btn-primary:hover, */
/* .btn-primary:active:hover, */
/* .btn-primary:active:focus, */
/* .btn-default:active, */
/* .btn-default:hover, */
/* .btn-default:active:hover, */
/* .btn-default:active:focus { */
/* 	background-color: #eb641f; */
/* 	border-color: #eb641f; */
/* 	color: #fff; */
/* } */
/* a.btn-default:active, */
/* a.btn-default:hover, */
/* a.btn-default:active:hover { */
/* 	border-color: #eb641f; */
/* 	color: #eb641f; */
/* } */

/* CAROUSEL */
.carousel-indicators .active {
	background-color: #eb641f;
}

/* LOGIN */
#full-page {
	background-color: #f0f0f0;
	background-image: radial-gradient(#f0f0f0, #ddd 90%);
}
#full-page #page-footer,
#error-msg {
	color: #004080;
}
#full-page hr {
	border-color: rgba(0,0,0,.1);
}
#error-msg a:not(.btn) {
	color: #06c;
}
#error-msg a:not(.btn):hover {
/* 	color: #eb641f; */
	color: #036;
}