/*!
 * Sogei UI Kit 4
 * author: dgalloppa@sogei.it
 */

/* SPINNER */
#spinner {
	color: #06c;
	padding: 1rem;
	text-align: center;
}

/* BREADCRUMB */
.breadcrumb-title,
.breadcrumb-item {
	display: inline;
}
.breadcrumb {
	background-color: transparent;
	border-radius: 0;
	display: inline-block;
}

/* MESSAGE E BADGE */
.alert {
	border-radius: 0;
	padding: .5rem .75rem;
}
ul.alert {
	list-style: none;
}
.badge {
	border: 1px solid transparent;
	font-size: .9em;
	font-weight: 600;
}
.alert-danger,
.badge-danger {
	background-color: #f2dede;
	border-color: #d9534f;
	color: #76110f;
}
.alert-info,
.badge-info {
	background-color: #d9edf7;
	border-color: #5bc0de;
	color: #003d5c;
}
.alert-success,
.badge-success {
	background-color: #dff0d8;
	border-color: #5cb85c;
	color: #09430a;
}
.alert-warning,
.badge-warning {
	background-color: #fcf8e3;
	border-color: #f0ad4e;
	color: #573a08;
}
.alert > li::before,
div.alert::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	margin-right: .5rem;
}
.alert-danger > li::before,
div.alert-danger::before {
	content: '\f057';
}
.alert-info > li::before,
div.alert-info::before {
	content: '\f05a';
}
.alert-success > li::before,
div.alert-success::before {
	content: '\f058';
}
.alert-warning > li::before,
div.alert-warning::before {
	content: '\f071';
}
.alert > li:not(:last-child) {
	border-bottom: 1px solid rgba(255,255,255,.9);
	margin-bottom: .5rem;
	padding-bottom: .5rem;
}
.alert-content {
	/* Fix IE11 */
	-ms-flex-negative: 1 !important;
	margin-bottom: 0;
}
.badge-primary {
	background-color: #06c;
}
.badge-default {
	background-color: #f0f0f0;
	border-color: #5a6772;
	color: #1c2024;
}
.alert-content > a {
	background-color: #fff;
	border-radius: .25rem;
	padding: 0 .5rem;
}

/* TABS */
.nav-tabs {
	border-bottom-color: #ccc;
}
.nav-tabs .nav-link {
	border-top-width: 2px;
	border-radius: 0;
	font-weight: 600;
}
.nav-tabs .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	text-decoration: none !important;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	background-color: #f0f0f0;
	border-color: #f0f0f0 #f0f0f0 #ccc #f0f0f0;
}
.nav-tabs.items-bordered .nav-link,
.nav-tabs.items-bordered .nav-link:focus,
.nav-tabs.items-bordered .nav-link:hover {
	border-color: #ccc;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
	border-color: #036 #ccc #ccc #ccc;
	color: #1c2024;
}
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
	background-color: #fff;
}
.tab-pane {
	border-color: #ccc;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	padding: 1rem;
}

/* CARD */
.card {
	margin-bottom: 1rem;
}
.card,
.card-header,
.card-footer {
	border-radius: 0 !important;
}
.card-header,
.card-body,
.card-footer {
	padding: .5rem 1rem;
}
.card-header {
	border-bottom: 0;
	line-height: 1.2;
}
.card-header > .card-title {
	margin-bottom: 0;
}
.card-body > .card-title {
	margin-top: .75rem;
	margin-bottom: 1rem;
}
.card-footer {
	background-color: #fff;
	border-top: 0;
}
.card-footer a:not(:hover) {
	text-decoration: none !important;
}
.card-default {
	border-color: #ccc;
}
.card-default > .card-header {
	background-color: #f0f0f0;
	color: #1c2024;
}
.card-primary {
	border-color: #036;
}
.card-primary > .card-header {
	background-color: #036;
	color: #fff;
}
.card-info {
	border-color: #8ebeed;
}
.card-info > .card-header {
	background-color: #d1e7ff;
	color: #1c2024;
}
.card-disabled {
	border-color: #ccc;
}
.card-disabled > .card-header,
.card-disabled > .card-body,
.card-disabled > .card-footer {
	background-color: #e9e9e9;
	color: #696969;
}
.card-icon-bg > .card-body {
	padding-right: 5rem;
}
.card-icon-bg > .card-body > .fa-card {
	color: #5a6772;
	font-size: 4rem;
	opacity: .2;
	position: absolute;
	right: .5rem;
}
.card-simple {
	border: 0;
	border-top: .5rem solid #06c;
	margin: 1rem 0;
	padding-top: 0;
	width: 100%;
}
.card-simple > .card-body,
.card-simple > .card-footer {
	padding-left: 0;
	padding-right: 0;
}
.well {
	background-color: #f3f3f3;
	border: 1px solid #ccc;
	padding: 1rem;
}

/* COLLAPSIBLE */
.card-collapsible .card-toggler {
	text-decoration: none !important;
	width: 100%;
}
.card-collapsible.card-primary .card-toggler {
	color: #fff !important;
}
.card-collapsible.card-default .card-toggler,
.card-collapsible.card-info .card-toggler {
	color: #1c2024 !important;
}
.card-collapsible > .card-header .card-toggler::before {
	content: '\f078';
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	font-size: 1.25rem;
	font-weight: 900;
	margin-right: .5rem;
	text-align: center;
	width: 1.25rem;
}
.card-collapsible > .card-header .card-toggler:focus::before,
.card-collapsible > .card-header .card-toggler:hover::before {
	content: '\f077';
}
.card-collapsible > .card-header .card-toggler.collapsed::before {
	content: '\f054';
}
.card-collapsible > .card-header .card-toggler.collapsed:focus::before,
.card-collapsible > .card-header .card-toggler.collapsed:hover::before {
	content: '\f078';
}

/* ACCORDION */
.accordion > .card:not(:last-child) {
	margin-bottom: 0;
	border-bottom: 0;
}

/* TABLE */
.table-responsive {
	margin-bottom: 1rem;
}
.table {
	margin-bottom: 0;
}
.table > tbody > tr > td,
.table > tbody > tr > th {
	vertical-align: middle;
}
.table,
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	border-color: #ccc;
}
.table:not(.table-sm) > thead > tr > th,
.table:not(.table-sm) > tbody > tr > td,
.table:not(.table-sm) > tbody > tr > th {
	padding: .5rem .75rem;
}
.table:not(.table-bordered),
.table:not(.table-bordered) > thead > tr > th {
	border-bottom: 1px solid #036;
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #f5f5f5;
}
.table-hover > tbody > tr:hover {
	background-color: #f0f0f0;
}
.table-header > thead > tr > th {
	background-color: #036;
	color: #fff;
}
caption {
	caption-side: top;
	color: #036;
	font-weight: 600;
	padding: .5rem 0;
	text-align: center;
}

/* PAGINATION */
.pagination,
.page-link {
	border-radius: 0 !important;
}
.page-link {
	border-color: #ccc;
	font-weight: 600;
}
.page-link:hover {
	border-color: #ccc;
	color: #036;
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
	background-color: #036;
	border-color: #036;
	color: #fff !important;
}
.page-link:focus,
.page-link:hover {
	background-color: #f0f0f0;
	color: inherit;
}

/* MODAL */
.modal-content {
	border-color: #ccc;
	border-radius: 0;
	box-shadow: none;
}
.modal-header {
	border-color: #ddd;
}
.modal-footer {
	border: 0;
	justify-content: center;
}

/* LIST GROUP */
.list-group-item {
	border-color: #ddd;
	border-radius: 0 !important;
	text-decoration: none !important;
}
.list-group-item-action {
	color: #1c2024 !important;
}
.list-group-item-action:focus,
.list-group-item-action:hover {
	background-color: #f0f0f0;
}

/* ENTRYPOINT */
.btn-entrypoint {
	border-width: 2px;
	padding: .75rem 1rem !important;
	width: 100%;
}
.btn-entrypoint.btn-default:not(:hover) {
	border-color: #06c;
}
.btn-entrypoint.btn-info:not(:hover) {
	background-color: #06c;
	border-color: #06c;
	color: #fff;
}
.btn-entrypoint.btn-default:active,
.btn-entrypoint.btn-default:hover,
.btn-entrypoint.btn-default:active:hover,
.btn-entrypoint.btn-info:active,
.btn-entrypoint.btn-info:hover,
.btn-entrypoint.btn-info:active:hover {
	background-color: #036;
	border-color: #036;
	color: #fff;
}

/* PROGRESS BAR */
.progress {
	background-color: #eee;
	border-radius: 2.25rem;
	font-size: 1em;
	height: auto;
}
.progress-bar {
	background-color: #06c;
	color: rgba(255,255,255,.9);
}
.progress-bar-doing {
	background-color: #036;
	border-radius: 0 2.25rem 2.25rem 0;
	color: #fff !important;
	font-weight: 600;
}
.progress-bar-todo {
	background-color: #eee;
	color: #1c2024;
}
.progress-bar-item,
.progress-bar-link {
	padding: .25rem;
}
.progress-bar-link {
	color: rgba(255,255,255,.9);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.progress-bar-link:focus,
.progress-bar-link:hover {
	color: #fff;
}
.progress-bar-number {
	font-weight: 900;
}
.progress .text-truncate {
	font-size: .9em;
}

/* WIZARD */
.wizard-number {
	font-weight: 600;
	margin-bottom: .5rem;
	text-align: center;
}
.wizard-step > .progress {
	background-color: #e0e0e0;
	border-radius: 0;
	height: .5rem;
	margin: 1.75rem 0;
	position: relative;
}
.wizard-step:first-child > .progress {
	left: 50%;
	width: 50%;
}
.wizard-step:last-child > .progress {
	width: 50%;
}
.wizard-step-done > .progress > .progress-bar {
	width: 100%;
}
.wizard-step-doing > .progress > .progress-bar {
	width: 50%;
}
.wizard-dot {
	background-color: #06c;
	border-radius: 50%;
	display: block;
	position: absolute;
	height: 3rem;
	left: 50%;
	margin-left: -1.5rem;
	top: 2rem;
	width: 3rem;
}
.wizard-dot:after {
	border-radius: 50%;
	content: '';
	height: 2rem;
	left: .5rem;
	position: absolute;
	top: .5rem;
	width: 2rem;
}
.wizard-step-done > span.wizard-dot::after {
	background-color: #fff;
}
.wizard-step-done > a.wizard-dot::after {
	background-color: rgba(255,255,255,.5);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.wizard-step-done > a.wizard-dot:hover::after {
	background-color: transparent;
}
.wizard-step-doing > .wizard-dot::after {
	background-color: #06c;
}
.wizard-step-todo > .wizard-dot {
	background-color: #e0e0e0;
}
.wizard-info {
	color: #5a6772;
	margin-top: .5rem;
	padding: 0 1rem;
	text-align: center;
}

/* TREE VIEW */
.tree-view,
.tree-view .has-subitems {
	margin-left: -1rem;
}
.tree-view ul {
	padding-left: 2rem;
}
.tree-view a {
	color: #1c2024 !important;
	padding: .125rem .25rem;
}
.tree-view .caret:focus,
.tree-view .caret:hover {
	background-color: transparent;
}
.tree-view .caret {
	padding-left: 0;
	padding-right: 0;
	width: .75rem;
}
.tree-view .caret .fa::before {
	color: #1c2024;
	content: '\f0d7';
}
.tree-view .caret.collapsed .fa::before {
	content: '\f0da';
}
.tree-view .folder .fa::before {
	color: #f0ad4e;
	content: '\f07c';
	margin-right: .5rem;
}
.tree-view .collapsed + .folder .fa::before {
	content: '\f07b';
}
.tree-view .fa-folder {
	color: #f0ad4e;
}
.tree-view .fa-file-pdf,
.tree-view .fa-file-powerpoint {
	color: #d9534f;
}
.tree-view .fa-file-word {
	color: #5bc0de;
}
.tree-view .fa-file-excel {
	color: #5cb85c;
}

/* SCROLL TOP */
#scroll-top-btn {
	background-color: rgba(0,102,204,.7);
	border-color: #fff;
	border-radius: 50%;
	bottom: 1rem;
	display: none;
	height: 3rem;
	padding: .375rem;
	position: fixed;
	right: 1rem;
	width: 3rem;
	z-index: 99;
}
#scroll-top-btn:hover {
	background-color: #06c;
}

/* UTILITY */
.border,
.border-bottom,
.border-left,
.border-right,
.border-top {
	border-color: #ccc !important;
}
.section-grey {
	background-color: #f0f0f0;
}
.section-dark-grey {
	background-color: #5a6772;
}

/* Fix iOS horizontal scrolling */
.table-responsive .sr-only {
	position: fixed;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	/* TABS */
	.nav-tabs .nav-link.active,
	.nav-tabs .nav-link.active:focus,
	.nav-tabs .nav-link.active:hover {
		border-bottom-color: transparent;
	}
}