/*!
 * Sogei UI Kit 4
 * author: dgalloppa@sogei.it
 */

#full-page {
	background-color: #036;
	background-image: radial-gradient(#06c, #036 90%);
	height: 100%;
}
#full-page > body {
	background-color: transparent;
	height: 100%;
}
#full-page #page-header {
	background-color: transparent;
	border-bottom: 0;
}
#login-form,
.login-form {
	background-color: #fff;
	padding: 1rem 1.5rem;
	max-width: 20rem;
}
#full-page #page-footer {
	background-color: transparent;
	color: #fff;
	text-align: center;
}
#full-page hr {
	border-color: rgba(255,255,255,.2);
	width: 100%;
}
#error-msg {
	color: #fff;
}
#error-msg a:not(.btn) {
	color: #fff;
	text-decoration: underline;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	#login-form,
	.login-form {
		padding: 2rem;
		max-width: 25rem;
	}
}