/*!
 * Sogei UI Kit - Copyright Sogei S.p.A.
 * author: dgalloppa@sogei.it
 */
#page-header h1,
#page-footer h1 {
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 0;
}
#page-header .logo,
#page-footer .logo {
	margin-bottom: 10px;
	max-height: 38px;
	max-width: 100%;
}
#page-header {
	border-bottom: 1px solid #fff;
}

/* HEADER */
#agenzia-header {
	background-color: #036;
	color: #fff;
	height: 48px;
}
#agenzia-header p > a,
#agenzia-header p > a:hover,
#agenzia-header p > a:visited {
    color: #fff;
}
#page-header {
	background-color: #06c;
	color: #fff;
	padding-top: 15px;
}
#page-header h1 > small {
	color: inherit;
	display: block;
	font-weight: 600;
	font-size: .7em;
	margin-top: 10px;
}
#page-header hr {
	border-color: rgba(255,255,255,.2);
	margin: 9px 0 10px;
}
#page-header .header-links a {
	color: #fff;
	display: inline-block;
}
#page-header .header-links .fa-info-circle {
	margin-right: 0;
}

/* USER */
#user-info {
	background-color: #fff;
	border-top: 2px solid transparent;
	color: #1c2024;
	margin: 0 -15px;
	padding: 13px 15px;
}
#user-collapse a {
	display: block;
	margin: 10px 1em 0 0;
}
#user-collapse a:last-child {
	margin-right: 0;
}
#open-user-info {
	background-color: transparent;
	border: 0;
	margin-top: .2em;
	padding: 0;
}
#open-user-info:before {
	content: '\f077';
	font-family: 'FontAwesome';
}
#open-user-info.collapsed:before {
	content: '\f078';
}

/* SITI */
.language {
	margin-bottom: 0;
}
.language > li > a {
	border-width: 2px;
	font-weight: 600;
	min-width: 3em;
}
.language > li {
	margin-right: 0;
}
.language > li > .btn {
	color: #fff;
	font-family: "Titillium Web","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	padding: 10px 13px;
}
.language > li > .btn:focus,
.language > li > .btn:hover,
.language > li.active > .btn {
	background-color: #06c;
	border-color: #06c;
}
.social > li {
	margin-left: .5em;
}
.social > li > a {
	border-radius: 50%;
	height: 34px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 34px;
}
.social .fa {
	margin-right: 0;
}

/* FOOTER */
#page-footer {
	background-color: #30373d;
	color: #fff;
	padding: 20px 0;
}
#page-footer hr {
	border-color: #444e57;
}
#page-footer .text-dark {
	color: #c6cace;
}
#page-footer a {
	color: #65dde0;
	font-weight: 600;
	text-decoration: underline;
}
#page-footer a:hover {
	color: #fff;
}
#page-footer .social .btn-primary {
	background-color: #65dde0;
	border-color: #65dde0;
	color: #30373d;
}
#page-footer .social .btn-primary:hover {
	background-color: #fff;
	border-color: #fff;
}
#page-footer .footer-links > li {
	margin: 10px 2em 0 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	#page-header h1,
	#page-footer h1 {
		font-size: 2.3em;
		margin-top: 10px;
	}
	#page-header .logo,
	#page-footer .logo {
		max-height: 76px;
	}

	/* HEADER */
	#agenzia-header p {
		font-family: 'Titillium Web','Helvetica Neue','Helvetica','Arial',sans-serif;
		font-size: 1.2em;
		font-weight: 600;
		margin-top: .7em;
	}
	#page-header {
		min-height: 151px;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	#page-header .header-links .fa-info-circle {
		margin-right: .5em;
	}
	#header-siti .btn-primary:not(:hover) {
		background-color: #fff;
	    border-color: #fff;
	    color: #06c;
	}
	
	/* USER */
	#user-info {
		border: 2px solid transparent;
		margin: 0;
	}
	#user-collapse {
		display: block;
		height: auto !important;
	}
	#user-collapse .user-links a {
		display: inline-block;
	}
	
	/* FOOTER */
	#page-footer .footer-links {
		display: inline-block;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* HEADER */
	#page-header h1,
	#page-footer h1 {
		margin-bottom: 0;
	}
}
