/*!
 * Sogei UI Kit - Copyright Sogei S.p.A.
 * author: dgalloppa@sogei.it
 */
/* CSS specifico per le applicazioni con Header, Menu principale e Footer ridotti */
#page-header hr,
#page-footer hr {
	margin: 4px 0 5px;
}

/* USER */
#user-info {
	padding-bottom: 8px;
	padding-top: 8px;
}
#user-info .user-only {
	padding-top: .5em;
}

/* FOOTER */
#page-footer {
	padding: 10px 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	#page-header .logo,
	#page-footer .logo {
		margin-bottom: 0;
		max-height: 54px;
	}

	/* HEADER */
	#page-header {
		min-height: auto;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	#page-header h1 {
		margin-bottom: 10px;
		margin-top: 0;
	}
	#page-header hr {
		margin-bottom: 0;
	}

	/* MENU TOP */
	.navbar-nav > li > a {
		border-top-width: 1px;
		font-size: 1em;
		padding-bottom: 8px;
		padding-top: 7px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* HEADER */
	#page-header h1 {
		margin-bottom: 0;
	}
}