/*!
 * Sogei UI Kit - Copyright Sogei S.p.A.
 * author: dgalloppa@sogei.it
 */
/* HEADER */
#agenzia-header {
	background-color: #30373d;
}
#page-header {
	background-color: #f0f0f0;
	border-bottom-color: transparent;
	color: #5a6772;
}
#page-header hr {
	border-color: rgba(0,0,0,.1);
}
#page-header .header-links a,
#page-header .navbar-toggle .fa {
	color: #5a6772;
}
.language > li > .btn:focus,
.language > li > .btn:hover,
.language > li.active > .btn {
	background-color: #0b7d89;
	border-color: #0b7d89;
}

/* USER */
#user-info {
	border-color: #0b7d89;
}

/* MENU TOP */
.navbar {
	background-color: #0d5d94;
}
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover,
.navbar-nav > .active > a,
.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover,
.navbar-nav > .open > a,
.navbar-nav > .open > a:focus,
.navbar-nav > .open > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
	color: #0d5d94;
}
#servizi-accedi {
	background-color: #00a2ff;
	color: #fff;
}
#servizi-accedi:hover {
	color: #1c2024;
}

/* MENU LEFT */
#menu-left-title {
	background-color: #0d5d94;
}
#menu-left {
	border-color: #0d5d94;
}
#menu-left .divider-title {
	background-color: #0d5d94;
}

/* ICONS */
h1 .fa, h2 .fa, h3 .fa, h4 .fa {
	background-color: #0b7d89;
}

/* TITLE */
h1.underline, h2.underline, h3.underline, h4.underline {
	border-bottom-color: #0b7d89;
}

/* LINK */
a:hover,
#main a:not(.btn):visited:hover {
	color: #00a2ff;
}

/* PANEL */
.panel-primary {
	border-color: #0d5d94;
}
.panel-primary > .panel-heading {
	background-color: #0d5d94;
	border-color: #0d5d94;
}
.panel-info {
	border-color: #0b7d89;
}
.panel-info > .panel-heading {
	background-color: #0b7d89;
	color: #fff;
}

/* TABS */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	border-top-color: #0b7d89;
}

/* COLLAPSIBLE */
#main .panel-collapsible.panel-info > .panel-heading > a {
	color: #fff !important;
}

/* TABLE */
.table > thead > tr > th {
	color: #0d5d94;
}
.table-header > thead > tr > th {
	background-color: #0d5d94;
	color: #fff;
}
caption {
	color: #0d5d94;
}

/* PAGINATION */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	background-color: #0d5d94;
}

/* ENTRYPOINT */
.btn-default.btn-entrypoint:not(:hover) {
	border-color: #0d5d94;
	color: #0d5d94 !important;
}
.btn-primary.btn-entrypoint:not(:hover) {
	background-color: #0d5d94;
	border-color: #0d5d94;
}
.btn-info.btn-entrypoint:not(:hover) {
	background-color: #0b7d89;
	border-color: #0b7d89;
	color: #fff !important;
}
.btn-default.btn-entrypoint:active,
.btn-default.btn-entrypoint:hover,
.btn-default.btn-entrypoint:active:hover,
.btn-info.btn-entrypoint:active,
.btn-info.btn-entrypoint:hover,
.btn-info.btn-entrypoint:active:hover {
	background-color: #00a2ff;
	border-color: #00a2ff;
}

/* PROGRESS BAR */
.progress-bar-done {
	background-color: #0b7d89;
}
.progress-bar-doing {
	background-color: #0d5d94;
}
.progress-bar-done > a:active,
.progress-bar-done > a:hover,
.progress-bar-done > a:active:hover {
	background-color: #00a2ff;
}

/* FORM */
label,
legend,
.input-group-addon {
	color: #0d5d94;
}

/* BUTTON */
.btn-primary:active,
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-default:active,
.btn-default:hover,
.btn-default:active:hover,
.btn-default:active:focus {
	background-color: #00a2ff;
	border-color: #00a2ff;
	color: #fff;
}
a.btn-default:active,
a.btn-default:hover,
a.btn-default:active:hover {
	border-color: #00a2ff;
	color: #00a2ff;
}

/* CAROUSEL */
.carousel-indicators .active {
	background-color: #0b7d89;
	border-color: #0b7d89;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* HEADER */
	#header-siti .btn-primary:not(:hover) {
		background-color: #0d5d94;
		border-color: #0d5d94;
		color: #fff;
	}

	/* MENU */
	.navbar-nav > li > a:hover {
		border-color: #00a2ff;
		color: #00a2ff;
	}
	.navbar-nav > li.active > a,
	.navbar-nav > li.active > a:hover {
		border-color: #0d5d94;
		color: #0d5d94;
	}
	.dropdown-menu > li > a {
		color: #0d5d94;
	}
	.dropdown-menu > li > a:focus,
	.dropdown-menu > li > a:hover {
		background-color: #0d5d94;
		color: #fff;
	}

	/* TABLE */
	.table:not(.table-bordered),
	.table:not(.table-bordered) > thead > tr > th {
		border-color: #0d5d94;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* MENU */
	#menu-left .divider {
		border-color: #0d5d94;
	}
}