
.version {
	color: #777;
	float: right;
	font-size: .9em;
	font-weight: 600;
	margin-left: .5em;
}
abbr {
	font-weight: 600;
}
.guide-number {
	bottom: 0;
	color: #fff;
	font-weight: 700;
	margin-bottom: .5em;
	right: 15px;
	position: absolute;
	text-shadow: .1em .1em 0 rgba(0,0,0,.5);
}
#browser {
	padding-bottom: 0;
}
#browser .fa {
	color: #66a5e3;
	display: block;
	font-size: 4em;
	margin: 5px 0;
}
#browser p {
	color: #fff;
}
#browser .col-xs-4:hover .fa {
	color: #06c;
}
#browser .col-xs-4:hover p {
	color: inherit;
}
#temi .card > .panel-image {
	height: 182px;
	padding: 15px 0;
}
#temi .card > .panel-body > .collapse {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
#it-logo {
	background-color: #06c;
}
#sogei-logo {
	background-color: #f0f0f0;
}
#ae-logo {
	background-color: #f0f0f0;
}
#dm-logo {
	background-color: #f0f0f0;
}
#sts-logo {
	background-color: #005a8c;
	padding-top: 50px !important;
}
#gdf-logo {
	background-color: #f0f0f0;
}
.link-palette.collapsed:before {
	content: '\f196';
}
.link-palette:before {
	content: '\f147';
	display: inline-block;
	font-family: 'FontAwesome';
	margin-right: .5em;
}
.color-palette {
	border-radius: 10px;
	color: #fff;
	font-size: 1.5em;
	font-weight: 600;
	margin: 20px 0;
	padding: 1.5em 0;
	text-align: center;
}
[id='0d5d94'] {
	background-color: #0d5d94;
}
[id='0b7d89'] {
	background-color: #0b7d89;
}
[id='00a2ff'] {
	background-color: #00a2ff;
}
[id='004080'] {
	background-color: #004080;
}
[id='eb641f'] {
	background-color: #eb641f;
}
[id='039'] {
	background-color: #039;
}
[id='6886c4'] {
	background-color: #6886c4;
}
[id='f3cb50'] {
	background-color: #f3cb50;
	color: #1c2024;
}
[id='005a8c'] {
	background-color: #005a8c;
}
[id='adcdec'] {
	background-color: #adcdec;
	color: #1c2024;
}
[id='357'] {
	background-color: #357;
}
[id='eba43e'] {
	background-color: #eba43e;
	color: #1c2024;
}
blockquote {
	font-size: 1em;
}
.fa-3x {
	margin-top: 10px;
}
.label + .label {
	margin: 0 0 1em 1em;
}
.view-source {
	display: block;
	font-weight: 600;
	margin: 20px 0 10px;
	text-align: right;
}
.view-source:not(:hover) {
	text-decoration: none !important;
}
.view-source:before {
	content: '\f078';
	display: inline-block;
	font-family: 'FontAwesome';
	margin-right: .5em;
}
.view-source:hover:before {
	content: '\f077';
}
.view-source.collapsed:before {
	content: '\f054';
}
.view-source.collapsed:hover:before {
	content: '\f078';
}
xmp {
	margin: 0;
}
pre {
	border-radius: 0;
	font-size: 14px;
	padding: 0 15px;
}
.column {
	background-color: #fffcbb;
	margin: 10px 0 15px;
	padding: 25px 0 35px;
	text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#temi .card > .panel-body {
		min-height: 13em;
	}
	.column {
		background-color: #f2dede;
	}
	#guida .card > .panel-image > .fa {
		font-size: 5em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container-fluid > .navbar-collapse {
		margin-right: -15px;
	}
	.navbar-nav {
		width: 100%;
	}
	.navbar-nav > li {
		text-align: center;
		width: 20%;
	}
	#temi .card > .panel-body {
		min-height: 14em;
	}
	.column {
		background-color: #dff0d8;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.column {
		background-color: #039;
	}
}