<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:s="http://www.sogei.it/dogane/jsf">

	<ui:composition template="/pages/layouts/basic-layout.xhtml">
		<ui:define name="content">
			<p:outputPanel id="error-panel">
				<div class="">
					<h2 class="no-borders">#{msg['errorPage.title']}</h2>
				</div>
				<div class="">
					<h3>ERRORE!</h3>
                	<ui:fragment rendered="#{errorHandler.statusCode.equalsIgnoreCase(errorHandler.blank)}">
                    	<br/>
                    	<h:outputText value="Codice errore: 401"/>
                    	<br/>
                    	<h:outputText value="Descrizione: Utente non autenticato"/>
                	</ui:fragment>
                	<ui:fragment rendered="#{!errorHandler.statusCode.equalsIgnoreCase(errorHandler.blank)}">
                    	<br/>
                    	<!-- h:outputText value="Codice errore: #{errorHandler.statusCode}"/>
                    	<br/>
                    	<h:outputText value="Descrizione: #{errorHandler.message}"/>
                    	<br/>
                    	<h:outputText value="URI della richiesta: #{errorHandler.requestURI}"/-->
                    	<h:outputText value="Attenzione, si è verificato un problema."/>
                	</ui:fragment>
				</div>
			</p:outputPanel>
		</ui:define>
	</ui:composition>
</html>