<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:s="http://www.sogei.it/dogane/jsf">
	<ui:composition template="/pages/layouts/basic-layout.xhtml">		
		<ui:define name="content">		
			<!-- div class="">
				<h2 class="no-borders"> #{msg['loginPage.loginTitle']}</h2>
			</div-->
			<div class="">
				<h:form id="loginform">		
					<p:messages globalOnly="true" autoUpdate="true" showDetail="true" closable="true" />		    			       
					<s:logout success="logout" logoutLabel="logout"/>
			    </h:form>
		   	</div>
		</ui:define>
	</ui:composition>
</html>